<!-- <div class="login-mobile-component h-100">
  <div class="hero-wrapper bg-composed-wrapper h-100 position-absolute">
    <div class="d-flex flex-grow-1 w-100 h-100">
      <div class="bg-composed-wrapper--image opacity-9"
        style="background-image: url('assets/images/hero-bg/hero-9-1.jpg');">
      </div>
      <div class="bg-composed-wrapper--bg bg-color-e-elaje opacity-5">
      </div>
      <div class="bg-composed-wrapper--content text-center d-flex flex-column justify-content-between py-5 px-4">
        <div class="mx-auto w-75">
          <img alt="e-elaje application service santé Responsive image" class="img-fluid"
            src="assets/images/logo-e-elaje.svg">
          <p class="text-white mt-4 mb-0 font-size-md">.
          </p>
        </div>
        <a [routerLink]="['/login-mobile-login']" class="btn btn-xl btn-pill btn-secondary mx-5">
          <span class="btn-wrapper--label text-primary">
            Connexion
          </span>
        </a>
        <a [routerLink]="['/login-mobile-create-account']" class="btn btn-lg btn-outline-secondary btn-pill mx-5">
          <span class="btn-wrapper--label">Créer un compte</span>
        </a>
      </div>
    </div>
  </div>
</div> -->


<div class="login-mobile-component h-100">
  <div class="app-wrapper bg-white">
    <div class="app-main">
      <div class="app-content p-0">
        <div class="app-inner-content-layout--main">
          <div class="flex-grow-1 w-100 d-flex align-items-center">
            <div class="bg-composed-wrapper--content">
              <div class="hero-wrapper bg-composed-wrapper bg-arielle-smile min-vh-100">
                <div class="flex-grow-1 w-100 d-flex align-items-center">
                  <div class="bg-composed-wrapper--image"
                    style="background-image: url('assets/images/hero-bg/hero-9-1.jpg');"></div>
                  <div class="bg-composed-wrapper--bg bg-color-e-elaje opacity-5"></div>
                  <div class="bg-composed-wrapper--content text-center">
                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 text-center text-white py-5 px-4">
                      <div class="d-flex flex-column justify-content-between" style="height: 620px;">
                        <div class="mx-auto mt-3 w-75">
                          <img alt="e-elaje application service santé Responsive image" class="img-fluid"
                            src="assets/images/logo-e-elaje.svg">
                          <p class="text-white mt-4 mb-0 font-size-md">La nouvelle solution de gestion pour les professionels de la santé.</p>
                        </div>
                        <div class="mx-auto">
                        <a [routerLink]="['/login-mobile-login']" class="btn btn-xl btn-pill btn-secondary">
                          <span class="btn-wrapper--label text-primary">
                            Connexion
                          </span>
                        </a>
                      </div>
                      <div class="mx-auto">
                        <a [routerLink]="['/login-mobile-create-account']"
                          class="btn btn-lg btn-outline-secondary btn-pill">
                          <span class="btn-wrapper--label">Créer un compte</span>
                        </a>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="hero-footer pb-4">
                  <ul class="nav nav-pills nav-neutral-secondary">
                    <li class="nav-item">
                      <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Facebook">
                        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Twitter">
                        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Google">
                        <fa-icon [icon]="['fab', 'google']"></fa-icon>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Instagram">
                        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
