<table class="table table-hover text-nowrap mb-0">
    <thead>
        <tr>
            <th class="text-center">Libelle</th>
            <th class="text-center">Modifier</th>
            <th class="text-center">Supprimer</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let classeMedica of classeMedicaments | filterAll: inputSearchText" class="text-center">
            <td class="font-weight-bold">
                {{classeMedica.libelle}}
            </td>

            <td class="text-center">
                <button (click)="editClasseMedicament(classeMedica)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </button>
            </td>
            <td class="text-center">
                <button (click)="deleteClasseMedicament(classeMedica)" class="btn btn-sm btn-danger shadow-none py-1 px-2"
                    tooltip="Configurer">
                    <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>
