<div class="card card-box saisie-type-consultation-component">
    <div class="card-header page-bg d-flex justify-content-between">

        <h5 class="modal-title text-primary pl-4">Ajouter un médicament</h5>
        <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body p-0">
        <form [formGroup]="addMedicamentForm" (ngSubmit)="add()">
            <div class="p-5">
                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-8 col-form-label">Nom Commercial</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="nomCommercial"
                                placeholder="Nom Commercial" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Désignation</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="designation"
                                placeholder="Désignation" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Posologie</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="posologie"
                                placeholder="Posologie" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Forme</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="forme" placeholder="Forme" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Durée</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="duree" placeholder="Durée" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Quantité</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="quantite" placeholder="Quantité" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Dosage</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="dosage" placeholder="Dosage" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Présentation</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="presentation"
                                placeholder="Présentation" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Consigne</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="consigne" placeholder="Consigne" />
                        </div>
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Prix de vente</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="prixVente"
                                placeholder="Prix de vente" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Prix d'achat</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="prixAchat"
                                placeholder="Prix d'achat" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-9 col-form-label">Prix Hospitalier</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="prixHospitalier"
                                placeholder="Prix Hospitalier" />
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col">
                        <label class="col-sm-9 col-form-label">Nature de produit</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="natureProduit"
                                placeholder="Nature de produit" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Base de remboursement PPV</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="baseRemboursementPPV"
                                placeholder="Base de remboursement PPV" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Surdosage</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="surdosage"
                                placeholder="Surdosage" />
                        </div>
                    </div>
                </div>

                <!--<div class="form-row">


                </div>-->

                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Code Barre</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="codeBarre"
                                placeholder="Code Barre" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Code ATC</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="codeAtc" placeholder="Code ATC" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-6 col-form-label">Type</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="type" placeholder="Type" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Prix de base remboursement PPM</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="prixBRemboursementPPM"
                                placeholder="Prix de base remboursement PPM" />
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Prix de base remboursement</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" formControlName="prixBaseRemboursement"
                                placeholder="Prix de base remboursement" />
                        </div>
                    </div>

                    <div class="col">
                        <label class="col-sm-6 col-form-label">DCIs</label>
                        <div class="col-sm-12">
                            <select class="form-control" formControlName="dcis">
                            
                                <option *ngFor="let dci of initialState.dcis" [value]="dci">{{dci.libelle}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Utilisation</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="utilisation"
                                placeholder="Utilisation"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Indications</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="indications"
                                placeholder="Indications"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <label class="col-sm-12 col-form-label">Contre indications</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" formControlName="contreIndications"
                                placeholder="Contre indications"></textarea>
                        </div>
                    </div>
                </div>
                <!--<div class="position-relative row form-group">

                </div>-->

            </div>

            <div class="modal-footer">
                <button class="btn m-2 btn-primary" type="submit"> Ajouter
                </button>
            </div>
        </form>

    </div>
</div>