<div *ngFor="let alert of defaultAlerts">
  <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
</div>

<!-- <app-example-wrapper-simple sectionHeading="Création rendez-vous"> -->
<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Création rendez-vous</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body p-0">




    <tabset type="tabs" class="tabs-animated tabs-animated-line mt-5 mt-lg-0 tab-container pt-5">
      <tab>
        <ng-template tabHeading class="pr-5">Information de rdv</ng-template>
        <form (ngSubmit)="remplirRdv(f)" #f="ngForm">
          <div class="px-5 pt-5 pb-4">
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="dateNaissance">Date actuelle</label>
              <div class="col-sm-2">
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                  class="form-control" placeholder="Select date" type="text" id="dateDebut" name="dateDebut"
                  #dateDebut="ngModel" required [(ngModel)]="myAgenda.dateDebut" [ngClass]="{ 'is-invalid': f.submitted && dateDebut.invalid ,
                       'is-valid': f.submitted && dateDebut.valid }">
              </div>
              <div class="col-sm-2">
                <input class="form-control" id="heureArrivee" name="heureArrivee" required #heureArrivee="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && heureArrivee.invalid ,
                       'is-valid': f.submitted && heureArrivee.valid }" [ngModel]="myAgenda.heureArrivee" type="text">
              </div>
              <label class="col-sm-2 col-form-label" for="dateFin">au :</label>

              <div class="col-sm-2">


                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                  class="form-control" placeholder="Select date" type="text" id="dateFin" name="dateFin"
                  #dateFin="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && dateFin.invalid ,
                       'is-valid': f.submitted && dateFin.valid }" [(ngModel)]="myAgenda.dateFin">
                <div class="invalid-feedback" *ngIf="!dateFin.valid">Vous devez saisir date entré</div>

              </div>
              <div class="col-sm-2">
                <input class="form-control" id="heureSortie" name="heureSortie" [ngModel]="myAgenda.heureSortie"
                  type="text" #heureSortie="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && heureSortie.invalid ,
                       'is-valid': f.submitted && heureSortie.valid }">
                <div class="invalid-feedback" *ngIf="!heureSortie.valid">Vous devez saisir heure sortie</div>

              </div>
            </div>
            <!--<div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="dateNaissance">Date d'affectation</label>
          <div class="col-sm-2">
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker class="form-control"
                     placeholder="Select date"
                     type="text"
                     id="dateDebutAffectation"
                     name="dateDebutAffectation"
                     #dateDebutAffectation="ngModel"
                     required
                     [(ngModel)]="myAgenda.dateDebutAffectation"
                     >
          </div>
          <div class="col-sm-2">
              <input class="form-control"
                     id="heureArriveeAffectation"
                     name="heureArriveeAffectation"
                     required
                     #heureArriveeAffectation="ngModel"
                     [ngModel]="myAgenda.heureArriveeAffectation"
                     type="text">
          </div>
          <label class="col-sm-2 col-form-label" for="dateFin">au :</label>

          <div class="col-sm-2">


              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                     bsDatepicker class="form-control"
                     placeholder="Select date" type="text"
                     id="dateFinAffectation"
                     name="dateFinAffectation"
                     #dateFinAffectation="ngModel"
                     required

                     [(ngModel)]="myAgenda.dateFinAffectation">

          </div>
          <div class="col-sm-2">
              <input class="form-control"
                     id="heureSortieAffectation"
                     name="heureSortieAffectation"
                     [ngModel]="myAgenda.heureSortieAffectation"
                     type="text"
                     #heureSortieAffectation="ngModel"
                     required>
          </div>
        </div>-->

            <!-- Civilité -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="civilite">Civilité</label>
              <div class="col-sm-4">
                <select class="form-control" name="civilite" id="civilite"
                  [ngModel]="infoComplementaireAgenda.civilite">
                  <option> selectionner une civilité</option>
                  <option value="Mme">Mme</option>
                  <option value="Mlle">Mlle</option>
                  <option value="bebe">bebe</option>
                  <option value="Enf.">Enf.</option>
                  <option value="M.">M.</option>
                </select>
              </div>
              <div class="col-md-2">
                <div class="position-relative form-check form-check-inline">
                  <label class="form-check-label" for="sansRdv">
                    <input class="form-check-input" id="sansRdv" type="checkbox" name="sansRdv"
                      [ngModel]="myAgenda.sansRdv">Sans rdv</label>
                </div>
              </div>
            </div>
            <!-- Nom -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="lastname">Nom</label>
              <div class="col-sm-4">
                <input class="form-control " [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid ,
                             'is-valid': f.submitted && lastname.valid }" id="lastname" #lastname="ngModel" required
                  name="lastname" [ngModel]="infoComplementaireAgenda.lastname" type="text">
                <div class="invalid-feedback" *ngIf="!lastname.valid">Vous devez selectionné un patient</div>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary m-2" (click)="selectionnerPatient()">Selectionner un
                  patient</button>
              </div>
              <!--<label class="col-sm-2 col-form-label" for="dateConsult">Praticien </label>
            <div class="col-sm-4">
                <select class="form-control" id="medecin" name="medecin" [ngModel]="myAgenda.medecin">
                    <option>Selectionner praticien </option>
                    <option  *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
                </select>
            </div>-->
            </div>
            <!-- Prénom -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="firstname">Prénom</label>
              <div class="col-sm-4">
                <input class="form-control" required [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid ,
                'is-valid': f.submitted && firstname.valid }" id="firstname" #firstname="ngModel" name="firstname"
                  [ngModel]="infoComplementaireAgenda.firstname" type="text">
                <div class="invalid-feedback" *ngIf="!firstname.valid">Vous devez selectionné un patient</div>
              </div>

              <label class="col-sm-2 col-form-label" for="salle">Salle </label>
              <div class="col-sm-2">
                <select class="form-control" name="salle" #salle="ngModel" id="salle" [ngModel]="myAgenda.salle"
                  required [ngClass]="{ 'is-invalid': f.submitted && salle.invalid ,
                    'is-valid': f.submitted && salle.valid }">
                  <!--<option></option>-->
                  <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="!salle.valid">Vous devez selectionné une salle</div>
              </div>
            </div>
            <!-- Type consultation -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="typeConsultation">Type consultation</label>
              <div class="col-sm-4">
                <select class="form-control" id="typeConsultation" #typeConsultation="ngModel" required 
                [ngClass]="{ 'is-invalid': f.submitted && typeConsultation.invalid ,
                'is-valid': f.submitted && typeConsultation.valid }" name="typeConsultation"
                  [ngModel]="myAgenda.typeConsultation" (change)="selectTypeConsult($event)">
                  <option> Selectionner un type</option>
                  <option *ngFor="let type of typeConsultations" value="{{type.id}}">{{type.libelle}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="!typeConsultation.valid">Vous devez selectionné type de
                  consultation
                </div>
              </div>
              <label class="col-sm-2 col-form-label" for="description">Description </label>
              <div class="col-sm-2">
                <input class="form-control" id="description" name="description" [ngModel]="myAgenda.description"
                  type="text">
              </div>
              <button class="btn btn-neutral-danger ml-3 btn-sm" tooltip="Remove" type="button">
                <span class="btn-wrapper--icon">
                  <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
                </span>
              </button>
              <!--
            <label class="col-sm-2 col-form-label" for="statut_rdv">Staut </label>
            <div class="col-sm-2">
                <input class="form-control" id="statut_rdv" name="statut_rdv" [ngModel]="myAgenda.statut"
                                        type="text">

            </div>
            <label class="col-sm-2 col-form-label" for="legende_rdv">legende </label>
            <div class="col-sm-2">
              <input class="form-control" id="legende_rdv" name="legende_rdv" [ngModel]="myAgenda.legende"
                                      type="text">
            </div>-->
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn m-2 btn-primary" type="submit">
              <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
              Sauvegarder les modifications
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
          </div>

        </form>
      </tab>
      <tab>
        <ng-template tabHeading>
          Action
        </ng-template>
        <table style="height: 400px;" class="d-flex align-items-start">
          <tr>
            <td class="p-4"><button type="button" class="btn btn-primary m-2"
                (click)="goToPage(idRdv,'medical')">Dossier
                patient</button></td>
            <td class="p-4"><button type="button" class="btn btn-primary m-2"
                (click)="goToPage(idRdv,'medical')">Dossier
                médical</button></td>
            <td class="p-4">
              <input type="radio" class="form-check-input" value="En salle" [checked]="myAgenda.statut=='En salle'"
                id="en_salle_rdv" name="etat_rdv" (change)="changeEtatRdv('En salle',3)" />
              <label class="form-check-label" for="en_salle_rdv">Patient en salle</label>
            </td>
            <td class="p-4">
              <input type="radio" class="form-check-input" [checked]="myAgenda.statut=='Vu'" value="Vu" id="vu_rdv"
                name="etat_rdv" (change)="changeEtatRdv('Vu',4)" />
              <label class="form-check-label" for="vu_rdv">Patient vu</label>
            </td>
          </tr>
        </table>
      </tab>

    </tabset>










    <form (ngSubmit)="remplirRdv(f)" #f="ngForm">
      <div class="px-5 pt-5 pb-4">
        <!-- Date actuelle -->
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="dateNaissance">Date actuelle</label>
          <div class="col-sm-2">
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control"
              placeholder="Select date" type="text" id="dateDebut" name="dateDebut" #dateDebut="ngModel" required
              [(ngModel)]="myAgenda.dateDebut" [ngClass]="{ 'is-invalid': f.submitted && dateDebut.invalid ,
                   'is-valid': f.submitted && dateDebut.valid }">
          </div>
          <div class="col-sm-2">
            <input class="form-control" id="heureArrivee" name="heureArrivee" required #heureArrivee="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && heureArrivee.invalid ,
                   'is-valid': f.submitted && heureArrivee.valid }" [ngModel]="myAgenda.heureArrivee" type="text">
          </div>
          <label class="col-sm-2 col-form-label" for="dateFin">au :</label>
          <div class="col-sm-2">
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control"
              placeholder="Select date" type="text" id="dateFin" name="dateFin" #dateFin="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && dateFin.invalid ,
                   'is-valid': f.submitted && dateFin.valid }" [(ngModel)]="myAgenda.dateFin">
            <div class="invalid-feedback" *ngIf="!dateFin.valid">Vous devez saisir date entré</div>
          </div>
          <div class="col-sm-2">
            <input class="form-control" id="heureSortie" name="heureSortie" [ngModel]="myAgenda.heureSortie" type="text"
              #heureSortie="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && heureSortie.invalid ,
                   'is-valid': f.submitted && heureSortie.valid }">
            <div class="invalid-feedback" *ngIf="!heureSortie.valid">Vous devez saisir heure sortie</div>
          </div>
        </div>
        <!-- Civilité -->
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="civilite">Civilité</label>
          <div class="col-sm-4">
            <select class="form-control" name="civilite" id="civilite" [ngModel]="infoComplementaireAgenda.civilite">
              <option> selectionner une civilité</option>
              <option value="Mme">Mme</option>
              <option value="Mlle">Mlle</option>
              <option value="bebe">bebe</option>
              <option value="Enf.">Enf.</option>
              <option value="M.">M.</option>
            </select>
          </div>
          <div class="col-md-2">
            <div class="position-relative form-check form-check-inline">
              <label class="form-check-label" for="sansRdv">
                <input class="form-check-input" id="sansRdv" type="checkbox" name="sansRdv"
                  [ngModel]="myAgenda.sansRdv">Sans rdv</label>
            </div>
          </div>
        </div>
        <!-- Nom -->
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="lastname">Nom</label>
          <div class="col-sm-4">
            <input class="form-control " [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid ,
                         'is-valid': f.submitted && lastname.valid }" id="lastname" #lastname="ngModel" required
              name="lastname" [ngModel]="infoComplementaireAgenda.lastname" type="text">
            <div class="invalid-feedback" *ngIf="!lastname.valid">Vous devez selectionné un patient</div>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-primary m-2" (click)="selectionnerPatient()">Selectionner un
              patient</button>
          </div>
        </div>
        <!-- Prénom -->
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="firstname">Prénom</label>
          <div class="col-sm-4">
            <input class="form-control" required [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid ,
            'is-valid': f.submitted && firstname.valid }" id="firstname" #firstname="ngModel" name="firstname"
              [ngModel]="infoComplementaireAgenda.firstname" type="text">
            <div class="invalid-feedback" *ngIf="!firstname.valid">Vous devez selectionné un patient</div>
          </div>

          <label class="col-sm-2 col-form-label" for="salle">Salle </label>
          <div class="col-sm-2">
            <select class="form-control" name="salle" #salle="ngModel" id="salle" [ngModel]="myAgenda.salle" required
              [ngClass]="{ 'is-invalid': f.submitted && salle.invalid ,
                'is-valid': f.submitted && salle.valid }">
              <!--<option></option>-->
              <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="!salle.valid">Vous devez selectionné une salle</div>
          </div>
        </div>
        <!-- Type consultation -->
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="typeConsultation">Type consultation</label>
          <div class="col-sm-4">
            <select class="form-control" id="typeConsultation" #typeConsultation="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && typeConsultation.invalid ,
            'is-valid': f.submitted && typeConsultation.valid }" name="typeConsultation"
              [ngModel]="myAgenda.typeConsultation">
              <option> Selectionner un type</option>
              <option *ngFor="let type of typeConsultations" value="{{type.id}}">{{type.libelle}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="!typeConsultation.valid">Vous devez selectionné type de
              consultation
            </div>
          </div>
          <label class="col-sm-2 col-form-label" for="description">Description </label>
          <div class="col-sm-2">
            <input class="form-control" id="description" name="description" [ngModel]="myAgenda.description"
              type="text">
          </div>
        </div>
      </div>
      <div class="position-relative row form-group">
        <div class="col-sm-4">
          <div class="custom-checkbox custom-control">
            <input class="custom-control-input" id="exampleCustomCheckbox315" type="checkbox">
            <label class="custom-control-label font-size-md" for="exampleCustomCheckbox315">Patient en salle
              d'attente</label>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary m-2" (click)="goToPage(idRdv,'medical')">Dossier patient</button>
      <button type="button" class="btn btn-primary m-2" (click)="goToPage(idRdv,'medical')">Dossier médical</button>
      <button class="btn btn-neutral-danger ml-3 btn-sm" tooltip="Remove" type="button">
        <span class="btn-wrapper--icon">
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </span>
      </button>

      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit">
          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
      </div>

    </form>














  </div>
</div>
<!-- </app-example-wrapper-simple> -->
