<div *ngFor="let alert of defaultAlerts">
  <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
</div>

<!-- <app-example-wrapper-simple sectionHeading="Création rendez-vous"> -->
<div class="card card-box rdv">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">
      <ng-container *ngIf="!idRdv">Création</ng-container>
      <ng-container *ngIf="idRdv">Modification</ng-container>
      rendez-vous</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="card-body p-0">

    <form (ngSubmit)="remplirRdv(f)" #f="ngForm" >

      <div class="no-gutters row">
        <div class="col-sm-9">
          <div class="px-5 pt-5 pb-4">
            <!-- champs hidden-->
            <input class="form-control"  id="lpatient_id" #lastname="ngModel"
            name="lpatient_id" [ngModel]="infoComplementaireAgenda.patient" type="hidden">
            <input class="form-control"  id="legende" #legende="ngModel" required
            name="legende" [ngModel]="myAgenda.legende" type="hidden">
            <input class="form-control"  id="statut" #statut="ngModel" required
            name="statut" [ngModel]="myAgenda.statut" type="hidden">
            <!-- Nom -->


            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="lastname">Nom</label>
              <div class="col-sm-7 input-group" role="group">

                <input class="form-control" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid ,
                      'is-valid': f.submitted && lastname.valid }" id="lastname" #lastname="ngModel" required
                  name="lastname" [ngModel]="infoComplementaireAgenda.lastname" type="text" (input)="searchPat(lastname.value)">
                <div class="invalid-feedback" *ngIf="!lastname.valid">Vous devez selectionné un patient</div>

                <!-- <div class="input-group-append">
                  <button class="btn btn-transition-none shadow-none btn-outline-first selectionner-patient"
                    type="button" (click)="selectionnerPatient()">
                    Sélectionner un patient existe
                  </button>
                </div> -->
              </div>

            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="" >
                  <p *ngFor="let pat of pats$ | async " (click)="selectFamille(pat)" > {{pat.firstname}} {{pat.lastname}} </p>
                </div>
              </div>
            </div>
            <!-- Prénom -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="firstname">Prénom</label>
              <div class="col-sm-7">
                <input class="form-control" required [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid ,
                    'is-valid': f.submitted && firstname.valid }" id="firstname" #firstname="ngModel" name="firstname"
                  [ngModel]="infoComplementaireAgenda.firstname" type="text">
                <div class="invalid-feedback" *ngIf="!firstname.valid">Vous devez selectionné un patient</div>
              </div>
            </div>
            <!-- Date actuelle -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="dateNaissance">Date</label>
              <div class="col-sm-7 input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
                  </span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                  class="form-control" placeholder="Select date" type="text" id="dateDebut" name="dateDebut"
                  #dateDebut="ngModel" required [(ngModel)]="myAgenda.dateDebut" [ngClass]="{ 'is-invalid': f.submitted && dateDebut.invalid ,
                     'is-valid': f.submitted && dateDebut.valid }">
              </div>
            </div>
            <!-- Durée -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label">Heure</label>
              <div class="col-sm-2">
                <input class="form-control" id="heureArrivee" name="heureArrivee" required #heureArrivee="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && heureArrivee.invalid ,
                       'is-valid': f.submitted && heureArrivee.valid }" [ngModel]="myAgenda.heureArrivee" type="text">
              </div>
              <span class="d-flex align-items-center">à</span>
              <div class="col-sm-2">
                <input class="form-control" id="heureSortie" name="heureSortie" [ngModel]="myAgenda.heureSortie"
                  type="text" #heureSortie="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && heureSortie.invalid ,
                       'is-valid': f.submitted && heureSortie.valid }">
                <div class="invalid-feedback" *ngIf="!heureSortie.valid">Vous devez saisir heure sortie</div>
              </div>
            </div>
            <!-- Sans rendez-vous -->
            <div class="position-relative row form-group pl-3 py-2">
              <label class="col-sm-2 col-form-label" for="sansRdv"></label>
              <div class="col-sm-7 pl-2">
                <div class="custom-checkbox custom-control w-100">
                  <input class="col-sm-1 custom-control-input" [checked]="myAgenda.sansRdv" id="sansRdv" type="checkbox" name="sansRdv"
                    [ngModel]="myAgenda.sansRdv">
                  <label class="col-sm-8 custom-control-label font-size-md pl-1" for="sansRdv">Patient sans
                    rendez-vous</label>
                </div>
              </div>
            </div>
            <!-- Civilité -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="civilite">Civilité</label>
              <div class="col-sm-7">
                <select class="form-control" name="civilite" id="civilite"
                  [ngModel]="infoComplementaireAgenda.civilite">
                  <option> selectionner une civilité</option>
                  <option value="Mme">Mme</option>
                  <option value="Mlle">Mlle</option>
                  <option value="bebe">bebe</option>
                  <option value="Enf.">Enf.</option>
                  <option value="M.">M.</option>
                </select>
              </div>
            </div>
            <!-- CIN -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="cin">Cin</label>
              <div class="col-sm-7">
                <input class="form-control" required  id="cin" #cin="ngModel" name="cin"
                  [ngModel]="infoComplementaireAgenda.cin" type="text">

              </div>
            </div>
            <!-- Type consultation -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="typeConsultation">Acte</label>
              <div class="col-sm-7">
                <select class="form-control" id="typeConsultation" #typeConsultation="ngModel" required
                  [ngClass]="{ 'is-invalid': f.submitted && typeConsultation.invalid , 'is-valid': f.submitted && typeConsultation.valid }"
                  name="typeConsultation" [ngModel]="myAgenda.typeConsultation" (change)="selectTypeConsult($event)">
                  <option> Selectionner un type</option>
                  <ng-container *ngFor="let type of typeConsultations">
                    <option value="{{type.id}}">{{type.libelle}}</option>
                  </ng-container>
                </select>
                <div class="invalid-feedback" *ngIf="!typeConsultation.valid">Vous devez selectionné type de
                  consultation
                </div>
              </div>
            </div>
            <!-- Praticien -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="praticien-list">Praticien </label>
              <div class="col-sm-7">
                <select class="form-control" id="praticien-list" name="praticien" [ngModel]="myAgenda.praticien">
                  <option value="">Selectionner praticien </option>
                  <option *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
                </select>
              </div>
            </div>
            <!-- Salle -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="salle">Salle </label>
              <div class="col-sm-7">
                <select class="form-control" name="salle" #salle="ngModel" id="salle" [ngModel]="myAgenda.salle"
                  required [ngClass]="{ 'is-invalid': f.submitted && salle.invalid ,
                                'is-valid': f.submitted && salle.valid }">
                  <!--<option></option>-->
                  <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="!salle.valid">Vous devez selectionné une salle</div>
              </div>
            </div>
            <!-- Note -->
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="description">Note</label>
              <div class="col-sm-7"><textarea class="form-control" id="description" name="description"
                  [ngModel]="myAgenda.description"></textarea></div>
            </div>
          </div>
        </div>


        <div class="col-sm-3 d-flex align-items-start p-0">
          <div
            class="app-inner-content-layout--sidebar app-inner-content-layout--sidebar__lg border-left layout-sidebar-open h-100">
            <div class="card card-box shadow-none rounded-0 border-0">

              <div class="grid-menu px-4 py-5">
                <div class="no-gutters row">

                  <!--<fa-icon [icon]='faLink' class="h3 d-block mb-2 mt-1"></fa-icon>-->

                  <div class="col-12 border-3 border-white">
                    <button
                      class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-neutral-first py-4 px-5"
                      type="button" (click)="selectionnerPatient()">
                      <fa-icon [icon]="['fas', 'search']" class="h3 d-block mb-2 mt-1"></fa-icon>
                      <div class="">Sélectionner un patient existe</div>
                    </button>
                  </div>
                  <div class="col-12 border-3 border-white" >
                    <button
                      class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-neutral-first py-4 px-1"
                      type="button" (click)="goToPage(myAgenda,'fiche-patient')" >
                      <fa-icon [icon]='faFolderOpen' class="h3 d-block mb-2 mt-1"></fa-icon>
                      <div class="">Fiche patient</div>
                    </button>
                  </div>
                  <div class="col-12 border-3 border-white" >
                    <button [disabled]="!myAgenda.lpatient_id || myAgenda.statut=='en cours' || myAgenda.annule"
                      class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-neutral-first py-4 px-1"
                      type="button" (click)="getReglementByRdv()" >
                      <fa-icon [icon]='faFolderOpen' class="h3 d-block mb-2 mt-1"></fa-icon>
                      <div class="">Encaisser </div>
                    </button>
                  </div>
                  <div class="col-12 border-3 border-white">
                    <button
                      class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-neutral-first py-4 px-1"
                      type="button" (click)="goToPage(myAgenda,'dossier-medical')">
                      <fa-icon [icon]='faFolderOpen' class="h3 d-block mb-2 mt-1"></fa-icon>
                      <div class="">Dossier médicale</div>
                    </button>
                  </div>
                  <div class="col-12 border-3 border-white">
                    <button (click)="annulerRdv(idRdv)" [disabled]="!myAgenda.lpatient_id || myAgenda.statut=='vu' || myAgenda.statut=='En salle'"
                      class="btn border-0 w-100 btn-transition-none rounded-0 shadow-none btn-neutral-danger py-4 px-1"
                      type="button">
                      <fa-icon [icon]="['far', 'trash-alt']" class="h3 d-block mb-2 mt-1"></fa-icon>
                      <div class="">Annuler RDV </div>
                    </button>
                  </div>
                </div>
              </div>

              <div class="divider d-lg-block d-none"></div>
              <div class="pl-5 pr-4 py-4">
                <!-- Patient en salle d'attente -->
                <div class="position-relative row form-group mb-0">
                  <div class=" col custom-checkbox custom-control">
                    <input class="custom-control-input"  type="checkbox" [disabled]="!myAgenda.lpatient_id || myAgenda.statut=='vu'"
                     value="En salle" [checked]="myAgenda.statut=='En salle'"
                     id="en_salle_rdv" name="etat_rdv" (change)="changeEtatRdv('En salle',3,$event)">
                    <label class="custom-control-label font-size-md" for="en_salle_rdv">Patient en salle
                      d'attente</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit" >
         <!--<span aria-hidden="true" *ngIf="!myAgenda.lpatient_id" class="spinner-border spinner-border-sm" role="status"></span>-->

          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
      </div>

    </form>
  </div>
</div>
<!-- </app-example-wrapper-simple> -->
