<div class="site-web-elage-patient-acceuil-component">
  <app-nav-header-elaje-patient></app-nav-header-elaje-patient>
  <app-header-acceuil-elaje-pateint></app-header-acceuil-elaje-pateint>
  <app-footer-elaje-pateint></app-footer-elaje-pateint>
</div>
