

  <!--<div class="px-3 pb-3 pt-4">
    <div class="card m-0 shadow-none border-0">
      <h5 class="mb-2 font-weight-normal">
        Compte existant
      </h5>
      <p class="font-size-md mb-5 text-black-50">
        Avez-vous déjà un compte? Remplissez les champs ci-dessous pour vous connecter à votre
        tableau de bord existant.
      </p>
      <div class="card-body">
        <div>
          <alert type="warning" [dismissible]="dismissible" *ngIf="error_auth"> {{error_auth}}
          </alert>
        </div>
        <form (ngSubmit)="remplirUser(f)" #f="ngForm">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="['far', 'user']"></fa-icon>
                  <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
                </span>
              </div>
              <input class="form-control" placeholder="Nom d'utilisateur" type="text"
                [(ngModel)]="user.username" name="username" >-->

<div class="px-3 pb-3 pt-4">
  <div class="card m-0 shadow-none border-0">
    <h5 class="mb-2 font-weight-normal">
      Compte existant
    </h5>
    <p class="font-size-md mb-5 text-black-50 text-justify">
      Avez-vous déjà un compte? Remplissez les champs ci-dessous pour vous connecter à votre
      tableau de bord existant.
    </p>
    <div>
      <div>
        <alert type="warning" [dismissible]="dismissible" *ngIf="error_auth"> {{error_auth}}
        </alert>
      </div>
      <form (ngSubmit)="remplirUser(f)" #f="ngForm" [formGroup]="loginForm">
        <div class="form-group mb-3">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="['far', 'user']"></fa-icon>
              </span>

            </div>
            <input class="form-control" formControlName="username" placeholder="Nom d'utilisateur" type="text" 
              name="username">
              <!-- verification si username est remplie -->
              <div *ngIf="(loginForm.get('username').invalid) && (loginForm.get('username').touched) && (loginForm.get('username').dirty)">
                <div *ngIf="loginForm.get('username').getError('required')">Vous devez remplir votre login</div>
              </div>
          </div>

          <!--<div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="['fas', 'unlock-alt']"></fa-icon>
                </span>
              </div>
              <input class="form-control" placeholder="Password" type="password"
                [(ngModel)]="user.password" name="password">-->

        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="['fas', 'unlock-alt']"></fa-icon>
              </span>

            </div>
            <input class="form-control" formControlName="password" placeholder="Password" type="password" 
              name="password">
              <!-- verification si password est remplie -->

              <div *ngIf="(loginForm.get('password').invalid) && (loginForm.get('password').touched) && (loginForm.get('password').dirty)">
                <div *ngIf="loginForm.get('password').getError('required')">Vous devez remplir votre mot de passe</div>
                <div *ngIf="loginForm.get('password').getError('minlength')">Votre mot de passe doit au minimum 4 lettres</div>
              </div>
          </div>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox " >
          
          <div class="d-flex justify-content-between">
          <input class="custom-control-input" id="customCheckLogin" type="checkbox">
          
          <label class="custom-control-label" for="customCheckLogin">
            <span>Rester connecté</span>
          </label>
          
            <div class="">
              <a [routerLink]="['/mot-de-passe-oublie']" class="text-black-50 text-bleu-50">Mot de passe oublié?</a>
            </div>
            
          </div>
        </div>

        


        <div class="text-left mb-5 mt-4">
          <button class="btn btn-second my-4" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
