<div class="login-mobile-create-account-component">
  <div class="app-wrapper bg-white">
    <div class="app-main">
      <div class="app-content p-0">
        <div class="app-inner-content-layout--main">
          <div class="flex-grow-1 w-100 d-flex align-items-start">
            <div class="bg-composed-wrapper--image opacity-10"
             style="background-image: url('assets/images/hero-bg/hero-10.jpg');">
            </div>
            <div class="bg-composed-wrapper--bg bg-color-e-elaje opacity-5">
            </div>
            <div class="bg-composed-wrapper--content">
              <div class="app-page-title-alt-1 mw-50 py-3 px-4">
                <img alt="e-elaje application service santé Responsive image" class="img-fluid app-page-title--heading"
                  src="assets/images/logo-e-elaje.svg">
              </div>
              <div class="card m-0 p-4 pt-3 shadow-none border-0 rounded-0 bg-white">
                <tabset class="tab-content" type="line">
                  <tab>
                    <ng-template tabHeading>
                      <span>Créer un compte</span>
                      <div class="divider"></div>
                    </ng-template>
                    <app-register-content></app-register-content>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <span>Connexion</span>
                      <div class="divider"></div>
                    </ng-template>
                    <app-login-content2></app-login-content2>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
