<div  class="app-inner-content-layout--sidebar bg-white h-100 app-inner-content-layout--sidebar__sm">
  <div class="p-4">
    <h5>{{category}}</h5>
      <!--[ngClass]="{'layout-sidebar-open' : toggleMobileSidebar1}" <button class="btn btn-block btn-sm btn-success" type="button">
            <span class="btn-wrapper--icon">
                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
            </span>
          <span class="btn-wrapper--label">Upload</span>
      </button>-->
  </div>
  <perfect-scrollbar [autoPropagation]="true" class="px-4">
      <ul class="nav nav-neutral-primary nav-pills flex-column">
          <li class="nav-header text-uppercase font-size-sm text-muted pb-2">
            Paramétrages
          </li>
          <!--<li class="nav-item" >
              <a [routerLink]="['/user-type']" class="nav-link active" >
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-alt']" class="mx-auto"></fa-icon></span>
                  Spécialité
              </a>
          </li>-->
          <li class="nav-item" *ngFor="let page of pages">
              <div  class="nav-link" (click)="pageClicked(page)">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'building']" class="mx-auto"></fa-icon></span>
                   {{page.title}}
              </div>
          </li>
          <!-- <li class="nav-header text-uppercase font-size-sm text-muted pb-2">
              Content library
          </li>
          <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-image']" class="mx-auto"></fa-icon></span>
                  Images
              </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-alt']" class="mx-auto"></fa-icon></span>
                  Documents
              </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-video']" class="mx-auto"></fa-icon></span>
                  Videos
              </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-archive']" class="mx-auto"></fa-icon></span>
                  Archive files
              </a>
          </li>
          <li class="nav-item">
              <a [routerLink]="" class="nav-link">
                  <span class="nav-link-icon opacity-6"><fa-icon [icon]="['far', 'file-audio']" class="mx-auto"></fa-icon></span>
                  Audio
              </a>
          </li> -->
      </ul>
  </perfect-scrollbar>
  <!-- <div class="app-content--sidebar__footer px-4 py-2">
      <ul class="nav nav-neutral-primary nav-pills flex-column">
          <li class="nav-header text-uppercase font-size-sm text-muted pb-2">
              Available storage
          </li>
          <li class="nav-item">
              <div class="d-flex align-items-center">
                  <div class="display-3">
                      <fa-icon [icon]="['far', 'object-group']"></fa-icon>
                  </div>
                  <div class="pl-3">
                      <small class="d-block mb-2"><b>5GB</b> used out of <b>25GB</b></small>
                      <progressbar [animate]="true" [value]="87" class="progress-bar-rounded progress-animated-alt" type="warning">87%</progressbar>
                  </div>
              </div>
              <small class="d-block mt-2">
                          <span class="d-block pb-2">
                              Get <b>1 GB</b> of free storage if you take advantage of our premium plans.
                          </span>
                  <a [routerLink]="" class="btn p-0 font-weight-bold font-size-xs btn-link btn-link-first" title="Learn more">View details</a>
              </small>
          </li>
      </ul>
  </div> -->
</div>
