<div class="row" >
    <div class="col-sm-8">
      <div *ngFor="let alert of defaultAlerts">
          <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible" > {{alert.msg}} </alert>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
              <form (ngSubmit)="remplirConfig(f)" #f="ngForm">
                  <div class="position-relative row form-group">
                      <input type="hidden" class="form-control" [(ngModel)]="myConfig.id"  name="id" id="id" aria-describedby="emailHelp"  placeholder="libelle" ngModel>
                      <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Libelle</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="firstDay" name="firstDay" ngModel  [(ngModel)]="myConfig.firstDay" >
                            <option value="">Séléctioner un jour</option>
                            <option value="1" >Lundi </option>
                            <option value="2" >Mardi </option>
                            <option value="3" >Mercredi </option>
                            <option value="4" >Jeudi </option>
                            <option value="5" >Vendredi </option>
                            <option value="6" >Samedi </option>
                            <option value="7" >Dimanche </option>
                        </select>
                      </div>
                  </div>
                  
                 
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="zoom">Zoom</label>
                    <div class="col-sm-9">  
                    <input type="text" class="form-control"  name="zoom" [(ngModel)]="myConfig.zoom" id="zoom" aria-describedby="emailHelp"  placeholder="zoom" ngModel>
                    </div>  
                  </div>

                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="modeAffichage">Mode affichage</label>
                    <div class="col-sm-9">     
                        <select class="form-control" id="modeAffichage" name="modeAffichage" ngModel  [(ngModel)]="myConfig.modeAffichage" >
                            <option value="timeGridDay" >Jour </option>
                            <option value="weeksOn" >Semaine entière </option>
                            <option value="weeksOff" >Semaine de travail </option>
                            <option value="dayGridMonth" >Mois </option>
                            
                        </select>
                    </div>
                  </div>
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label"  for="granularite">Granularite</label>
                    <div class="col-sm-9"> 
                        <select class="form-control" id="granularite" name="granularite" ngModel  [(ngModel)]="myConfig.granularite" >
                            <option value="00:05:00" >5 min </option>
                            <option value="00:10:00" >10 min </option>
                            <option value="00:15:00" >15 min </option>
                            <option value="00:20:00" >20 min </option>
                            <option value="00:30:00" >30 min </option>
                            <option value="00:60:00" >60 min </option>
                            
                        </select>
                    </div>
                  </div>
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="heureDebutOuvrable">Heure ouvrables de </label>
                    <div class="col-sm-3"> 
                        <input type="time" id="heureDebutOuvrable" name="heureDebutOuvrable" class="form-control" ngModel  [(ngModel)]="myConfig.heureDebutOuvrable"  >
                    </div>
                    <label class="col-sm-1 col-form-label" for="heureFinOuvrable">à </label>
                    <div class="col-sm-3"> 
                        <input type="time" id="heureFinOuvrable" name="heureFinOuvrable" class="form-control" ngModel  [(ngModel)]="myConfig.heureFinOuvrable"  >
                    </div>
                    
                  </div>

                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="heureOuverture">Heure affiché de </label>
                    <div class="col-sm-3"> 
                        <input type="time" id="heureOuverture" name="heureOuverture" class="form-control" ngModel  [(ngModel)]="myConfig.heureOuverture"  >
                    </div>
                    <label class="col-sm-1 col-form-label" for="heureFermeture">à </label>
                    <div class="col-sm-3"> 
                        <input type="time" id="heureFermeture" name="heureFermeture" class="form-control" ngModel  [(ngModel)]="myConfig.heureFermeture"  >
                    </div>
                    
                  </div>
                  
                  <!--<div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="exampleCustomSelectDisabled">Unité</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="unite" name="unite" ngModel  [(ngModel)]="myConfig.unite" >
                            <option value="">Séléctioner unité</option>
                            <option *ngFor="let u of unites" value="{{u.id}}" >{{u.libelle}} </option>
                        </select>
                    </div>
                  </div>-->
                  <button class="btn m-2 btn-primary" [disabled]="!savedData" type="submit" *ngIf="editForm">
                      <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
                      Enregistrer
                  </button>
                  
              </form>
          </div>
        </div>
      </div>
     
      
    </div>