<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="libelle">Libelle</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myActe.libelle" id="libelle" aria-describedby="emailHelp" >
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="familleActe">Famille acte</label>
            <div class="col-sm-9">
              <input class="form-control" #familleActe id="familleActe" name="familleActe" [(ngModel)]="selectedFamille" 
                                      placeholder="selectionner une famille" type="text"  (input)="searchFamille(familleActe.value)">
              <ul>
                  <li *ngFor="let famille of familles$ | async " (click)="selectFamille(famille)" > {{famille.libelle}} </li>
              </ul>
            </div>
          </div>
          <div class="position-relative row form-group">
              <label class="col-sm-3 col-form-label" for="prix">Prix</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myActe.prix" id="prix" aria-describedby="emailHelp" >
              </div>
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="duree">Duree</label>
            <div class="col-sm-9">
                <select class="form-control" id="duree"  [(ngModel)]="myActe.duree" >
                    <option></option>
                    <option *ngFor="let d of durees | filter:searchText" value="{{d.id}}" >{{d.name}} min</option>
                </select>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="couleur">Couleur</label>
            <div class="col-sm-9">
              <input type="color" class="form-control" [(ngModel)]="myActe.couleur" id="couleur" aria-describedby="emailHelp" >
            </div>
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <button type="submit" class="btn btn-primary" (click)="persist()">Enregistrer</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-box mb-5">
            <div class="card-header py-3">
              <div class="card-header--title font-size-lg">
                Support board
              </div>
              <div class="card-header--actions">
                <button class="btn btn-sm btn-neutral-secondary" type="button">
                          <span class="btn-wrapper--icon">
                             <!-- <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>-->
                          </span>
                  <span class="btn-wrapper--label">
                              Add ticket
                          </span>
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <div class="table-responsive">
              <table  class="table table-hover text-nowrap mb-0" >
                <thead>
                <tr>
                  <th class="bg-white">Libelle</th>
                  <th class="bg-white">Prix</th>
                  <th class="bg-white">Famille</th>
                  <th class="bg-white">Coleur</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let acte of actes">
                  <td class="font-weight-bold">
                    {{acte.libelle}}
                  </td>
                  <td class="font-weight-bold">
                    {{acte.prix}}
                  </td>
                  <td class="font-weight-bold">
                    {{acte.famille}}
                  </td>
                  <td class="font-weight-bold">

                    <p [ngStyle]="{'color': acte.couleur}" >{{acte.couleur}}&nbsp;&nbsp;</p>
                  </td>
                </tr>                
                </tbody>
              </table>
              <!--<div class="table-responsive">
                <ng2-smart-table class="table text-nowrap table-bordered" [settings]="settings" [source]="data"></ng2-smart-table>
              </div>-->
            </div>
            
          </div>
    </div>
  </div>

  