
<form (ngSubmit)="searchRgelement(f)" #f="ngForm">

    <div class="row">
        <div class="col-sm-8">

            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="typeConsultation">Acte</label>
                <div class="col-sm-4">
                <select class="form-control" id="typeConsultation" #typeConsultation="ngModel" 
                    
                    name="typeConsultation" [ngModel]="search.typeConsultation" >
                    <option value=""> Selectionner un type</option>
                    <ng-container *ngFor="let type of typeConsultations">
                    <option value="{{type.id}}">{{type.libelle}}</option>
                    </ng-container>
                </select>
                
                </div>

                <label class="col-sm-2 col-form-label" for="dateNaissance">Date</label>
                <div class="col-sm-4 input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
                    </span>
                </div>
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                    class="form-control" placeholder="Select date" type="text" id="date" name="date" [(ngModel)]="search.date"
                    >
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <!-- totaux-->
            <div class="row">
                <div class="col-sm-12">
                <div class="table-responsive">
                    <div *ngIf="!loadedData">
                    <sk-circle ></sk-circle>
                    </div>
                    <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
                    <thead>
                        <tr class="text-center">
                        <th >Type</th> <td>Montant</td>
                        </tr>
                        <tr class="text-center">
                            <th>Espéce</th> <td>{{total_espece}} DHs</td>
                        </tr>
                        <tr class="text-center">
                        <th>Chéque</th> <td>{{total_cheque}} DHs</td>
                        </tr>
                        <tr class="text-center">
                        <th>Total</th><td>{{(total_cheque *1)+(total_espece*1)}} DHs</td>
                        </tr>
                    </thead>
                    
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>



  <button class="btn m-2 btn-primary" type="submit">
    <span aria-hidden="true" class="spinner-border-sm" role="status"></span>
    Filtrer
  </button>
</form>

  
<br>
  <!-- detaill-->
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <div *ngIf="!loadedData">
          <sk-circle ></sk-circle>
        </div>
        <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
          <thead>
            <tr class="text-center">
              <th>Patient</th>
              <th>Date intervention</th>
              <th>Date réglement</th>
              <th>Type consultation</th>
              <th>Montant réglé</th>
              <th>Type réglement</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reglement of reglements" class="text-center">
              <td class="font-weight-bold" >
                {{reglement.nom_complet}}
              </td>
              <td class="font-weight-bold" >
                {{reglement.dateConsultation}}
              </td>
              <td>
                {{reglement.dateReglement}}
              </td>
              <td >
                <div class="badge  text-warning px-4 text-center align-element" [ngStyle]="{'background-color':reglement.couleur}">{{reglement.acte}}</div>
              </td>
              
              <td>
                <span *ngIf="reglement.montant_regle; let montant_regle">{{reglement.montant_regle}} DHs</span>
                <span *ngIf="!reglement.montant_regle">-</span>
              </td>
              <td >
                <div >{{reglement.type_reglement}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  