<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Modifier profil</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">



    <form (ngSubmit)="persistGPatient(f)" #f="ngForm">
      <div class="px-5 pt-5 pb-4">
        <div class="position-relative row form-group">

          <label class="col-sm-2 col-form-label" for="lastnameDetail">Nom</label>
          <!-- Nom -->
          <div class="col-sm-4">
            <input class="form-control" id="lastnameDetail" name="lastname" [ngModel]="myGDossierPatient.lastname"
              placeholder="Entrer votre nom" type="text" #lastname="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid , 'is-valid': f.submitted && lastname.valid }">
            <div class="invalid-feedback" *ngIf="!lastname.valid">Vous devez saisir votre nom</div>
          </div>
          <!-- Prénom -->
          <label class="col-sm-2 col-form-label" for="firstnameDetail">Prénom</label>
          <div class="col-sm-4">
            <input class="form-control" id="firstnameDetail" name="firstname" #firstname="ngModel"
              [ngModel]="myGDossierPatient.firstname" placeholder="Entrer votre prénom" type="text" required
              [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid , 'is-valid': f.submitted && firstname.valid }">
            <div class="invalid-feedback" *ngIf="!firstname.valid">Vous devez saisir votre prénom</div>
          </div>
        </div>



        <div class="position-relative row form-group">
          <!-- Sexe -->
          <label class="col-sm-2 col-form-label" for="sexe">Sexe</label>
          <div class="col-sm-4 d-flex align-items-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="sexe" id="sexeADetail" value="Homme"
                [ngModel]="myGDossierPatient.sexe">
              <label class="form-check-label" for="sexeADetail">Homme</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="sexeBDetail" value="Femme" name="inlineRadioOptions"
                name="sexe" [ngModel]="myGDossierPatient.sexe">
              <label class="form-check-label" for="sexeBDetail">Femme</label>
            </div>
          </div>
          <!-- Civilité -->
          <label class="col-sm-2 col-form-label" for="civiliteDetail">Civilité</label>

          <div class="col-sm-4">
            <select class="form-control" name="civilite" id="civiliteDetail" [ngModel]="myGDossierPatient.civilite"
              required #civilite="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && civilite.invalid , 'is-valid': f.submitted && civilite.valid }">
              <option> selectionner une civilité</option>
              <option value="Mme">Mme</option>
              <option value="Mlle">Mlle</option>
              <option value="bebe">bebe</option>
              <option value="Enf.">Enf.</option>
              <option value="M.">M.</option>
            </select>
            <div class="invalid-feedback" *ngIf="!civilite.valid">Vous devez sélectionner votre civilité</div>
          </div>
        </div>

        <div class="position-relative row form-group">
          <!-- Date naissance -->
          <label class="col-sm-2 col-form-label" for="dateNaissanceDetail">Date naissance</label>



          <div class="col-sm-4">
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control"
              placeholder="Select date"  type="text" id="dateNaissanceDetail" name="dateNaissance"
              [(ngModel)]="myGDossierPatient.dateNaissance" (input)="calculAge($event)">
          </div>
          <!-- Age -->
          <label class="col-sm-2 col-form-label" for="ageDetail">Age</label>
          <div class="col-sm-4">
            <input class="form-control" id="ageDetail" name="age" [(ngModel)]="age" placeholder="Age" type="text"
              readonly="readonly">
          </div>
        </div>

        <div class="position-relative row form-group">
          <!-- Situation familiale -->
          <label class="col-sm-2 col-form-label" for="situationFamilleDetail">Situation familiale</label>
          <div class="col-sm-4">
            <select class="form-control" id="situationFamilleDetail" name="situationFamille"
              [ngModel]="myGDossierPatient.situationFamille">
              <option> Selectionner situation familiale</option>
              <option value="Célibataire">Célibataire</option>
              <option value="Marié">Marié</option>
              <option value="Divorcé">Divorcé</option>
              <option value="Veuf">Veuf</option>
              <option value="Séparé">Séparé</option>
            </select>
          </div>

          <label class="col-sm-2 col-form-label" for="nbEnfantDetail">Nombre d'enfants</label>
          <div class="col-sm-4">
            <input class="form-control" id="nbEnfantDetail" name="nbEnfant" [ngModel]="myGDossierPatient.nbEnfant"
              placeholder="Nb Enf" type="text">
          </div>
        </div>

        <div class="position-relative row form-group">
          <!-- Profession -->
          <label class="col-sm-2 col-form-label" for="profession">Profession</label>
          <div class="col-sm-4">
            <input class="form-control" id="profession" name="profession" [ngModel]="myGDossierPatient.profession" placeholder="Entrer votre profession"
              type="text">
          </div>
        </div>


        <div _ngcontent-gmi-c6="" class="divider my-5"></div>
        <div class="position-relative row form-group">

          <label class="col-sm-2 col-form-label" for="gsmDetail">Gsm</label>
          <div class="col-sm-4">
            <input class="form-control" id="gsmDetail" name="tel" placeholder="gsm" type="text"
              [ngModel]="myGDossierPatient.tel">
          </div>

          <label class="col-sm-2 col-form-label" for="fixeDetail">Tél. fixe</label>
          <div class="col-sm-4">
            <input class="form-control" id="fixeDetail" name="fixe" placeholder="fixe" type="text"
              [ngModel]="myGDossierPatient.fixe">
          </div>


        </div>


        <div class="position-relative row form-group">
          <!-- Email -->
          <label class="col-sm-2 col-form-label" for="emailDetail">Email</label>
          <div class="col-sm-4">
            <input class="form-control" id="emailDetail" name="email" [ngModel]="myGDossierPatient.email"
              placeholder="entrer votre email" type="text">
          </div>

          <label class="col-sm-2 col-form-label" for="villeDetail">Ville</label>
          <div class="col-sm-4">
            <select class="form-control" name="ville" id="villeDetail" [ngModel]="myGDossierPatient.ville">
              <option *ngFor="let ville of villes " value="{{ville.id}}">{{ville.name}}</option>
            </select>
          </div>

        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="adresseDetail">Adresse</label>
          <div class="col-sm-10">
            <input class="form-control" id="adresseDetail" name="adresse" [ngModel]="myGDossierPatient.adresse"
              placeholder="Entrer votre adresse" type="text">
          </div>
        </div>


        <div class="position-relative row form-group">
          <!-- Addressé par -->
          <label class="col-sm-2 col-form-label" for="adressePar">Addressé par</label>
          <div class="col-sm-4">
            <input class="form-control" id="adressePar" name="adressePar" [ngModel]="myGDossierPatient.adressePar"
              placeholder="" type="text">
          </div>
          <!-- Praticien -->
          <label class="col-sm-2 col-form-label" for="medecinDetail">Praticien </label>

          <div class="col-sm-4">
            <select class="form-control" id="medecinDetail" name="medecin" [ngModel]="myLDossierPatient.medecin">
              <option>Selectionner praticien </option>
              <option *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
            </select>
          </div>
        </div>



        <div _ngcontent-gmi-c6="" class="divider my-5"></div>

        <div class="position-relative row form-group">

          <!-- CIN -->
          <label class="col-sm-2 col-form-label" for="cinDetail">CIN</label>
          <div class="col-sm-4">
            <input class="form-control" id="cinDetail" name="cin" [ngModel]="myGDossierPatient.cin"
              placeholder="entrer votre cin" type="text">
          </div>

          <!-- N° Ramed -->
          <label class="col-sm-2 col-form-label" for="ramedDetail">N° Ramed</label>
          <div class="col-sm-4">
            <input class="form-control" id="ramedDetail" name="ramed" placeholder="ramed" type="text"
              [ngModel]="myGDossierPatient.ramed">
          </div>
        </div>


        <div class="position-relative row form-group">
          <!-- Mutuelle -->
          <div class="col-md-2 d-flex align-items-center">
            <div class="position-relative form-check form-check-inline">
              <label class="form-check-label" for="mutuelleDetail">
                <input class="form-check-input" id="mutuelleDetail" [checked]="myGDossierPatient.mutuelle"
                  type="checkbox" name="mutuelle" (change)="checkMutuelle($event)">Mutuelle</label>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="isMutualiste || myGDossierPatient.mutuelle">
              <select class="form-control" name="mutuelle" [ngModel]="myGDossierPatient.mutuelle">
                <option *ngFor="let mut of mutuelles " value="{{mut.id}}"> {{mut.libelle}} </option>
              </select>
            </div>
          </div>

          <!-- Mutuelle complémentaire -->
          <div class="col-md-2 d-flex align-items-center">
            <div class="position-relative form-check form-check-inline">
              <label class="form-check-label" for="mutuelle">
                <input class="form-check-input" id="mutuelle" type="checkbox" name="mutuelle"
                  (change)="checkMutuelle($event)">Mutuelle complémentaire</label>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="isMutualiste">
              <select class="form-control" name="mutuelle" [ngModel]="myGDossierPatient.mutuelle">
                <option *ngFor="let mut of mutuelles " value="{{mut.id}}"> {{mut.libelle}} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="position-relative row form-group">
          <!-- Photo -->
          <label class="col-sm-2 col-form-label" for="fileDetail">Photo</label>
          <div class="col-sm-4 d-flex align-items-center">
            <input class="form-control-file" id="fileDetail" name="file" type="file" (change)="fileSelected($event)">
          </div>

          <label class="col-sm-2 col-form-label" for="fileDetailAntece">Antécédent</label>
          <div class="col-sm-4 d-flex align-items-center">
            <input class="form-control-file" id="fileDetailAntece" name="fileAntece" type="file" (change)="fileSelectedAntecedent($event)">
          </div>
        </div>

        <div class="position-relative row form-group bg-neutral-first rounded pb-3 mb-0 mt-5">
          <!-- Note -->
          <label class="col-12 col-form-label" for="noteDetail">Note</label>
          <div class="col-12">
            <textarea class="form-control" rows="3" for="noteDetail" name="recommendation"
              [ngModel]="myGDossierPatient.recommendation"></textarea>
          </div>
        </div>
      </div>
      <!---->


      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit">
          <span aria-hidden="true" *ngIf="!myGDossierPatient.firstname" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
      </div>
    </form>


  </div>
</div>
