<div *ngFor="let alert of defaultAlerts">
  <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
</div>

<app-page-title-breadcrumb (event)="addPatient($event)"></app-page-title-breadcrumb>

<!-- <app-example-wrapper-simple sectionHeading="Basic">
  <app-detail-dossier-patient></app-detail-dossier-patient>
</app-example-wrapper-simple> -->

<div class="dossier-patient-component" (click)="viderListReglement()">
  <div class="row">

    <div class="col-xl-4 col-lg-4 pr-lg-2">
      <!-- px-lg-3 px-sm-2 px-sm-1 -->
      <!--<div *ngIf="!loadedData">
        <sk-circle [color]="'#3c44b1'"></sk-circle>
      </div>-->
      <div class="card card-box mt-4 p-4 p-xl-5">

        <div class="d-flex align-items-start justify-content-between">
          <div class="avatar-icon-wrapper avatar-icon-xxl ">
            <span class="badge badge-circle " [ngClass]="{
                    'badge-dark': !myPatient || add_patient,
                    'badge-success': myPatient
                  }">Online</span>
            <div class="avatar-icon">
              <div *ngIf="myPatient">
                <img *ngIf="myPatient.photo" alt="..." src="{{url_images}}/{{myPatient.photo}}" />
              </div>

              <ng-container *ngIf="add_patient || !myPatient" >
                <img  src="assets/images/avatars/avatar9.svg" alt="profil patient"
                class="img-fluid rounded-circle border avatar-profil" />
              </ng-container>


              <ng-container *ngIf="myPatient" >
                <img *ngIf="!myPatient.photo" src="assets/images/avatars/avatar9.svg" alt="profil patientxx"
                class="img-fluid rounded-circle border avatar-profil" />
              </ng-container>
            </div>
          </div>
          <button (click)="openEditProfileModal()" class="btn d-40 p-0 btn-pill btn-first" type="button"
            tooltip="Modifier profil" aria-describedby="tooltip-25"><span class="btn-wrapper--icon"><i
                class="ion-md-create font-size-lg"></i></span></button>
        </div>
        <div class="font-weight-bold font-size-lg d-flex align-items-center mt-2 mb-0">
          <div *ngIf="myPatient"><span>{{myPatient.firstname}} {{myPatient.lastname}}</span></div>
        </div>
        <!--<p class="mb-4 font-size-md text-black-50">@kateST</p>-->
        <a [routerLink]="" class="btn btn-neutral-first btn-sm w-auto">
          Envoyer un message
        </a>
        <div class="my-4">
          <div class="row">
            <div class="col-5">
              <label>Tél. Fixe :</label>
            </div>
            <div class="col-7 font-weight-bold font-size-md">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.fixe">{{myPatient.fixe}}</p>
                <p *ngIf="!myPatient.fixe">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Tél. GSM :</label>
            </div>
            <div class="col-7 font-weight-bold font-size-md">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.tel">{{myPatient.tel}}</p>
                <p *ngIf="!myPatient.tel">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Email :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.email">{{myPatient.email}}</p>
                <p *ngIf="!myPatient.email">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Adresse :</label>
            </div>
            <div class="col-7 font-weight-semibold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.adresse">{{myPatient.adresse}}</p>
                <p *ngIf="!myPatient.adresse">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div _ngcontent-gmi-c6="" class="divider mt-0 mb-3"></div>
          <div class="row">
            <div class="col-5 pr-0">
              <label>Date naissance :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.dateNaissance">{{myPatient.dateNaissance | date: 'dd/MM/yyyy'}}</p>
                <p *ngIf="!myPatient.dateNaissance">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Ville :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.villeName">{{myPatient.villeName}}</p>
                <p *ngIf="!myPatient.villeName">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Sexe :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.sexe">
                  {{myPatient.sexe}}</p>
                <p *ngIf="!myPatient.sexe">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Age :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <p *ngIf="age && !add_patient">{{age}} ans</p>
              <p *ngIf="!age || add_patient">-</p>
            </div>

          </div>
          <div class="row">
            <div class="col-5">
              <label>Civilité :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.civilite">{{myPatient.civilite}}</p>
                <p *ngIf="!myPatient.civilite">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Situation familiale :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.situationFamille">{{myPatient.situationFamille}}</p>
                <p *ngIf="!myPatient.situationFamille">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Profession :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.profession">{{myPatient.profession}}</p>
                <p *ngIf="!myPatient.profession">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div _ngcontent-gmi-c6="" class="divider mt-0 mb-3"></div>
          <div class="row">
            <div class="col-5">
              <label>Cin :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.cin">{{myPatient.cin}}</p>
                <p *ngIf="!myPatient.cin">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5 pr-1">
              <label>Nombre d'enfants :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.nbEnfant">{{myPatient.nbEnfant}}</p>
                <p *ngIf="!myPatient.nbEnfant">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>Mutuelle :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.mutuelleName">{{myPatient.mutuelleName}}</p>
                <p *ngIf="!myPatient.mutuelleName">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>N° Ramed :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.ramed">{{myPatient.ramed}}</p>
                <p *ngIf="!myPatient.ramed">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-5 pr-0">
              <label>Addressé par :</label>
            </div>
            <div class="col-7 font-weight-bold">
              <div *ngIf="myPatient">
                <p *ngIf="myPatient.adressePar">{{myPatient.adressePar}}</p>
                <p *ngIf="!myPatient.adressePar">-</p>
              </div>
              <div *ngIf="!myPatient">
                <p>-</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-box">
          <div class="card-header bg-neutral-first text-primary">Note</div>

          <div *ngIf="myPatient">
            <p class="text-black-50 p-4 mb-0" *ngIf="myPatient.recommendation"> {{myPatient.recommendation}}</p>
          </div>
          <div *ngIf="!myPatient || add_patient">
            <p class="text-black-50 p-4 mb-0 font-weight-bold">-</p>

          </div>
        </div>
        <div class="card card-box mt-5">
          <div class="card-header bg-neutral-first text-primary">Historique consultation</div>
          <div class="card-body">
            <perfect-scrollbar [autoPropagation]="true" class="scroll-area-md shadow-overflow">
              <div *ngIf="!consultations || add_patient" class="mb-0 font-weight-bold">-</div>
              <div class="timeline-list timeline-list-offset timeline-list-offset-dot" *ngIf="consultations">
                <div class="timeline-item" *ngFor="let c of consultations">
                  <div class="timeline-item-offset">
                    {{c.dateConsultation}}
                    <br>{{c.heureConsultation}}
                  </div>
                  <div class="timeline-item--content">
                    <div class="align-box-row">
                      <div class="timeline-item--icon"></div>
                      <a class="avatar-icon-wrapper avatar-icon-md text-black-50" href="/dossier-patient">
                        <span class="badge badge-circle badge-success">Online</span>
                        <div class="avatar-icon rounded-circle"><img alt="..." src="assets/images/avatars/avatar1.jpg">
                        </div>
                      </a>
                      <div class="ml-3">
                        <h4 class="timeline-item--label font-weight-bold">{{c.acte}}</h4>
                        <p>{{c.praticien}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-8">
      <div class="card card-box mt-4">
        <div class="card-header pl-4 pl-xl-5">
          <div class="card-header--title font-size-lg">
            <b>Rapport général</b>
          </div>
          <button (click)="modalSaisieConstanteMedicale()" class="btn d-40 p-0 btn-pill btn-first" type="button"
            tooltip="Ajouter des signes vitaux" aria-describedby="tooltip-25"><span class="btn-wrapper--icon">
              <i class="ion-ios-add font-size-xl"></i></span></button>
        </div>
        <div class="card-body p-4 p-xl-5">
          <tabset [justified]="true" class="tabs-animated tabs-animated-line mt-lg-0" type="tabs">
            <tab>
              <ng-template tabHeading>
                <span class="font-size-lg text-left font-weight-normale">Signes vitaux</span>
              </ng-template>

              <div class="row mt-5 big-rapport">
                <div class="col-12">
                  <div class="card card-box px-4 pt-4 mb-5">
                    <div class="row">
                      <ng-container *ngIf="chartOptions_poids_taille">
                      <div class="col-lg-9" *ngIf="!chartOptions_poids_taille.series[0].data && !chartOptions_poids_taille.series[1].data">-</div>
                      <div class="col-lg-9" *ngIf="chartOptions_poids_taille.series[0].data && chartOptions_poids_taille.series[1].data">
                        <div class="font-size-md font-weight-bold mb-4">
                          Poids / Taille
                        </div>

                        <div id="chart" >
                          <apx-chart
                            [series]="chartOptions_poids_taille.series"
                            [chart]="chartOptions_poids_taille.chart"
                            [xaxis]="chartOptions_poids_taille.xaxis"
                            [yaxis]="chartOptions_poids_taille.yaxis"
                            [colors]="['#4191ff', '#f83245']"
                            [markers]="chartOptions_poids_taille.markers"
                            [dataLabels]="{ enabled: false }"
                            [stroke]="{
                              curve: 'smooth'
                            }"
                            [fill]="{
                              opacity: 1,
                              colors: ['#4191ff', '#f83245']
                            }"
                            [grid]="{
                              strokeDashArray: '5',
                              borderColor: 'rgba(125, 138, 156, 0.3)'
                          }"
                          ></apx-chart>
                        </div>
                        <!--<apx-chart
                        [chart]="{  redrawOnParentResize: true,


                        <apx-chart [chart]="{  redrawOnParentResize: true,

                                    type: 'area',
                                    height: '265'
                                }" [colors]="['#4191ff', '#f83245']" [dataLabels]="{
                                  enabled: false
                                }" [fill]="{
                                  opacity: 1,
                                  colors: ['#4191ff', '#f83245']
                                }" [grid]="{
                        strokeDashArray: '5',
                        borderColor: 'rgba(125, 138, 156, 0.3)'
                    }" [series]="series_poids_taille" [stroke]="{
                        curve: 'smooth'
                      }"></apx-chart>-->
                      </div>
                      </ng-container>
                      <div class="col-lg-3">
                        <ng-container *ngIf="chartOptions_imc">
                        <div class="mb-4" *ngIf="!chartOptions_imc.series[0].data">-</div>
                        <div class="mb-4" *ngIf="chartOptions_imc.series[0].data">
                          <div class="font-size-md font-weight-bold mb-4">
                            IMC
                          </div>
                          <!--<apx-chart [chart]="{
                                            type: 'bar',
                                            height: 60,
                                            sparkline: {
                                                enabled: true
                                            }
                                        }" [colors]="['#1bc943']" [markers]="{
                                            size: 0
                                        }" [series]="series_imc" [stroke]="{
                                                color: '#1bc943',
                                                width: 0
                                        }" [xaxis]="{
                                            crosshairs: {
                                                width: 0
                                            }
                                        }" [yaxis]="{
                                            min: 0
                                        }"></apx-chart>-->
                          <div id="chart" >
                            <apx-chart
                              [series]="chartOptions_imc.series"
                              [chart]="chartOptions_imc.chart"
                              [xaxis]="chartOptions_imc.xaxis"
                              [yaxis]="chartOptions_imc.yaxis"
                              [colors]="['#1bc943']"
                              [markers]="chartOptions_imc.markers"
                            ></apx-chart>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary mt-4">24.5</div>
                          <div class="font-size-md text-black-50 mt-1">Surpoids</div>
                        </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row small-rapport">
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-lg-0 pr-xl-4">
                  <div class="card card-box p-3 mb-4 mb-xl-5">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_ta">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          TA
                        </div>

                        <div class="" *ngIf="chartOptions_ta.series[0].data">
                          <div class="text-muted">
                            <span>54%</span>
                            <fa-icon [icon]="['fas', 'angle-up']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary">8,764</div>
                        </div>

                      </div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_ta.series[0].data">-</div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_ta.series[0].data">
                        <!--<apx-chart [chart]="{
                                                type: 'line',
                                                height: 90,
                                                sparkline: {
                                                    enabled: true
                                                }
                                            }" [colors]="['#f4772e']" [markers]="{
                                                size: 0
                                            }" [series]="series_ta" [stroke]="{
                                                    color: '#4191ff',
                                                    width: 3
                                            }" [xaxis]="{
                                                crosshairs: {
                                                    width: 0
                                                }
                                            }" [yaxis]="{
                                                min: 0
                                            }"></apx-chart>-->
                                            <div id="chart" >
                                              <apx-chart
                                                [series]="chartOptions_ta.series"
                                                [chart]="chartOptions_ta.chart"
                                                [xaxis]="chartOptions_ta.xaxis"
                                                [yaxis]="chartOptions_ta.yaxis"
                                                [colors]="['#f4772e']"
                                                [markers]="chartOptions_ta.markers"
                                                [stroke]="{
                                                  color: '#4191ff',
                                                  width: 3
                                          }"
                                              ></apx-chart>
                                            </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-xl-4">
                  <div class="card card-box p-3 mb-4 mb-xl-5">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_pouls">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          Pouls
                        </div>
                        <div class="" *ngIf="chartOptions_pouls.series[0].data">
                          <div class="text-muted">
                            <span>67%</span>
                            <fa-icon [icon]="['fas', 'angle-up']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary">6,324</div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_pouls.series[0].data">-</div>

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_pouls.series[0].data">
                        <!--<apx-chart [chart]="chart_pouls" [colors]="['#11c5db']" [markers]="{
                                                size: 0
                                            }" [series]="series_pouls" [stroke]="{
                                                    color: '#11c5db',
                                                    width: 3
                                            }" [xaxis]="{
                                                crosshairs: {
                                                    width: 0
                                                }
                                            }" [yaxis]="{
                                                min: 0
                                            }">
                        </apx-chart>-->
                        <div id="chart">
                          <apx-chart
                            [series]="chartOptions_pouls.series"
                            [chart]="chartOptions_pouls.chart"
                            [xaxis]="chartOptions_pouls.xaxis"
                            [yaxis]="chartOptions_pouls.yaxis"
                            [colors]="['#11c5db']"
                            [markers]="chartOptions_pouls.markers"
                            [stroke]="{
                              color: '#4191ff',
                              width: 3
                      }"
                          ></apx-chart>
                        </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-lg-0 pr-xl-4" >
                  <div class="card card-box p-3 mb-4 mb-xl-5" >
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_temp">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          T°C
                        </div>
                        <div class="" *ngIf="chartOptions_temp.series[0].data">
                          <div class="text-muted">
                            <span>32%</span>
                            <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary">456</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_temp.series[0].data">-</div>
                        <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_temp.series[0].data">
                        <!--<apx-chart [chart]="{

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!series_temp[0].data">-</div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="series_temp[0].data">
                        <apx-chart [chart]="{
                                                type: 'line',
                                                height: 90,
                                                sparkline: {
                                                    enabled: true
                                                }
                                            }" [colors]="['#1bc943']" [markers]="{
                                                size: 0
                                            }" [series]="series_temp" [stroke]="{
                                                    color: '#1bc943',
                                                    width: 3
                                            }" [xaxis]="{
                                                crosshairs: {
                                                    width: 0
                                                }
                                            }" [yaxis]="{
                                                min: 0
                                            }"></apx-chart>-->
                        <div id="chart" >
                          <apx-chart
                            [series]="chartOptions_temp.series"
                            [chart]="chartOptions_temp.chart"
                            [xaxis]="chartOptions_temp.xaxis"
                            [yaxis]="chartOptions_temp.yaxis"
                            [colors]="['#f4772e']"
                            [markers]="chartOptions_temp.markers"
                            [stroke]="{
                              color: '#4191ff',
                              width: 3
                      }"
                          ></apx-chart>
                        </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-xl-4">
                  <div class="card card-box p-3 mb-4 mb-xl-5">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_glypp">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          Glycémie
                          <br> PP
                        </div>
                        <div class="" *ngIf="chartOptions_glypp.series[0].data">
                          <div class="text-muted">
                            <span>21%</span>
                            <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary">674</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_glypp.series[0].data">-</div>
                        <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_glypp.series[0].data">
                        <!--<apx-chart [chart]="{

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!series_glypp[0].data">-</div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="series_glypp[0].data">
                        <apx-chart [chart]="{

                                                type: 'line',
                                                height: 90,
                                                sparkline: {
                                                    enabled: true
                                                }
                                            }" [colors]="['#4191ff']" [markers]="{
                                                size: 0
                                            }" [series]="series_glypp" [stroke]="{
                                                    color: '#4191ff',
                                                    width: 3
                                            }" [xaxis]="{
                                                crosshairs: {
                                                    width: 0
                                                }
                                            }" [yaxis]="{
                                                min: 0
                                            }">
                        </apx-chart>-->
                        <div id="chart" >
                          <apx-chart
                            [series]="chartOptions_glypp.series"
                            [chart]="chartOptions_glypp.chart"
                            [xaxis]="chartOptions_glypp.xaxis"
                            [yaxis]="chartOptions_glypp.yaxis"
                            [colors]="['#4191ff']"
                            [markers]="chartOptions_glypp.markers"
                            [stroke]="{
                              color: '#4191ff',
                              width: 3
                      }"
                          ></apx-chart>
                        </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-lg-0 pr-xl-4">
                  <div class="card card-box p-3 mb-4 mb-xl-5">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_glyjeun">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          Glycémie
                          <br> à jeun
                        </div>
                        <div class="" *ngIf="chartOptions_glyjeun.series[0].data">
                          <div class="text-muted">
                            <span>15%</span>
                            <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-lg mb-0 font-weight-bold text-primary">456</div>
                        </div>
                      </div>

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_glyjeun.series[0].data">-</div>
                        <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_glyjeun.series[0].data">
                        <!--<apx-chart [chart]="{

                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!series_temp[0].data">-</div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="series_temp[0].data">
                        <apx-chart [chart]="{

                                                type: 'line',
                                                height: 90,
                                                sparkline: {
                                                    enabled: true
                                                }
                                            }" [colors]="['#1bc943']" [markers]="{
                                                size: 0
                                            }" [series]="series_temp" [stroke]="{
                                                    color: '#1bc943',
                                                    width: 3
                                            }" [xaxis]="{
                                                crosshairs: {
                                                    width: 0
                                                }
                                            }" [yaxis]="{
                                                min: 0
                                            }"></apx-chart>-->
                        <div id="chart" >
                          <apx-chart
                            [series]="chartOptions_glyjeun.series"
                            [chart]="chartOptions_glyjeun.chart"
                            [xaxis]="chartOptions_glyjeun.xaxis"
                            [yaxis]="chartOptions_glyjeun.yaxis"
                            [colors]="['#1bc943']"
                            [markers]="chartOptions_glyjeun.markers"
                            [stroke]="{
                              color: '#4191ff',
                              width: 3
                      }"
                          ></apx-chart>
                        </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-6 col-xs-12 pr-xl-4">
                  <div class="card card-box p-3 mb-4 mb-xl-5">
                    <div class="d-flex justify-content-between">
                      <ng-container *ngIf="chartOptions_bus">
                      <div class="pr-2 flex-grow-1 text-nowrap">
                        <div class="text-uppercase font-weight-bold font-size-sm mb-2">
                          BU S
                        </div>
                        <div class="" *ngIf="chartOptions_bus.series[0].data">
                          <div class="text-muted">
                            <span>21%</span>
                            <fa-icon [icon]="['fas', 'angle-down']" class="ml-2"></fa-icon>
                          </div>
                          <div class="font-size-xl mb-0 font-weight-bold text-primary">674</div>
                        </div>
                      </div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="!chartOptions_bus.series[0].data">-</div>
                      <div class="d-flex align-items-center pt-2 px-3" *ngIf="chartOptions_bus.series[0].data">
                        <!--<apx-chart [chart]="{
                                            type: 'line',
                                            height: 90,
                                            sparkline: {
                                                enabled: true
                                            }
                                        }" [colors]="['#4191ff']" [markers]="{
                                            size: 0
                                        }" [series]="series_bus" [stroke]="{
                                                color: '#4191ff',
                                                width: 3
                                        }" [xaxis]="{
                                            crosshairs: {
                                                width: 0
                                            }
                                        }" [yaxis]="{
                                            min: 0
                                        }"></apx-chart>-->
                                        <div id="chart" >
                                          <apx-chart
                                            [series]="chartOptions_bus.series"
                                            [chart]="chartOptions_bus.chart"
                                            [xaxis]="chartOptions_bus.xaxis"
                                            [yaxis]="chartOptions_bus.yaxis"
                                            [colors]="['#4191ff']"
                                            [markers]="chartOptions_bus.markers"
                                            [stroke]="{
                                              color: '#4191ff',
                                              width: 3
                                      }"
                                          ></apx-chart>
                                        </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card card-box">
                    <div class="no-gutters row">
                      <div class="col-lg-4 p-3">
                        <div class="divider-v divider-v-lg"></div>
                        <div class="row">
                          <div class="col">
                            <div class="text-center">
                              <small _ngcontent-gxp-c6="" class="text-uppercase text-black-50-50" >Groupe sanguin</small>
                              <div *ngIf="myPatient">
                                <b _ngcontent-gxp-c6="" *ngIf="myPatient.firstname"
                                class="d-block font-weight-bold font-size-lg text-primary">AB+</b>

                                  <div *ngIf="!myPatient.firstname">
                                    <p>-</p>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 p-3">
                        <div class="divider-v divider-v-lg"></div>
                        <div class="row">
                          <div class="col">
                            <div class="text-center">
                              <small _ngcontent-gxp-c6="" class="text-uppercase text-black-50-50">Allergies</small>
                              <div *ngIf="myPatient">
                                <b _ngcontent-gxp-c6="" *ngIf="myPatient.firstname"
                                class="d-block font-weight-bold font-size-lg text-primary">Péniciline</b>

                                  <div *ngIf="!myPatient.firstname">
                                    <p>-</p>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 p-3">
                        <div class="row">
                          <div class="col">
                            <div class="text-center">
                              <small _ngcontent-gxp-c6="" class="text-uppercase text-black-50-50">Maladies</small>
                                <div *ngIf="myPatient">
                                  <b _ngcontent-gxp-c6="" *ngIf="myPatient.firstname"
                                  class="d-block font-weight-bold font-size-lg text-primary">Diabète</b>

                                    <div *ngIf="!myPatient.firstname">
                                      <p>-</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </tab>
            <tab>
              <ng-template tabHeading>
                <span class="font-size-lg text-left font-weight-normale">Historique</span>
              </ng-template>
              <div class="table-responsive mt-5">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-lg">
                  <table class="table table-hover text-nowrap mb-0">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Poids(Kg)</th>
                        <th>Taille(cm)</th>
                        <th>IMC</th>
                        <th>TA</th>
                        <th>Pouls</th>
                        <th>T°C</th>
                        <th>GLYCÉMIE PP</th>
                        <th>GLYCÉMIE à jeun</th>
                        <th>BU S</th>
                        <th>BU A</th>
                        <th class="text-center">Partager</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <ng-container *ngIf="constantes">
                        <tr *ngIf="constantes.length==0">
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>

                          <td class="text-center">
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngFor="let date of arr_date; let i = index">
                        <tr>


                          <td>
                            <p>{{date}}</p>
                          </td>
                          <ng-container *ngFor="let param of paramSurveillances;">
                            <td>
                              <ng-container *ngFor="let c of constantes;">
                                <p *ngIf="c.constanteId == param.id && date == c.date ">{{c.valeur}}</p>
                              </ng-container>
                            </td>
                          </ng-container>
                          <td class="text-center">
                            <button (click)="saisieConstanteMedicale.show()"
                              class="btn btn-sm btn-success shadow-none py-1 px-2" tooltip="Partager">
                              <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
                            </button>
                          </td>

                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
              <!--<div class="p-3 mt-4 d-block rounded d-flex justify-content-center">
                <pagination [rotate]="true" [totalItems]="30" class="pagination-icons pagination-first"></pagination>
              </div>-->
            </tab>
          </tabset>
        </div>
      </div>
      <div class="card card-box mt-4">
        <div class="card-header pl-4 pl-xl-5">
          <div class="card-header--title">
            <b class="font-size-lg d-flex align-items-center">Situation financière</b>
          </div>
          <div class="btn-group btn-group-sm float-right mr-4" dropdown>
            <button class="btn btn-sm dropdown-toggle no-caret btn-neutral-first" dropdownToggle type="button">
              Filtre
              <fa-icon [icon]="['fas', 'chevron-down']" class="opacity-8 font-size-xs ml-1"></fa-icon>
            </button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
              <ul class="nav nav-neutral-dark nav-pills flex-column px-3">
                <li class="nav-item">
                  <div class="custom-checkbox custom-control mb-3 custom-control-inline"><input
                      class="custom-control-input" id="exampleCustomInline2" type="checkbox"><label
                      class="custom-control-label" for="exampleCustomInline2">Montant réglé</label>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="custom-checkbox custom-control mb-3 custom-control-inline"><input
                      class="custom-control-input" id="exampleCustomInline3" type="checkbox"><label
                      class="custom-control-label" for="exampleCustomInline3">Montant réglé partiellement</label>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="custom-checkbox custom-control mb-3 custom-control-inline"><input
                      class="custom-control-input" id="exampleCustomInline4" type="checkbox"><label
                      class="custom-control-label" for="exampleCustomInline4">Montant non réglée</label>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="custom-checkbox custom-control custom-control-inline"><input class="custom-control-input"
                      id="exampleCustomInline1" type="checkbox"><label class="custom-control-label"
                      for="exampleCustomInline1">Voir tous</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <button *ngIf="btn_show" (click)="openLoginModalGlobal()" class="btn d-40 p-0 btn-pill btn-first"
            type="button" tooltip="Régler des consultations" aria-describedby="tooltip-25"><span
              class="btn-wrapper--icon"><i class="ion-ios-settings font-size-lg"></i></span></button>

          <!--<button *ngIf="!btn_show" (click)="openModalMutuelle('')" class="btn d-40 p-0 btn-pill btn-first"
            type="button" tooltip="Ajouter mutuelle" aria-describedby="tooltip-25"><span class="btn-wrapper--icon"><i
                class="ion-ios-add font-size-lg"></i></span></button>-->
        </div>

        <div class="card-body p-4 p-xl-5">

          <tabset [justified]="true" class="tabs-animated tabs-animated-line mt-lg-0" type="tabs">
            <tab>
              <ng-template tabHeading>
                <span class="font-size-lg text-left" (click)="Reglement()">Consultation</span>
              </ng-template>

              <div class="table-responsive mt-5">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-lg">
                  <table class="table table-hover text-nowrap mb-0 table-borderless">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th class="text-center">Type</th>
                        <th>Montant</th>
                        <th>Montant réglé</th>
                        <th class="text-red">Montant restant</th>
                        <th class="text-center">Mutuelle Faite</th>
                        <th class="text-center">Régler</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngIf="!refresh_reg || !situations">
                        <sk-circle [color]="'#3c44b1'"></sk-circle>
                      </div>
                      <tr *ngFor="let c of situations">
                        <td>
                          <div class="position-relative form-check form-check-inline mr-0">
                            <label class="form-check-label"><input
                                class="form-check-input" type="checkbox"   [disabled]="c.montant-c.montant_regle==0" (change)="selectReglement(c)"> </label>
                          </div>
                        </td>
                        <td>
                          {{c.dateConsultation}}
                        </td>
                        <td class="text-center">
                          <div class="badge bg-neutral-success text-warning px-4">{{c.acte}}</div>
                        </td>
                        <td>
                          <span *ngIf="c.montant; let montant">{{c.montant}} DHs</span>
                          <span *ngIf="!c.montant">-</span>
                        </td>
                        <td>
                          <span *ngIf="c.montant_regle; let montant_regle">{{c.montant_regle}} DHs</span>
                          <span *ngIf="!c.montant_regle">-</span>
                        </td>
                        <td class="text-red">
                          <span *ngIf="c.montant">{{c.montant-c.montant_regle}} DHs</span>
                          <span *ngIf="!c.montant">-</span>
                        </td>
                        <td>
                          <div class="position-relative form-check form-check-inline mr-0">
                            <label class="form-check-label"><input
                                class="form-check-input" type="checkbox"    (change)="mutuelleFaite(c)"> </label>
                          </div>
                        </td>
                        <td class="text-center">
                          <button *ngIf="c.montant-c.montant_regle!=0" (click)="openLoginModal(c)"
                            class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Régler situation" type="button">
                            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                          </button>
                          <button *ngIf="c.montant-c.montant_regle==0" (click)="openLoginModal(c)"
                            class="btn btn-sm btn-success shadow-none py-1 px-2" tooltip="Régler situation" type="button">
                            <fa name="check"></fa>
                          </button>
                        </td>
                      </tr>
                      <ng-container *ngIf="situations">
                        <tr *ngIf="situations.length==0">
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-red">
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </tab>
            <tab>
              <ng-template tabHeading>
                <span class="font-size-lg text-left" (click)="Reglement()">Réglement</span>
              </ng-template>

              <div class="table-responsive mt-5">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-lg">
                  <table class="table table-hover text-nowrap mb-0 table-borderless">
                    <thead>
                      <tr>
                        <!--<th>#
                          <div class="position-relative form-check form-check-inline"><label class="form-check-label"><input class="form-check-input" type="checkbox"> </label></div>
                        </th>-->
                        <th>Date consultation</th>
                        <th>Date Réglement</th>
                        <th class="text-center">Type</th>
                        <!--<th>Montant</th>-->
                        <th>Montant réglé</th>
                        <!--<th class="text-red">Montant restant</th>
                        <th class="text-center">Régler</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngIf="!refresh__list_reg || !reglements">
                        <sk-circle [color]="'#3c44b1'"></sk-circle>
                      </div>
                      <tr *ngFor="let c of reglements">
                        <!--<td>
                          <div class="position-relative form-check form-check-inline mr-0">
                            <label class="form-check-label"><input
                                class="form-check-input" type="checkbox"   [disabled]="c.montant-c.montant_regle==0" (change)="selectReglement(c)"> </label>
                          </div>
                        </td>-->
                        <td>
                          {{c.dateConsultation}}
                        </td>
                        <td>
                          {{c.dateReglement}}
                        </td>
                        <td class="text-center">
                          <div class="badge bg-neutral-success text-warning px-4">{{c.acte}}</div>
                        </td>
                        <!--<td>
                          <span *ngIf="c.montant; let montant">{{c.montant}} DHs</span>
                          <span *ngIf="!c.montant">-</span>
                        </td>-->
                        <td>
                          <span *ngIf="c.montant_regle; let montant_regle">{{c.montant_regle}} DHs</span>
                          <span *ngIf="!c.montant_regle">-</span>
                        </td>
                        <!--<td class="text-red">
                          <span *ngIf="c.montant">{{c.montant-c.montant_regle}} DHs</span>
                          <span *ngIf="!c.montant">-</span>
                        </td>

                        <td class="text-center">
                          <button *ngIf="c.montant-c.montant_regle!=0" (click)="openLoginModal(c)"
                            class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Régler situation" type="button">
                            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                          </button>
                          <button *ngIf="c.montant-c.montant_regle==0" (click)="openLoginModal(c)"
                            class="btn btn-sm btn-success shadow-none py-1 px-2" tooltip="Régler situation" type="button">
                            <fa name="check"></fa>
                          </button>
                        </td>-->
                      </tr>
                      <ng-container *ngIf="situations">
                        <tr *ngIf="situations.length==0">
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-red">
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </tab>
            <!--<tab>
              <ng-template tabHeading>
                <span class="font-size-lg text-left" (click)="Reglement()">Mutuelle</span>
              </ng-template>
              <div class="table-responsive mt-5">
                <perfect-scrollbar [autoPropagation]="true" class="scroll-area-lg">
                  <table class="table table-hover text-nowrap mb-0">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th class="text-center">Remplie</th>
                        <th class="text-center">Validée</th>
                        <th class="text-center">Progrès</th>
                        <th class="text-center">Régler</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngIf="!mutuelleFaites">
                        <sk-circle [color]="'#3c44b1'"></sk-circle>
                      </div>
                      <ng-container *ngIf="mutuelleFaites">
                        <tr *ngFor="let mut of mutuelleFaites">
                          <td>
                            {{mut.date}}
                          </td>
                          <td class="text-center">
                            <p *ngIf="mut.remplie">Oui</p>
                            <p *ngIf="!mut.remplie">Non</p>
                          </td>
                          <td class="text-center">
                            <p *ngIf="mut.valider">Oui</p>
                            <p *ngIf="!mut.valider">Non</p>
                          </td>
                          <td>
                            <progressbar *ngIf="mut.valider==true && mut.remplie==true" [value]="100"
                              class="progress-bar-rounded" type="success">100%</progressbar>
                            <progressbar *ngIf="mut.valider!=true && mut.remplie==true" [value]="50"
                              class="progress-bar-rounded" type="success">50%</progressbar>
                            <progressbar *ngIf="mut.valider!=true && mut.remplie!=true" [value]="0"
                              class="progress-bar-rounded" type="dark">0%</progressbar>
                          </td>
                          <td class="text-center">
                            <button (click)="openModalMutuelle(mut)" class="btn btn-sm btn-dark shadow-none py-1 px-2"
                              tooltip="Régler">
                              <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="mutuelleFaites.length==0">
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td class="text-center">
                            -
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </tab>-->
          </tabset>
        </div>
      </div>

    </div>
  </div>
  <div class="sidebar-inner-layout-overlay"></div>







  <!-- modal : Modifier profil-->

  <!-- <div #modifierprofil="bs-modal" backdrop="false" bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content border-0 bg-white">
        <div class="modal-header pl-5 modal-profil">
          <h5 class="modal-title text-primary">Modifier le profil</h5>
          <button (click)="modifierprofil.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <!--<div class="modal-body p-5">
          <app-detail-dossier-patient  ></app-detail-dossier-patient>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="openBorderlessModal.hide()">Fermer</button>
        </div>-->
      <!-- </div>
    </div>
  </div> -->





  <!-- modal : Modifier constante médicale-->

  <!-- <div #saisieConstanteMedicale="bs-modal" backdrop="false" bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content border-0 bg-white">
        <div class="modal-header pl-5 modal-profil">
          <h5 class="modal-title text-primary">Modifier les signes vitaux</h5>
          <button (click)="saisieConstanteMedicale.hide()" type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0">
          <app-saisie-constante-medical (changeConstante)="onChangeConstante($event)"></app-saisie-constante-medical>
        </div>
      </div>
    </div>
  </div> -->


  <!-- modal : Modifier Réglement-->

  <!--<div #saisieReglement="bs-modal" backdrop="false" bsModal class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content border-0 bg-white">
        <div class="modal-header pl-5 modal-profil">
          <h5 class="modal-title text-primary">Modifier le profil</h5>
          <button (click)="saisieReglement.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-5">

          <app-rdv-paiement (change)="onChangeRegelemnt($event)"></app-rdv-paiement>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="saisieReglement.hide()">Fermer</button>
        </div>
      </div>
    </div>
  </div>-->



</div>
