
<button type="button" class="btn btn-primary"
tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Simple demo
</button>

<ng-template #calendarPopover>

    <h3>{{toolData .title}}</h3>

  </ng-template>
<full-calendar
  #fullcalendar
  [plugins]="calendarPlugins" 
  [editable]="true"
  [events]="calendarEvents"
  [defaultView]="'timeGridWeek'"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
    }"
  [height]="'auto'"
  [dir]="'ltr'"
  [events]="calendarEvents"
  (dateClick)="onDateClick($event)"
  (eventClick)="onEventClick($event)" 
  (eventRender)="mouseOver($event)">
</full-calendar>

