<app-page-title-breadcrumb></app-page-title-breadcrumb>

<div class="app-inner-content-layout--main bg-white p-0 card-box">

  <div class="app-inner-content-layout--main__header rounded-0 bg-white">

    <div class="row d-flex justify-content-between mx-lg-4 mt-lg-4 mb-lg-0 mx-xl-5 mt-xl-5 mb-xl-0">

      <form #form="ngForm" (ngSubmit)="remplirSearch(form)">
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="num_dossier">N° dossier </label>
          <div class="col-sm-2">
            <input class="form-control" id="num_dossier" name="num_dossier" placeholder="selectionner une famille"
              type="text" [(ngModel)]="searchs.num_dossier">

          </div>

          <label class="col-sm-1 col-form-label" for="nom">Nom :</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="emailHelp"
              [(ngModel)]="searchs.lastname">
          </div>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

          <label class="col-sm-2 col-form-label" for="prix">Dérniere consult :</label>
          <div class="col-sm-3">
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control"
              placeholder="Select date" type="text" id="date" name="date" [(ngModel)]="searchs.date">
          </div>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>

        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label" for="telephone">N° telephone :</label>
          <div class="col-sm-2">
            <input class="form-control" id="telephone" name="telephone" placeholder="selectionner une famille" type="text"
              [(ngModel)]="searchs.telephone">

          </div>

          <label class="col-sm-1 col-form-label" for="firstname">Prénom :</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="firstname" name="firstname" aria-describedby="emailHelp"
              [(ngModel)]="searchs.firstname">
          </div>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

          <label class="col-sm-2 col-form-label" for="praticien">Médecin traitant :</label>
          <div class="col-sm-3">
            <select class="form-control" id="praticien" name="praticien" [(ngModel)]="searchs.praticien">
              <option>Selectionner praticien</option>
              <option *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
            </select>
          </div>
          <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
        </div>
        <button class="btn btn-primary m-4" type="submit">Rechercher</button>
        <button class="btn btn-primary m-4" (click)="goToPage(null,'fiche-patient')">Fiche patient</button>
    </form>

    </div>

  </div>

<div class="row">
  <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap mb-0">
          <thead>
            <tr>

              <th class="text-center">#</th>
              <th class="text-center">N° dossier</th>
              <th class="text-center">Nom et prénom</th>
              <th class="text-center">Tel 1</th>
              <th class="text-center">Tel 2</th>
              <th class="text-center">Date dernière consultation</th>
              <th class="text-center">Médecin traitant</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients">
              <td (click)="selectPatients(patient)" class="text-center">
                <input class="from-control" id="selectPatient" name="selectPatient"
                   type="checkbox"><!--[checked]="selectPatient.lpatient_id==patient.lpatient_id"-->
              </td>
              <td class="text-center">
                {{patient.num_admission}}
              </td>
              <td class="text-center" (click)="selectPatients(patient)">
                {{patient.lastname}} {{patient.firstname}}
              </td>
              <td class="text-center">
                {{patient.tel}}
              </td>
              <td class="text-center">
                {{patient.fixe}}
              </td>
              <td></td>
              <td class="text-center">
                {{patient.praticien}}
              </td>
              <td>
                <button class="btn btn-primary" (click)="goToPage(patient,'fiche-patient')">Fiche
                  patient</button>&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="goToPage(patient,'dossier-medical')">Dossier
                  médical</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>


</div>
