<div class="row" >
    <div class="col-sm-8">
      <div *ngFor="let alert of defaultAlerts">
          <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible" > {{alert.msg}} </alert>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <form (ngSubmit)="persistConstante(f)" #f="ngForm">
                  <div class="position-relative row form-group">
                      <input type="hidden" class="form-control" [(ngModel)]="myConstante.id"  name="id" id="id" aria-describedby="emailHelp"  placeholder="libelle" ngModel>
                      <label class="col-sm-3 col-form-label" for="exampleInputEmail1">Libelle</label>
                      <div class="col-sm-9">
                      <input type="text" class="form-control" [(ngModel)]="myConstante.libelle"  name="libelle" id="libelle" aria-describedby="emailHelp"  placeholder="libelle" ngModel>
                      </div>
                  </div>
                  
                 
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="exampleCustomSelectDisabled">Abreviation</label>
                    <div class="col-sm-9">  
                    <input type="text" class="form-control"  name="abreviation" [(ngModel)]="myConstante.abreviation" id="abreviation" aria-describedby="emailHelp"  placeholder="abreviation" ngModel>
                    </div>  
                  </div>

                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="exampleCustomSelectDisabled">Couleur</label>
                    <div class="col-sm-9">     
                    <input type="color" class="form-control"  name="couleur" [(ngModel)]="myConstante.couleur" id="couleur" aria-describedby="emailHelp"  placeholder="couleur" ngModel>
                    </div>
                  </div>
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label"  for="exampleCustomSelectDisabled">Borne min</label>
                    <div class="col-sm-9"> 
                        <input type="text" class="form-control"  name="borneMin" [(ngModel)]="myConstante.borneMin" id="borneMin" aria-describedby="emailHelp"  placeholder="borneMin" ngModel>
                    </div>
                  </div>
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="borneMax">Borne max</label>
                    <div class="col-sm-9"> 
                        <input type="text" class="form-control"  name="borneMax" [(ngModel)]="myConstante.borneMax" id="borneMax" aria-describedby="emailHelp"  placeholder="borneMax" ngModel>
                    </div>
                  </div>
                  
                  <div class="position-relative row form-group">
                    <label class="col-sm-3 col-form-label" for="exampleCustomSelectDisabled">Unité</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="unite" name="unite" ngModel  [(ngModel)]="myConstante.unite" >
                            <option value="">Séléctioner unité</option>
                            <option *ngFor="let u of unites" value="{{u.id}}" >{{u.libelle}} </option>
                        </select>
                    </div>
                  </div>
                  <button class="btn m-2 btn-primary" [disabled]="!savedData" type="submit" *ngIf="editForm">
                      <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
                      Enregistrer
                  </button>
                  <button class="btn btn-success"  *ngIf="!editForm" >
                      <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
                      Modifier
                  </button>
              </form>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6">
          <div class="card card-box mb-5">
              <div class="card-header py-3">
                <div class="card-header--title font-size-lg">
                  Liste des unités
                </div>
                <div class="card-header--actions">
                  <button class="btn btn-sm btn-neutral-secondary" type="button">
                            <span class="btn-wrapper--icon">
                                <!--<fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>-->
                            </span>
                    <span class="btn-wrapper--label">
                                Add ticket
                            </span>
                  </button>
                </div>
              </div>
              
              <div class="divider"></div>
              <div class="table-responsive">
                <div *ngIf="!loadedData"><sk-circle [color]="'#3c44b1'"></sk-circle></div>
                <table   class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
                  <thead>
                  <tr>
                    <th class="bg-white">Libelle</th>
                    <th class="bg-white">Abreviation</th>
                    <th colspan="2">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of constantes">
                    <td class="font-weight-bold">
                      {{c.libelle}}
                    </td>
                    <td class="font-weight-bold">
                      {{c.abreviation}}
                    </td>
                    
                       <td>

                        <button (click)="edit(c)" class="btn btn-sm btn-dark shadow-none py-1 px-2"
                          tooltip="Configurer">
                          <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                        </button>
                      </td>
                      <td>
      
                        <button (click)="delete(c)" class="btn btn-sm btn-danger shadow-none py-1 px-2"
                          tooltip="Configurer">
                          <span>Supprimer</span>
                        </button>
                        <fa name="cog" animation="spin"></fa>
                      </td>
                  </tr>                
                  </tbody>
                </table>
              </div>
              
            </div>
      </div>
    </div>