<div class="card card-box saisie-type-consultation-component">
    <div class="card-header page-bg d-flex justify-content-between">
  
      <h5 class="modal-title text-primary pl-4">Modifier l'acte</h5>
  
      <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-0">
      <!--<div class="row">
        <div class="col-sm-12">
          <div *ngFor="let alert of defaultAlerts">
            <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
          </div>
        </div>
      </div>-->
      <form (ngSubmit)="remplirMyCentre(f)" #f="ngForm">
  
        <div class="p-5">
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="code">Code</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myCentreSoin.code" name="code"
                    id="code" aria-describedby="emailHelp" placeholder="code" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
              
              <input type="hidden" class="form-control" [ngModel]="myCentreSoin.id"
                name="id" id="id" aria-describedby="emailHelp" placeholder="libelle" ngModel>
              <label class="col-sm-2 col-form-label" for="etablissement">Etablissement</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myCentreSoin.etablissement" name="etablissement"
                  id="etablissement" aria-describedby="emailHelp" placeholder="etablissement" ngModel>
              </div>
            </div>
            <div class="position-relative row form-group">
              <label class="col-sm-2 col-form-label" for="activite">Activité</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myCentreSoin.activite" name="activite"
                  id="activite" aria-describedby="emailHelp" placeholder="activite" ngModel>
              </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="adresse">Adresse</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myCentreSoin.adresse" name="adresse"
                    id="adresse" aria-describedby="emailHelp" placeholder="adresse" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="etatConvention">Etat Convention</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="myCentreSoin.etatConvention" name="etatConvention"
                    id="etatConvention" aria-describedby="emailHelp" placeholder="etatConvention" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="ice">Ice</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myCentreSoin.ice" name="ice"
                    id="ice" aria-describedby="emailHelp" placeholder="ice" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="inpe">Inpe</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myCentreSoin.inpe" name="inpe"
                    id="inpe" aria-describedby="emailHelp" placeholder="inpe" ngModel>
                </div>
            </div>
            
        </div>
        <!---->
        <div class="modal-footer">
          <button class="btn m-2 btn-primary"  type="submit">
            <span aria-hidden="true"  class="spinner-border spinner-border-sm" role="status"></span>
            Sauvegarder les modifications
          </button>
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
        </div>
      </form>
  
    </div>
  </div>
  