<div class="row py-2">
  <div class="col-sm-9">
    <div class="form-group w-50">
      <div class="input-group">
        <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher une mutuelle</label>
        <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search">
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-6">
        <div class="card card-box mb-5">
            <div class="card-header py-3">
              <div class="card-header--title font-size-lg">
                Support board
              </div>
              <div class="card-header--actions">
                <button class="btn btn-sm btn-neutral-secondary" type="button">
                          <span class="btn-wrapper--icon">

                          </span>
                  <span class="btn-wrapper--label">
                              Add ticket
                          </span>
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <div class="table-responsive">
              <table  class="table table-hover text-nowrap mb-0" >
                <thead>
                <tr>
                  <th class="bg-white">Libelle</th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let mutuelle of mutuelles">
                  <td class="font-weight-bold" (click)="show(mutuelle)">
                    {{mutuelle.libelle}}
                  </td>
                  <td>

                    <button (click)="edit(mutuelle)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                      <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                    </button>
                  </td>
                  <td>

                    <button (click)="delete(mutuelle)" class="btn btn-sm btn-danger shadow-none py-1 px-2" tooltip="Configurer" >
                      <span>Supprimer</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
  </div> -->
  <div class="col-sm-3 pl-5">
    <div class="">
      <button class="btn btn-block btn-success" type="button" (click)="add()">
        <span class="btn-wrapper--icon">
          <fa-icon [icon]='faPlus'></fa-icon>
        </span>
        <span class="btn-wrapper--label">Ajouter une nouvelle mutuelle</span>
      </button>

    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-sm-12">
    <div *ngFor="let alert of defaultAlerts">
      <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
    </div>
  </div>
</div>-->

<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <div *ngIf="!loadedData">
        <sk-circle ></sk-circle>
      </div>
      <!--<perfet-scroll class="scroll-area-lg ps-show-limits">-->
      <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
        <thead>
          <tr>
            <th class="text-center">Libelle</th>
            <th class="text-center">Modifier</th>
            <th class="text-center">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mutuelle of mutuelles" class="text-center">
            <td class="font-weight-bold" >
              {{mutuelle.libelle}}
            </td>
            
            <td class="text-center">
              <button (click)="edit(mutuelle)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              </button>
            </td>
            <td class="text-center">
              <button (click)="delete(mutuelle)" class="btn btn-sm btn-danger shadow-none py-1 px-2" tooltip="Configurer">
                <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--</perfet-scroll>-->
      <!--<div class="table-responsive"><ng2-smart-table class="table text-nowrap table-bordered" [settings]="settings" [source]="data"></ng2-smart-table></div>-->
    </div>
  </div>
</div>
<!-- <div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="position-relative row form-group">
        <label class="col-sm-3 col-form-label" for="libelle">Libelle</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" [(ngModel)]="mymutuelle.libelle" id="libelle"
            aria-describedby="emailHelp">
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="persist()" *ngIf="editForm">Enregistrer</button>
      <button class="btn btn-success" (click)="update()" *ngIf="!editForm">Modifier</button>
    </div>
  </div>
</div> -->
