<div class="card card-box saisie-type-consultation-component">
    <div class="card-header page-bg d-flex justify-content-between">
  
      <h5 class="modal-title text-primary pl-4">Modifier le laboratoire</h5>
      <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-0">
      <form [formGroup]="editLaboForm" (ngSubmit)="edit()">
        <div class="p-5">
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="name" placeholder="Nom" />
            </div>
          </div>
  
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Téléphone</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="tel" placeholder="Téléphone" />
            </div>
          </div>
  
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Adresse</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse" />
            </div>
          </div>
  
      
        </div>
        <div class="modal-footer">
          <button class="btn m-2 btn-primary" type="submit"> Modifier
          </button>
  
          <!--<button class="btn ml-2 btn-light" aria-label="Fermer" name="Fermer" id="fermer" (click)="close($event)"> Fermer
          </button>-->
        </div>
      </form>
    </div>  
  </div>