<div class="type-consultation-component">

  <div class="row py-2">
    <div class="col-sm-9">
      <div class="form-group w-50">
        <div class="input-group">
          <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher un acte</label>
          <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search">
          <div class="input-group-append">
            <span class="input-group-text">
              <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 pl-5">
      <div class="">
        <button class="btn btn-block btn-success" type="button" >
          <span class="btn-wrapper--icon">
            <fa-icon [icon]='faPlus'></fa-icon>
          </span>
          <span class="btn-wrapper--label" (click)="add()">Ajouter un nouveau acte</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let alert of defaultAlerts">
        <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <!-- <perfet-scroll class="scroll-area-lg ps-show-limits"> -->
           <div *ngIf="!loadedData">
            <sk-circle ></sk-circle>
          </div>
          <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
            <thead>
              <tr>
                <th class="text-center">Libelle</th>
                <th class="text-center">Activité</th>
                <th class="text-center">Adresse</th>
                <th class="text-center">Modifier</th>
                <th class="text-center">Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of centreSoins" class="text-center">
                <td  >
                  {{c.etablissement}}
                </td>
                <td>
                  {{c.activite}}
                </td>
                <td>
                  {{c.adresse}} 
                </td>
                <td>
                  <button (click)="edit(c)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                  </button>
                </td>
                <td>
                  <button (click)="delete(c)" class="btn btn-sm btn-danger shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- </perfet-scroll> -->
      </div>
    </div>
    
  </div>
</div>


<!--<div class="row">
  <div class="col-sm-12">
    <div class="card card-box mb-5">
      <div class="card-header py-3">
        <div class="card-header--title font-size-lg">
          Support board
        </div>
        <div class="card-header--actions">
          <button class="btn btn-sm btn-neutral-secondary" type="button">
            <span class="btn-wrapper--icon">
              <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
            </span>
            <span class="btn-wrapper--label">
              Add ticket
            </span>
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="table-responsive">
        <table class="table table-hover text-nowrap mb-0">
          <thead>
            <tr>
              <th class="bg-white">Libelle</th>
              <th class="bg-white">Code</th>
              <th class="bg-white">Activité</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let centre of centreSoins">
              <td class="font-weight-bold">
                {{centre.etablissement}}
              </td>
              <td class="font-weight-bold">
                {{centre.code}}
              </td>
              <td class="font-weight-bold">
                {{centre.activite}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="etablissement">Etablissement</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="myCentreSoin.etablissement" id="etablissement"
              aria-describedby="emailHelp">
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="code">Code</label>
          <div class="col-sm-9">
            <input class="form-control" id="code" name="code" [(ngModel)]="myCentreSoin.code" placeholder=""
              type="text">
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="activite">Activite</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="myCentreSoin.activite" id="activite"
              aria-describedby="emailHelp">
          </div>
          
        </div>

        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="etatConvention">Etat Convention</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="myCentreSoin.etatConvention" id="etatConvention"
              aria-describedby="emailHelp">
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="ice">Ice</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="myCentreSoin.ice" id="ice"
              aria-describedby="emailHelp">
          </div>
        </div>
        <div class="position-relative row form-group">
          <label class="col-sm-3 col-form-label" for="inpe">Inpe</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="myCentreSoin.inpe" id="inpe"
              aria-describedby="emailHelp">
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary" (click)="persist()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>

-->