<div class="px-3 pb-3 pt-4 pages-register-content-component">
  <div class="card m-0 shadow-none border-0">
    <p class="font-size-md mb-2 text-black-50">
      Remplissez les champs ci-dessous et vous serez prêt à partir.
    </p>
    <div *ngFor="let alert of defaultAlerts">
      <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
    </div>
    <div class="card-body p-0">
      <form (ngSubmit)="remplirMyUser(form)" #form="ngForm">
        <perfect-scrollbar [autoPropagation]="true" class="scroll-area-md shadow-overflow py-4">
          <div class="pr-4 pr-sm-5  mb-5">
            <div class="form-group">
              <label>Adresse e-mail</label>
              <input class="form-control" placeholder="Entrez votre adresse email" type="email"
                [(ngModel)]="myUser.email" name="email">
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label>Mot de passe</label>
              </div>
              <input class="form-control" placeholder="Tapez votre mot de passe" type="password"
                [(ngModel)]="myUser.password" name="password">
            </div>
            <div class="form-group">
              <label>Prénom</label>
              <input class="form-control" placeholder="Entrez votre prénom" type="text" [(ngModel)]="myUser.firstname"
                name="firstname">
            </div>
            <div class="form-group">
              <label>Nom</label>
              <input class="form-control" placeholder="Entrez votre nom" type="text" [(ngModel)]="myUser.lastname"
                name="lastname">
            </div>
            <div class="form-group">
              <label>Nom d'utilisateur</label>
              <input class="form-control" placeholder="Entrez votre nom d'utilisateur" type="text"
                [(ngModel)]="myUser.username" name="username">
            </div>
            <div class="form-group">
              <label>Cin</label>
              <input class="form-control" placeholder="Entrez votre nom d'utilisateur" type="text"
                [(ngModel)]="myUser.cin" name="cin">
            </div>
            <div class="form-group">
              <label>Tél</label>
              <input class="form-control" placeholder="Entrez votre tél" type="text"
                [(ngModel)]="myUser.tel" name="tel">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Type utilisateur</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="myUser.typeUser" name="typeUser"
                (change)="getTypeUser($event)">
                <option></option>
                <option *ngFor="let type of typeUsers" value="{{prefix.typeUser}}{{type.id}}">
                  {{type.libelle}}</option>
              </select>
            </div>
            <div class="form-group" (change)=toggleSpecialite(myUser) *ngIf="is_medecin">
              <label for="exampleFormControlSelect1">Specialité</label>
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="myUser.specialite"
                name="specialite">
                <option></option>
                <option *ngFor="let spec of specialites" value="{{prefix.speciaite}}{{spec.id}}">
                  {{spec.libelle}}</option>
              </select>
            </div>
            <div class="position-relative row form-group">
              <!-- Photo -->
              <label class="col-sm-2 col-form-label" for="fileDetail">Document</label>
              <div class="col-sm-4 d-flex align-items-center">
                <input class="form-control-file" id="fileDetail" name="file" type="file" (change)="fileSelected($event)">
              </div>
            </div>
            <div class="form-group mb-1 text-justify font-size-sm text-muted">
              En cliquant sur le bouton <strong>Créer un compte</strong> ci-dessous, vous acceptez nos
              conditions d'utilisation et notre déclaration de confidentialité.
            </div>
          </div>
        </perfect-scrollbar>
        <div class="text-left mb-5">
          <button class="btn btn-second my-4" type="submit">Créer un compte</button>
        </div>
      </form>
    </div>
  </div>
</div>
