

<div class="pages-login-content-component w-100 min-vh-100">
    <div class="app-wrapper bg-white">
      <div class="app-main">
        <div class="app-content p-0">
          <div class="app-inner-content-layout--main">
            <div class="flex-grow-1 w-100 d-flex align-items-center">
              <div class="bg-composed-wrapper--content">
                <div class="row min-vh-100 no-gutters">

                  <div class="col-xl-5 col-lg-5 col-md-12 order-1 order-lg-1 order-md-1 d-flex mb-5 mb-sm-0">

                    <div class="hero-wrapper w-100 bg-composed-wrapper min-vh-lg-100">
                      <div class="flex-grow-1 w-100 d-flex align-items-center">
                        <div class="bg-composed-wrapper--image"
                          style="background-image: url('assets/images/hero-bg/hero-9.jpg');"></div>
                        <div class="bg-composed-wrapper--bg bg-color-e-elaje opacity-5"></div>
                        <div class="bg-composed-wrapper--content p-5">
                          <div class="d-flex justify-content-center justify-content-md-start mb-5">
                            <img alt="e-elaje application service santé Responsive image"
                              class="img-fluid w-75 w-sm-50 w-xl-50" src="assets/images/logo-e-elaje.svg">
                          </div>
                          <div class="text-white mt-3 app-page-title--heading">
                            <h1 class="display-4 my-3 font-weight-bold text-sm-left">
                              
                              La nouvelle solution de gestion pour les professionels de la santé.
                            </h1>
                            <div class="divider border-2 mt-4 border-light opacity-2 rounded w-25"></div>
                          </div>
                        </div>
                      </div>
                      <div class="hero-footer pb-4">
                        <ul class="nav nav-pills nav-neutral-secondary">
                          <li class="nav-item">
                            <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Facebook">
                              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Twitter">
                              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Google">
                              <fa-icon [icon]="['fab', 'google']"></fa-icon>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Instagram">
                              <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 col-lg-7 col-md-12 order-2 order-lg-2 order-md-2 px-xl-0 d-flex align-items-center justify-content-center">
                    <div class="w-sm-75 w-lg-50">
                      <app-login-content1></app-login-content1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



