<div class="card card-box saisie-type-consultation-component">
  <div class="card-header page-bg d-flex justify-content-between">

    <h5 class="modal-title text-primary pl-4">Ajouter un laboratoire</h5>
    <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">
    <form [formGroup]="addLaboForm" (ngSubmit)="add()">
      <div class="p-5">
        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="name" placeholder="Nom" />
          </div>
        </div>

        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label">Téléphone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="tel" placeholder="Téléphone" />
          </div>
        </div>

        <div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label">Adresse</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse" />
          </div>
        </div>

        <!--<div class="position-relative row form-group">
          <label class="col-sm-2 col-form-label">Type</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" formControlName="types" placeholder="Type" />
          </div>
        </div>
        <div class="tags">
          <ul>
            <li *ngFor="let type of typeOfAnalyses">
              <a (click)="toggle(type, $event)">
                {{type.name}}
                <span *ngIf="!type.status == true; else removeIcon">
                  <fa-icon [icon]='faPlus'></fa-icon>
                </span>
                <ng-template #removeIcon>
                  <fa-icon [icon]='faClose'></fa-icon>
                </ng-template>
              </a>
            </li>

          </ul>
        </div>-->
      </div>
      <!---->
      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit"> Ajouter
          <!--<span aria-hidden="true"  class="spinner-border spinner-border-sm" role="status"></span>
            Sauvegarder les modifications-->
        </button>

        <!--<button class="btn ml-2 btn-light" (click)="close()"> Fermer
        </button> -->
        <!-- <button class="btn btn-success" *ngIf="!editForm">
            <span aria-hidden="true"  class="spinner-border spinner-border-sm" role="status"></span>
            Modifier
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button> -->
      </div>
    </form>

  </div>
</div>