.tags {
    position: relative;
    // height: 120px;
    // width: 100vw;
    cursor: ns-resize;
}

.tags ul {
    list-style: none;
   padding: 0;
   margin: 0;
}

.tags ul li {
    // display: inline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // width: 28%;
    // height: 100px;
    background: #e2ece5;
    opacity: 0.5;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.tags ul li:last-child() {
    margin-bottom: 3px;
}

.tags ul li a {
    cursor: pointer;
}

/*.tags ul li>a:active {
    // display: block !important;
    // visibility: visible;
    background-color: green;
}

.tags ul li>a:not(:active) {
    // display: none !important;
    //visibility: hidden;
    background-color: red;
}*/

.select-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: green !important;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    opacity: 1 !important;
    color: white;
}

.unselect-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: red !important;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    opacity: 1 !important;
    color: white;
    opacity: 1 !important;
    color: white;
}