<div class="card card-box saisie-type-consultation-component">
    <div class="card-header page-bg d-flex justify-content-between">
  
      <h5 class="modal-title text-primary pl-4">Ajouter une DCI</h5>
      <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-0">
      <form [formGroup]="addDciForm" (ngSubmit)="add()">
        <div class="p-5">
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label">Libelle</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="libelle" placeholder="Libelle" />
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn m-2 btn-primary" type="submit"> Ajouter
          </button>
  
        </div>
      </form>
  
    </div>
  </div>