<div class="type-consultation-component">

  <div class="row py-2">
    <div class="col-sm-9">
      <div class="form-group w-50">
        <div class="input-group">
          <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher un acte</label>
          <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search">
          <div class="input-group-append">
            <span class="input-group-text">
              <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 pl-5">
      <div class="">
        <button class="btn btn-block btn-success" type="button" >
          <span class="btn-wrapper--icon">
            <fa-icon [icon]='faPlus'></fa-icon>
          </span>
          <span class="btn-wrapper--label" (click)="add()">Ajouter un nouveau acte</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let alert of defaultAlerts">
        <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <!-- <perfet-scroll class="scroll-area-lg ps-show-limits"> -->
          <div *ngIf="!loadedData">
            <sk-circle [color]="'#3c44b1'"></sk-circle>
          </div>
          <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
            <thead>
              <tr>
                <th class="text-center">Libelle</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Durée</th>
                <th class="text-center">Nbre par jour</th>
                <th class="text-center">Modifier</th>
                <th class="text-center">Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of constantes" class="text-center">
                <td class="text-white" [ngStyle]="{'background-color':c.couleur}">
                  {{c.libelle}}
                </td>
                <td>
                  {{c.tarif}}
                </td>
                <td>
                  {{c.duree_name}} min
                </td>
                <td>
                  {{c.nbre}} 
                </td>
                <td>
                  <button (click)="edit(c)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                  </button>
                </td>
                <td>
                  <button (click)="delete(c)" class="btn btn-sm btn-danger shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- </perfet-scroll> -->
      </div>
    </div>
    
  </div>
</div>
