<div class="row">
  <div class="col-xl-8 p-0">
    <div class="hero-wrapper bg-composed-wrapper bg-arielle-smile overflow-hidden">
      <div class="flex-grow-1 w-100 d-flex align-items-center">
        <div class="bg-composed-wrapper--image" style="background-image: url('assets/images/hero-bg/hero-1.jpg');">
        </div>
        <div class="bg-composed-wrapper--bg bg-second opacity-5"></div>
        <div class="bg-composed-wrapper--content py-5">
          <div class="container text-center py-5">
            <div class="text-white mt-3 px-5">
              <h1 class="display-3 font-weight-bold">
                Trouvezun médecin Près de chez vous et prenez rendez-vous en ligne
              </h1>
              <p class="font-size-lg text-white-50 px-2 px-xl-5 my-4 d-block">
                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized.
              </p>
              <div class="divider border-2 my-5 mx-auto border-light opacity-2 rounded w-50"></div>
              <div class="px-5">
                <form>
                  <div class="row no-gutters">
                    <div class="col-xl-4 mt-0 mt-lg-4 px-2">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-xl-4 mt-0 mt-lg-4 px-2">
                      <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-xl-4 mt-0 mt-lg-4 px-2">
                      <button class="btn d-block w-100 btn-warning">
                        <span class="btn-wrapper--label">
                          Create account
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-footer pb-4">
        <ul class="nav nav-transparent">
          <li class="nav-item">
            <a class="nav-link text-white-50" tooltip="Facebook" [routerLink]="">
              <fa-icon [icon]="['fab', 'facebook']" class="font-size-lg"></fa-icon>
              <span class="d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" tooltip="Twitter" [routerLink]="">
              <fa-icon [icon]="['fab', 'twitter']" class="font-size-lg"></fa-icon>
              <span class="d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" tooltip="Google" [routerLink]="">
              <fa-icon [icon]="['fab', 'google']" class="font-size-lg"></fa-icon>
              <span class="d-lg-none">Google +</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" tooltip="Instagram" [routerLink]="">
              <fa-icon [icon]="['fab', 'instagram']" class="font-size-lg"></fa-icon>
              <span class="d-lg-none">Instagram</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-4 p-0">
    <div class="hero-wrapper bg-composed-wrapper h-100">
      <div class="flex-grow-1 w-100 d-flex align-items-end">
        <div class="bg-composed-wrapper--image opacity-9 bg-composed-filter-rm"
          style="background-image: url('assets/images/stock-photos/people-3.jpg');"></div>
        <div class="bg-composed-wrapper--content text-center p-5">
          <div class="text-white mt-3">
            <h1 class="display-3 my-3 font-weight-bold">
              Wonderful serenity has possession
            </h1>
            <p class="font-size-lg mb-0 text-white-50">
              A free hour, when our power of choice is untrammelled and when nothing prevents.
            </p>
            <div class="divider border-1 mx-auto my-4 border-light opacity-2 rounded w-25"></div>
            <div>
              <a [routerLink]="" class="btn btn-danger btn-lg btn-pill">
                <span class="btn-wrapper--icon">
                  <fa-icon [icon]="['far', 'envelope']"></fa-icon>
                </span>
                <span class="btn-wrapper--label">
                  Get in touch
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
