<div class="app-wrapper bg-white">
    <div class="app-main">
        <div class="app-content p-0">
            <div class="app-inner-content-layout--main">
                <div class="flex-grow-1 w-100 d-flex align-items-center">
                    <div class="bg-composed-wrapper--content">
                        <div class="hero-wrapper bg-composed-wrapper bg-arielle-smile min-vh-100">
                            <div class="flex-grow-1 w-100 d-flex align-items-center">
                                <div class="bg-composed-wrapper--image" style="background-image: url('assets/images/hero-bg/hero-1.jpg');"></div>
                                <div class="bg-composed-wrapper--bg bg-night-sky opacity-4"></div>
                                <div class="bg-composed-wrapper--content text-center py-5">
                                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto text-center text-white">
                                        <h1 class="display-2 mb-3 px-4 font-weight-bold">
                                          Récupérer mot de passe
                                        </h1>
                                        <h3 class="font-size-lg line-height-sm font-weight-light d-block px-3 mb-2 text-white-50">
                                          Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                                        </h3>
                                        <div class="row no-gutters">
                                            <div class="col-sm-12 col-lg-8 mt-3 px-2">
                                                <input class="form-control form-control-lg text-center text-lg-left" placeholder="Email" type="text">
                                            </div>
                                            <div class="col-sm-12 col-lg-4 mt-3 px-2">
                                                <button class="btn d-block shadow-none w-100 btn-warning btn-lg">
                                                    <span class="btn-wrapper--label text-white">
                                                      Réinitialiser
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hero-footer pb-4">
                                <ul class="nav nav-pills nav-neutral-secondary">
                                    <li class="nav-item">
                                        <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Facebook">
                                            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Twitter">
                                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Google">
                                            <fa-icon [icon]="['fab', 'google']"></fa-icon>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a [routerLink]="" class="nav-link font-size-lg text-white-50" tooltip="Instagram">
                                            <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



