<h2>Example: Hide/Disable HTML link element</h2>
<div>
  <div #container class="container">
  <a #link class="link" href="{{linkValue}}">link text</a>
  </div>
  <input #hideButton type="button" value="Hide" />
  <input #disableButton type="button" value="Disable" />
</div>
<img src="assets/images/avatars/avatar5.jpg">

