.app-content{
    background-color: white !important;
}

.link{
    background-color: yellow; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px
    
  }
  
  .isDisabled {
    color: currentColor;
    cursor: default;
    opacity: 0.5;
    text-decoration: none;
    font-size: 50px;
  }