<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Lieu de consultation</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">

    <form>
      <div class="p-5">
        <!-- Cabinet -->

        <div class="position-relative row form-group mb-5 d-flex">

          <label class="col-sm-2 col-form-label">Cabinet</label>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2 flex-grow-1" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <span class="d-flex align-items-center mb-2 ml-4 ml-sm-0">à</span>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
            class="form-control px-2" placeholder="Select date" type="text" id="dateDebut" name="dateDebut">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

        </div>
        <!-- Clinique -->
        <div class="position-relative row form-group mb-5">
          <label class="col-sm-2 col-form-label">Clinique</label>
          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2 flex-grow-1" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <span class="d-flex align-items-center mb-2 ml-4 ml-sm-0">à</span>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
            class="form-control px-2" placeholder="Select date" type="text" id="dateDebut" name="dateDebut">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

        </div>
        <!-- Télé-consultation -->
        <div class="position-relative row form-group mb-5">
          <label class="col-sm-2 col-form-label">Télé-consultation</label>
          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2 flex-grow-1" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <span class="d-flex align-items-center mb-2 ml-4 ml-sm-0">à</span>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
            class="form-control px-2" placeholder="Select date" type="text" id="dateDebut" name="dateDebut">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>
        </div>
        <!-- Absence praticien -->
        <div class="position-relative row form-group mb-5" >
          <label class="col-sm-2 col-form-label">Absence praticien</label>
          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2 flex-grow-1" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>

          <span class="d-flex align-items-center mb-2 ml-4 ml-sm-0">à</span>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'calendar-alt']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
            class="form-control px-2" placeholder="Select date" type="text" id="dateDebut" name="dateDebut">
          </div>

          <div class="col-12 col-sm-2 input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text px-2 px-xl-3">
                <fa-icon [icon]="['far', 'clock']" class="mx-auto"></fa-icon>
              </span>
            </div>
            <input class="form-control px-2" placeholder="Heure d'rrivée" type="text" id="heureArrivee" name="heureArrivee">
          </div>
        </div>
      </div>
      <!---->
      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit">
          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
      </div>
    </form>

  </div>
</div>
