<div class="row justify-content-between py-2">
  <div class="col-sm-8">
    <div class="form-group w-70">
      <div class="input-group">
        <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher un motif de consultation</label>
        <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search">
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="">
      <button class="btn btn-block btn-success" type="button" (click)="add()">
        <span class="btn-wrapper--icon">
          <fa-icon [icon]='faPlus'></fa-icon>
        </span>
        <span class="btn-wrapper--label">Ajouter un motif de consultation</span>
      </button>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <div *ngIf="!loadedData">
        <sk-circle ></sk-circle>
      </div>
      <!--<perfet-scroll class="scroll-area-lg ps-show-limits">-->
      <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
        <thead>
          <tr>
            <th class="text-center">Libelle</th>
            <th class="text-center">Modifier</th>
            <th class="text-center">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let motif of motifs" class="text-center">
            <td class="font-weight-bold" >
              {{motif.libelle}}
            </td>
            
            <td class="text-center">
              <button (click)="edit(motif)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              </button>
            </td>
            <td class="text-center">
              <button (click)="delete(motif)" class="btn btn-sm btn-danger shadow-none py-1 px-2" tooltip="Configurer">
                <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--</perfet-scroll>-->
      <!--<div class="table-responsive"><ng2-smart-table class="table text-nowrap table-bordered" [settings]="settings" [source]="data"></ng2-smart-table></div>-->
    </div>
  </div>
</div>

