<div class="row justify-content-between py-2">
  <div class="col-sm-7">
    <div class="form-group w-70">
      <div class="input-group">
        <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher un laboratoire</label>
        <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search" [(ngModel)]="searchText">
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5 pl-5">
    <div class="">
      <button class="btn btn-block btn-success" type="button" (click)="openAddLaboModal()">
        <span class="btn-wrapper--icon">
          <fa-icon [icon]='faPlus'></fa-icon>
        </span>
        <span class="btn-wrapper--label">Ajouter un Laboratoire</span>
      </button>

    </div>
  </div>
  <!--  <div class="col-sm-3 pl-5">
    <div class="">
      

      <button class="btn btn-block btn-success" type="button" (click)="openAddLaboModal()"></button>
      <span class="btn-wrapper--icon">
        <fa-icon [icon]='faPlus'></fa-icon>
      </span>
      <span class="btn-wrapper--label">Ajouter un motif de consultation</span>
    </div>
  </div>-->
</div>



<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <!--  <div *ngIf="!loadedData">
          <sk-circle ></sk-circle>
        </div> -->
      <app-list-laboratoire [laboratoires]="laboratoires$ | async" [inputSearchText]="searchText" (editLaboEmitter)="openEditLaboModal($event)" (deleteLaboEmitter)="deleteLabo($event)"></app-list-laboratoire>
      <!--<div class="table-responsive"><ng2-smart-table class="table text-nowrap table-bordered" [settings]="settings" [source]="data"></ng2-smart-table></div>-->
    </div>
  </div>
</div>