<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Modifier mutuelle</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">
    <form (ngSubmit)="remplirMutuelle(f)" #f="ngForm">
      <div class="px-5 pt-5 pb-4">
        <!-- Date -->
        <div class="position-relative row form-group">
          <label class="col-sm-4 col-form-label" for="dateMut">Date</label>
          <div class="col-sm-8">
            <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control"
              placeholder="Select date" type="text" id="dateMut" name="dateMut" #dateMut="ngModel" required
              [(ngModel)]="myMutuelle.dateMut" [ngClass]="{ 'is-invalid': f.submitted && dateMut.invalid ,
                 'is-valid': f.submitted && dateMut.valid }">
          </div>
        </div>
        <!-- Remplie -->
        <div class="position-relative row form-group">
          <label class="col-sm-4 col-form-label" for="remplie">Remplie</label>
          <div class="col-sm-6 d-flex align-items-center">
            <div class="position-relative form-check form-check-inline"><label class="form-check-label"><input
                  class="form-check-input" type="checkbox" name="remplie" #remplie="ngModel" required
                  [(ngModel)]="myMutuelle.remplie"> </label></div>
          </div>
        </div>
        <!-- Validée -->
        <div class="position-relative row form-group">
          <label class="col-sm-4 col-form-label" for="valider">Validée</label>
          <div class="col-sm-6 d-flex align-items-center">
            <div class="position-relative form-check form-check-inline"><label class="form-check-label"><input
                  class="form-check-input" name="valider" #valider="ngModel" required [(ngModel)]="myMutuelle.valider"
                  type="checkbox"> </label></div>
          </div>
        </div>
        <!-- Observation -->
        <div class="position-relative row form-group">
          <label class="col-sm-4 col-form-label" for="observation">Observation</label>
          <div class="col-sm-8">
            <textarea id="observation" #observation="ngModel" name="observation" class="form-control" rows="3"
              name="description" [ngModel]="myMutuelle.observation"></textarea>
          </div>
        </div>
      </div>
      <!---->
      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit">
          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Fermer</button>
      </div>
    </form>
  </div>
</div>
