<div class="row">
  <div class="col-sm-8">
    <div *ngFor="let alert of defaultAlerts">
      <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="persistConstante(f)" #f="ngForm">
          <div class="form-group">
            <input type="hidden" class="form-control" [(ngModel)]="myConstante.id" name="id" id="id"
              aria-describedby="emailHelp" placeholder="libelle" ngModel>
            <label for="exampleInputEmail1">Libelle</label>
            <input type="text" class="form-control" [(ngModel)]="myConstante.libelle" name="libelle" id="libelle"
              aria-describedby="emailHelp" placeholder="libelle" ngModel>

          </div>

          <div class="position-relative form-group">
            <label for="exampleCustomSelectDisabled">Abreviation</label>
            <input type="text" class="form-control" name="abreviation" [(ngModel)]="myConstante.abreviation"
              id="abreviation" aria-describedby="emailHelp" placeholder="abreviation" ngModel>

          </div>
          <!---->
          <button class="btn m-2 btn-primary" [disabled]="!savedData" type="submit" *ngIf="editForm">
            <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
            Enregistrer
          </button>
          <button class="btn btn-success" *ngIf="!editForm">
            <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
            Modifier
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-box mb-5">
      <div class="card-header py-3">
        <div class="card-header--title font-size-lg">
          Liste des unités
        </div>
      </div>
      <div class="card-body p-5">
        <div class="table-responsive">
          <div *ngIf="!loadedData">
            <sk-circle [color]="'#3c44b1'"></sk-circle>
          </div>
          <table class="table table-hover text-nowrap mb-0" *ngIf="loadedData">
            <thead class="bg-white">
              <tr>
                <th>Libelle</th>
                <th>Abreviation</th>
                <th>Ajouter</th>
                <th>Configurer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of unites">
                <td class="font-weight-bold">
                  {{u.libelle}}
                </td>
                <td class="font-weight-bold">
                  {{u.abreviation}}
                </td>
                <td>

                  <button  class="btn btn-sm btn-dark shadow-none py-1 px-2"
                    tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                  </button>
                </td>
                <td>

                  <button class="btn btn-sm btn-danger shadow-none py-1 px-2"
                    tooltip="Configurer">
                    <span>Supprimer</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
