<div class="py-5 bg-whiteng ">
  <div class="container py-5">
      <div class="row text-center text-xl-left">
          <div class="col-xl-5 d-flex align-items-center">
              <div class="mb-5 mb-xl-0 w-100">
                  <div class="nav-logo bg-light rounded-sm d-50 mx-auto mx-xl-0" containerClass="tooltip-danger" tooltip="Welcome to UiFort 😀">
                      <a [routerLink]="" class="d-block" routerLinkActive="active" title="Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO">
                          <i class="m-0 d-50">
                              <img alt="Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO" src="assets/images/angular.svg">
                          </i>
                      </a>
                  </div>
                  <p class="text-black-50 font-size-lg my-3">The home of perfectly built UI kits, dashboards, themes & templates.</p>
                  <div class="divider border-1 rounded-circle border-dark bg-dark opacity-2 mx-auto mx-xl-0 mb-4 w-25"></div>
                  <ul class="nav justify-content-center justify-content-xl-start">
                      <li class="nav-item">
                          <a class="btn btn-facebook px-3 py-1 mr-3" containerClass="tooltip-secondary" [routerLink]="" tooltip="Facebook">
                              <fa-icon [icon]="['fab', 'facebook']" class="font-size-lg"></fa-icon>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="btn btn-twitter px-3 py-1 mr-3" containerClass="tooltip-secondary" [routerLink]="" tooltip="Twitter">
                              <fa-icon [icon]="['fab', 'twitter']" class="font-size-lg"></fa-icon>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="btn btn-google px-3 py-1 mr-3" containerClass="tooltip-secondary" [routerLink]="" tooltip="Google">
                              <fa-icon [icon]="['fab', 'google']" class="font-size-lg"></fa-icon>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="btn btn-instagram px-3 py-1" containerClass="tooltip-secondary" [routerLink]="" tooltip="Instagram">
                              <fa-icon [icon]="['fab', 'instagram']" class="font-size-lg"></fa-icon>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="d-none col-xl-7 d-md-flex align-items-center">
              <div class="row w-100">
                  <div class="col-lg-4">
                      <div class="divider-v divider-v-lg opacity-1 d-none d-xl-block"></div>
                      <div class="pl-3">
                          <h6 class="text-dark font-weight-bold mb-3">
                              Services
                          </h6>
                          <ul class="nav nav-transparent flex-column">
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Products</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Services</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">About us</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="divider-v divider-v-lg opacity-1 d-none d-xl-block"></div>
                      <div class="pl-3">
                          <h6 class="text-dark font-weight-bold mb-3">
                              Support
                          </h6>
                          <ul class="nav nav-transparent flex-column">
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Support center</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Affiliates</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Contact us</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="pl-3">
                          <h6 class="text-dark font-weight-bold mb-3">
                              UI Themes
                          </h6>
                          <ul class="nav nav-transparent flex-column">
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">React themes</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">HTML5 themes</a>
                              </li>
                              <li class="nav-item">
                                  <a [routerLink]="" class="nav-link px-0 py-1">Angular themes</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="divider border-1 d-none d-md-block rounded-circle border-dark bg-dark opacity-2 mx-auto my-5 w-25"></div>
      <small class="text-center d-block text-black-50">
          Copyright &copy; 2020 - uiFort.com
      </small>
  </div>
</div>
