
<app-example-wrapper-simple sectionHeading="Basic" >
    <form (ngSubmit)="remplirConsultation(f)"  #f="ngForm">

        <input class="form-control "
        id="lpatient"  #lpatient="ngModel"  name="lpatient" [ngModel]="myConsultation.lpatient" 
                                type="hidden">
        <div class="position-relative row form-group" >
            <label class="col-sm-12 col-form-label" for="montant">{{patient.nom_complet}} </label>
        </div>

        <div class="position-relative row form-group" >
            <label class="col-sm-9 col-form-label" for="nouvelle_consult">S'agit il d'une nouvelle consultation ?</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-check-input"   id="nouvelle_consult" name="nouvelle_consult" [ngModel]="myConsultation.new" (change)="checkNewConsultation()"/>
            </div>
        </div>
        <div class="position-relative row form-group" >
            <label class="col-sm-5 col-form-label" for="nouvelle_consult">Type consultation</label>
            <div class="col-sm-7">
                <select class="form-control" id="typeConsultation"  #typeConsultation="ngModel" required
                [ngClass]="{ 'is-invalid': f.submitted && typeConsultation.invalid , 
                'is-valid': f.submitted && typeConsultation.valid }"  name="typeConsultation" [ngModel]="myConsultation.typeConsultation">
                    <!--<option> Selectionner un type</option>-->
                    <option *ngFor="let type of typeConsultations" value="{{type.id}}">{{type.libelle}}</option>
                </select>            </div>
        </div>

        
        <div class="position-relative row form-group" >
            <label class="col-sm-4 col-form-label" for="montant">Montant </label>
            <div class="col-sm-8">
                <input class="form-control " 
                [ngClass]="{ 'is-invalid': f.submitted && montant.invalid , 
                            'is-valid': f.submitted && montant.valid }" 
                id="montant" [disabled]="!myConsultation.new" #montant="ngModel" required name="montant" [ngModel]="myConsultation.montant" 
                                        type="text">
            </div>
            
        </div>

        <button class="btn btn-primary" type="submit"  *ngIf="myConsultation.new" >Valider</button>&nbsp;&nbsp;
        <button class="btn btn-primary" type="submit" *ngIf="!myConsultation.new">Fermer</button>
    </form>
</app-example-wrapper-simple>