<!--<div class="row" *ngIf="alert.msg">
    <div class="col-sm-8">
      <div>
        <alert [type]="alert.type" [dismissible]="dismissible" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
    </div>
  </div>
  
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Libelle</label>
                     </div>
                  
                  <button type="submit" class="btn btn-primary" (click)="persist()">Enregistrer</button>
              </form>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6">
          <div class="card card-box mb-5">
              <div class="card-header py-3">
                <div class="card-header--title font-size-lg">
                  Support board
                </div>
                <div class="card-header--actions">
                  <button class="btn btn-sm btn-neutral-secondary" type="button">
                            <span class="btn-wrapper--icon">
                                <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
                            </span>
                    <span class="btn-wrapper--label">
                                Add ticket
                            </span>
                  </button>
                </div>
              </div>
              <div class="divider"></div>
              <div class="table-responsive">
                <table   class="table table-hover text-nowrap mb-0" >
                  <thead>
                  <tr>
                    <th class="bg-white">Libelle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let spec of specialites">
                    <td class="font-weight-bold">
                      {{spec.name}}
                    </td>
                  </tr>                
                  </tbody>
                </table>
              </div>
              
            </div>
      </div>
    </div>-->