<div class="row">
    
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="remplirData(f)" #f="ngForm">
            <div class="position-relative row form-group">
                <label class="col-sm-3 col-form-label" for="libelle">Libelle</label>
                <div class="col-sm-9">
                <input type="text" class="form-control"  name="libelle" aria-describedby="emailHelp" [ngModel]="myExamen.libelle">
                </div>
            </div>
            <button type="submit" class="btn btn-primary"  *ngIf="editForm">Enregistrer</button>
            </form>
        <button class="btn btn-success"  *ngIf="!editForm">Modifier</button>
        </div>
    </div>
    </div>

<div class="col-sm-6">
    <div class="card card-box mb-5">
        <div class="card-header py-3">
          <div class="card-header--title font-size-lg">
            Support board
          </div>
          <div class="card-header--actions">
            <button class="btn btn-sm btn-neutral-secondary" type="button">
                      <span class="btn-wrapper--icon">
                          <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
                      </span>
              <span class="btn-wrapper--label">
                          Add ticket
                      </span>
            </button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="table-responsive">
          <table  class="table table-hover text-nowrap mb-0" >
            <thead>
            <tr>
              <th class="bg-white">Libelle</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let examen of examenComplementaires">
              <td class="font-weight-bold" (click)="edit(examen)">
                {{examen.libelle}}
              </td>
              
            </tr>                
            </tbody>
          </table>
          
        </div>
        
      </div>
</div>
</div>

