
<div bsModal #formModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
        

            <div class="modal-body p-0">
                <div class="card bg-secondary shadow-none border-0">
                    <div class="card-header d-block bg-white pt-4 pb-5">
                        <!--<app-rdv></app-rdv>-->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div >
    <form #form="ngForm" (ngSubmit)="remplirSearch(form)">
        <div class="position-relative row form-group">
            <label class="col-sm-1 col-form-label" for="salle-list">Salle </label>
            <div class="col-sm-2">
            <select class="form-control" name="salle" id="salle-list" [ngModel]="search.salle">
                <option></option>
                <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
            </select>
            </div>

           

            
            <label class="col-sm-2 col-form-label" for="date-list">Date</label>
            <div class="col-sm-2">
                
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }"
                 bsDatepicker class="form-control" placeholder="Select date" type="text" id="date-list" name="date" [(ngModel)]="search.date">
            </div>

            
            
            <label class="col-sm-2 col-form-label" for="praticien-list">Praticien </label>
            <div class="col-sm-3">
                <select class="form-control" id="praticien-list" name="praticien" [ngModel]="search.praticien">
                    <option value="">Selectionner praticien </option>
                    <option  *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
                </select>
            </div>
           
            
            
            
            

        </div>

        <div class="position-relative row form-group">
                <div class="col-sm-4">
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" name="radio2"  type="radio" value="" checked="checked">
                        Afficher tous les rendez-vous de la journée</label></div>
                    <div class="position-relative form-check">
                        <label class="form-check-label"><input class="form-check-input" value="En salle" name="radio2" type="radio">
                        Afficher seulment les patients en salle d'attente</label></div>
                    
                </div>

                <label class="col-sm-1 col-form-label" for="term">Recherche</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="term" name="term"  aria-describedby="emailHelp"  [ngModel]="search.term">
                </div>

        </div>
    <button class="btn btn-primary" type="submit">Rechercher</button>

    </form>
<div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let consult of typeConsultationsNbres">
        <div class="card p-3 mb-5">
            <div class="text-black-50 pb-2">
                {{consult.libelle}} 
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <h3 class="display-4 mb-0 text-black">
                    <small class="pr-1 text-black-50">
                        
                    </small>
                    <span [countUp]="consult.nbre" class="text-success"></span>
                </h3>
                <div class="text-success font-weight-bold">
                   
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-box mb-5">
            <div class="card-header py-3">
              <div class="card-header--title font-size-lg">
                Liste des patients
              </div>
              <div class="card-header--actions">
                <button class="btn btn-sm btn-neutral-secondary" type="button">
                          <span class="btn-wrapper--icon">
                              <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
                          </span>
                    <!--<span class="btn-wrapper--label">
                    

                    </span>
                    <button type="button" class="btn btn-primary m-2" (click)="formModal.show()">Add</button>-->
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <tabset type="tabs" class="mb-5">
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('matin')">Matinée </div>
                    </ng-template>
                    <div *ngIf="!loadedData">
                        <sk-circle ></sk-circle>
                      </div>
                    <div class="table-responsive" *ngIf="loadedData">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            <th >Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let rdv of listRdv ">
                            <td class="font-weight-bold">
                            <ng-container *ngIf="rdv.lastname">
                                {{rdv.nom_complet}} 
                            </ng-container>
                            <ng-container *ngIf="!rdv.lastname">
                                {{rdv.nom_complet_ss_patient}} 
                            </ng-container>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary m-2" (click)="goToPage('medical',rdv)">Dossier Médical</button>
                             </td>
                             <!--<td>
                                <button type="button" class="btn btn-primary m-2" (click)="cancelRdv()">Annuler rdv</button>
                             </td>
                             <td>
                                <button type="button" class="btn btn-primary m-2" >Document patient</button>
                             </td>-->
                             <td>
                                <button type="button" class="btn btn-primary m-2" (click)="goToPage('patient',rdv)">Fiche Patient</button>
                             </td>
                        </tr>                
                        </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('midi')">Aprés midi</div>
                    </ng-template>
                    <div *ngIf="!loadedData">
                        <sk-circle ></sk-circle>
                      </div>
                    <div class="table-responsive" *ngIf="loadedData">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rdv of listRdv ">
                                <td class="font-weight-bold" >
                                    <ng-container *ngIf="rdv.lastname">
                                        {{rdv.nom_complet}} 
                                    </ng-container>
                                    <ng-container *ngIf="!rdv.lastname">
                                        {{rdv.nom_complet_ss_patient}} 
                                    </ng-container>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage('medical',rdv)">Dossier Médical</button>
                                 </td>
                                 <!--<td>
                                    <button type="button" class="btn btn-primary m-2" (click)="cancelRdv()">Annuler rdv</button>
                                 </td>
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" >Document patient</button>
                                 </td>-->
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage('patient',rdv)">Fiche Patient</button>
                                 </td>
                            </tr>               
                        </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('all')">Toute la journée</div>
                    </ng-template>
                    <div *ngIf="!loadedData">
                        <sk-circle ></sk-circle>
                      </div>
                    <div class="table-responsive" *ngIf="loadedData">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rdv of listRdv ">
                                <td class="font-weight-bold" >
                                    <ng-container *ngIf="rdv.lastname">
                                        {{rdv.nom_complet}} 
                                    </ng-container>
                                    <ng-container *ngIf="!rdv.lastname">
                                        {{rdv.nom_complet_ss_patient}} 
                                    </ng-container>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage('medical',rdv)">Dossier Médical</button>
                                 </td>
                                 <!--<td>
                                    <button type="button" class="btn btn-primary m-2" (click)="cancelRdv()">Annuler rdv</button>
                                 </td>
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" >Document patient</button>
                                 </td>-->
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage('patient',rdv)">Fiche Patient</button>
                                 </td>
                            </tr>                
                        </tbody>
                        </table>
                    </div>
                </tab>
            </tabset>
            
            
          </div>
    </div>
  </div>
</div>
  