<button class="btn btn-primary" (click)="addDate()">Positionner la date</button>
<form #f="ngForm" (ngSubmit)="remplirModele(f)">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">Modèle séparation de consultation</div>
    <div class="col-md-4"></div>

</div>
<!--<div class="mb-5">
    <angular-editor [(ngModel)]="htmlContent" name="htmlContent" id="htmlContent" (click)="ckEditorFocusOut($event)" [config]="config"></angular-editor>
</div>
<div class="position-relative row form-group">
    <label class="col-sm-2 col-form-label font-weight-bold" for="exampleEmail">Taille de police par défaut</label>
    <div class="col-sm-1">
        <input class="form-control form-control-sm" id="exampleEmail" name="email"
                                  placeholder="with a placeholder" type="email"></div>
    <div class="position-relative form-check">
        <input class="form-check-input " id="exampleCheck" name="check" type="checkbox">
        <label class="form-check-label" for="exampleCheck">Gras</label>
    </div>
</div>
<ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" ></ck-editor>
-->
<div *ngIf="modeleConsultation">
<ckeditor [(ngModel)]="modeleConsultation.body" 
                        #myckeditor="ngModel"
                        name="myckeditor"
                        required
                        debounce="500" 
                        [config]="ckeConfig"
                        (paste)="onPaste($event)"
                        (focus)="onFocus($event)"
                        (change)="onChange($event)">
                    </ckeditor>
                </div>
                <!--
<button class="btn btn-primary">Couleur police</button>
<button class="btn btn-primary">Choix de la police</button>


<button class="btn btn-info" type="submit">Valider</button>
            -->

</form>
