<div class="app-inner-content-layout app-inner-content-layout">
    <!--<div class="d-flex bg-secondary d-lg-none p-4 order-0 justify-content-between align-items-center">
      <button (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" class="btn btn-sm btn-primary px-3" type="button">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </button>
      <button (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" class="btn btn-sm btn-primary px-3" type="button">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>
    </div>-->
    <app-nav-praticien [category]="category.page" (event)="onFavoriteChanged($event)"></app-nav-praticien>
    <div class="app-inner-content-layout--main bg-white">
      <div>
        <div class="px-5 py-4 bg-light text-center text-xl-left">
          <div class="row">
            <div class="col-xl-12">
              <div>
                <h5 class="display-4 mt-1 mb-2 font-weight-bold">Paramètres Patient</h5>
                <p class="text-black-50 mb-0">This is an example page created with this template!</p>
              </div>
            </div>
            <!-- <div class="col-xl-5 d-flex align-items-center justify-content-start mt-4 mt-xl-0 justify-content-xl-end">
              <div class="mx-auto mx-xl-0">
                <a [routerLink]="" class="btn btn-warning d-block d-sm-inline-block" title="Upload">
                  <span class="btn-wrapper--label">
                    Upload
                  </span>
                </a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="divider bg-dark opacity-2"></div>
      </div>
      <perfect-scrollbar [autoPropagation]="true">
        <div class="px-5">
  
         <h5 class="font-size-sm  text-black-50 font-weight-bold my-4">This is an example page created with this template!</h5>
  
         
          
          <ng-container *ngIf="page.link=='/mutuelle'">
            <app-mutuelle></app-mutuelle>
          </ng-container>
          <ng-container *ngIf="page.link=='/motif-consultation'">
            <app-motif-consultation></app-motif-consultation>
          </ng-container>
        </div>
      </perfect-scrollbar>
    </div>
  
    <!--<div (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" [ngClass]="{'active' : toggleMobileSidebar1}"
      class="sidebar-inner-layout-overlay"></div>
    <div (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" [ngClass]="{'active' : toggleMobileSidebar2}"
      class="sidebar-inner-layout-overlay"></div>-->
  </div>
  