<div class="card card-box saisie-type-consultation-component">
    <div class="card-header page-bg d-flex justify-content-between">
  
      <h5 class="modal-title text-primary pl-4">Modifier l'acte</h5>
  
      <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-0">
     <!-- <div class="row">
        <div class="col-sm-12">
          <div *ngFor="let alert of defaultAlerts">
            <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
          </div>
        </div>
      </div>-->
      <form (ngSubmit)="remplirMyAnnuaire(f)" #f="ngForm">
        <div class="p-5">
            <div class="position-relative row form-group">
              <input type="hidden" class="form-control" [ngModel]="myAnnuaire.id"
                name="id" id="id" aria-describedby="emailHelp" placeholder="libelle" ngModel>
       
              <label class="col-sm-2 col-form-label" for="nom">Nom</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myAnnuaire.nom" name="nom"
                  id="nom" aria-describedby="emailHelp" placeholder="nom" ngModel>
              </div>
            </div>

            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="prenom">Prénom</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.prenom" name="prenom"
                    id="prenom" aria-describedby="emailHelp" placeholder="prenom" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="tel">Tel</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.tel" name="tel"
                    id="tel" aria-describedby="emailHelp" placeholder="tel" ngModel>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="fax">Fax</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.fax" name="fax"
                    id="fax" aria-describedby="emailHelp" placeholder="fax" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="gsm">Gsm</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.gsm" name="gsm"
                    id="gsm" aria-describedby="emailHelp" placeholder="gsm" ngModel>
                </div>
            </div>

            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="email">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.email" name="email"
                    id="email" aria-describedby="emailHelp" placeholder="email" ngModel>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label class="col-sm-2 col-form-label" for="typeRep">Type</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" [(ngModel)]="myAnnuaire.typeRep" name="typeRep"
                    id="typeRep" aria-describedby="emailHelp" placeholder="typeRep" ngModel>
                </div>
            </div>
        </div>
        <!---->
        <div class="modal-footer">
          <button class="btn m-2 btn-primary"   type="submit">
            <span aria-hidden="true"  class="spinner-border spinner-border-sm" role="status"></span>
            Sauvegarder les modifications
          </button>
          <button class="btn btn-success" *ngIf="!editForm">
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Modifier
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
        </div>
      </form>
  
    </div>
  </div>