<div class="row justify-content-between py-2">
    <div class="col-sm-7">
      <div class="form-group w-70">
        <div class="input-group">
          <label for="recherche-acte" class="d-flex align-self-center mr-4">Rechercher une classe</label>
          <input class="form-control" placeholder="Search terms..." id="recherche-acte" type="search" [(ngModel)]="searchText">
          <div class="input-group-append">
            <span class="input-group-text">
              <fa-icon [icon]="['fas', 'search']" class="mx-auto"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-sm-5 pl-5">
      <div class="">
        <button class="btn btn-block btn-success" type="button" (click)="openAddClasseMedicaModal()">
          <span class="btn-wrapper--icon">
            <fa-icon [icon]='faPlus'></fa-icon>
          </span>
          <span class="btn-wrapper--label">Ajouter une classe de médicament</span>
        </button>
  
      </div>
    </div>
  </div>
  
  
  
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <app-list-classe-medicament [classeMedicaments]="classeMedicaments$ | async" [inputSearchText]="searchText" (editClasseMedicaEmitter)="openEditClasseMedicaModal($event)" (deleteClasseMedicaEmitter)="deleteClasseMedica($event)"></app-list-classe-medicament>
      </div>
    </div>
  </div>