<div class="card card-box saisie-type-consultation-component">
  <div class="card-header page-bg d-flex justify-content-between">

    <h5 class="modal-title text-primary pl-4">Créer un acte</h5>

    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">
    <div class="row">
      <div class="col-sm-12">
        <div *ngFor="let alert of defaultAlerts">
          <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
        </div>
      </div>
    </div>
    <form (ngSubmit)="remplirTypeConsultation(f)" #f="ngForm">

      <div class="p-5">

          <div class="position-relative row form-group">
            <input type="hidden" class="form-control" [ngModel]="myTypeConsultationGlobal.id_global"
              name="id_global" id="id_global" aria-describedby="emailHelp" placeholder="libelle" ngModel>
            <input type="hidden" class="form-control" [ngModel]="myTypeConsultationLocal.id_local"
              name="id_local" id="id_local" aria-describedby="emailHelp" placeholder="libelle" ngModel>
            <label class="col-sm-2 col-form-label" for="exampleInputEmail1">Libelle</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myTypeConsultationGlobal.libelle" name="libelle"
                id="libelle" aria-describedby="emailHelp" placeholder="libelle" ngModel>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="familleActe">Famille acte</label>
            <div class="col-sm-9">
              <select class="form-control" id="familleActe" name="familleActe"
                [(ngModel)]="myTypeConsultationLocal.familleActe">
                <option value="">Sélectionner une famille</option>
                <option *ngFor="let f of familles" value="{{f.id}}">{{f.libelle}}</option>
              </select>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="tarif">Prix</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myTypeConsultationLocal.tarif" id="tarif"
                name="tarif" aria-describedby="emailHelp">
            </div>
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="duree">Duree</label>
            <div class="col-sm-9">
              <select class="form-control" id="duree" name="duree" [(ngModel)]="myTypeConsultationLocal.duree">
                <option></option>
                <option *ngFor="let d of durees" value="{{d.id}}">{{d.name}} min</option>
              </select>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="couleur">Couleur</label>
            <div class="col-sm-4">
              <div class="btn-group btn-block btn-transition-none" dropdown>
                <button class="btn dropdown-toggle btn-block btn-transition-none border-1 border-base " dropdownToggle type="button">
                  <fa-icon [icon]='faPallette' [ngStyle]="{'color':color.color}" class="font-size-lg mr-2 "></fa-icon> Palette couleurs
                </button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-xxl p-3 palette-color text-center">
                  <div>
                    <ng-container *ngFor="let color of colors">
                      <button class="btn m-2 btn-sm d-40 "[ngClass]="color.name"  (click)="choisirColor(color)"  type="button"></button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <span class="d-flex align-items-center">ou</span>

            <div class="col-sm-4 pr-0">
              <div class="input-group h-100">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-white">Sélectionner couleur</span>
                </div>
                <input type="color" class="form-control p-2 h-100" [(ngModel)]="myTypeConsultationLocal.couleur" id="couleur"
                  name="couleur" aria-describedby="emailHelp">
              </div>
            </div>
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
      </div>
      <!---->
      <div class="modal-footer">
        <button class="btn m-2 btn-primary" *ngIf="editForm" [disabled]="!savedData" type="submit">
          <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button class="btn btn-success" *ngIf="!editForm">
          <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
          Modifier
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Fermer</button>
      </div>
    </form>

  </div>
</div>
