<!--<app-test2 [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></app-test2>-->
<app-breadcrumb-dossier-medicale></app-breadcrumb-dossier-medicale>
<app-example-wrapper-simple sectionHeading="Basic">

  <div class="row">
    <div class="col-xl-4">
      <div class="card card-box bg-neutral-success p-3 mb-5">
        <div class="d-flex align-items-center py-4 px-5 justify-content-between">
          <div class="pr-2">
            <form>
              <div class="position-relative row form-group">
                <label class="col-sm-4 col-form-label" for="patient">Patient</label>
                <div class="col-sm-8">
                  <input class="form-control" id="patient" name="patient" disabled type="text">

                </div>
              </div>
              <div class="position-relative row form-group">
                <label class="col-sm-4 col-form-label" for="num_dossier">N° dossier</label>
                <div class="col-sm-8">
                  <input class="form-control" id="num_dossier" name="num_dossier" [ngModel]="myPatient.num_dossier"
                    disabled type="text">
                </div>
              </div>
              <div class="position-relative row form-group">
                <label class="col-sm-4 col-form-label" for="nb_enfant">Nb enfant</label>
                <div class="col-sm-8">
                  <input class="form-control" id="nb_enfant" name="nb_enfant" [ngModel]="myPatient.num_dossier" disabled
                    type="text">
                </div>
              </div>

              <div class="position-relative row form-group">
                <label class="col-sm-4 col-form-label" for="lastname">Type cons.</label>
                <div class="col-sm-8">
                  <input class="form-control" id="lastname" name="lastname" [ngModel]="myPatient.num_dossier" disabled
                    type="text">
                </div>
              </div>
              <div class="position-relative row form-group">
                <label class="col-sm-4 col-form-label" for="lastname">Mutuelle</label>
                <div class="col-sm-8">
                  <input class="form-control" id="mutuelle" name="mutuelle" [ngModel]="myPatient.num_dossier" disabled
                    type="text">
                </div>
              </div>
              <div class="row">
                <div class="position-relative form-check col-sm-3">
                  <div *ngFor="let ant of antecedents; let i=index">
                    <div *ngIf="i<6">
                      <div (click)="checkAntecedant(ant.id)">
                        <input type="checkbox" class="form-check-input" [checked]="ant.selected" value="{{ant.id}}"
                          id="{{ant.libelle}}" name="{{ant.libelle}}" />
                        <label class="form-check-label" for="{{ant.libelle}}">{{ant.libelle}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative form-check col-sm-5">
                  <div *ngFor="let ant of antecedents; let i=index">
                    <div *ngIf="i>=6 && i<11">
                      <div (click)="checkAntecedant(ant.id)">
                        <input type="checkbox" class="form-check-input" [checked]="ant.selected" value="{{ant.id}}"
                          id="{{ant.libelle}}" name="{{ant.libelle}}" />
                        <label class="form-check-label" for="{{ant.libelle}}">{{ant.libelle}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-relative form-check col-sm-4">
                  <div *ngFor="let ant of antecedents; let i=index">
                    <div *ngIf="i>11 ">
                      <div (click)="checkAntecedant(ant.id)">
                        <input type="checkbox" class="form-check-input" [checked]="ant.selected" value="{{ant.id}}"
                          id="{{ant.libelle}}" name="{{ant.libelle}}" />
                        <label class="form-check-label" for="{{ant.libelle}}">{{ant.libelle}}</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="position-relative form-check">
                                    <input class="form-check-input" id="exampleCheck" name="check" type="checkbox">
                                    <label class="form-check-label" for="exampleCheck">Check me out</label>
                                </div>-->
              </div>
              <div class="position-relative row form-group">
                <div class="col-sm-12"><textarea class="form-control" rows="6" id="exampleText" name="text"></textarea>
                </div>
              </div>
            </form>

            <div class="row">
              <div class="col-xl-12">



                <app-detail-document-medical></app-detail-document-medical>
                <!---->
                <!--<img src="http://localhost:8000/images/products/Page.jpg">-->

              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-xl-8">
      <div *ngIf="dossierMedical">
        <form>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label font-weight-bold" for="exampleText">Diagnostic</label>
            <div class="col-sm-10">
              <textarea class="form-control" (ngModelChange)="saveDiagnostic($event)" id="exampleText"
                name="text"></textarea>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label font-weight-bold" for="exampleText">Comorbidite</label>
            <div class="col-sm-10">
              <select class="form-control" name="comorbidite" id="comorbidite" (change)="saveComorbidite($event)">
                <option value=""></option>
                <option *ngFor="let comorbidite of comorbidites" value="{{comorbidite.id}}">{{comorbidite.libelle}}
                </option>
              </select>
              <!--<select class="form-control" name="civilite" id="civilite" [ngModel]="myGDossierPatient.civilite" required
                                #civilite="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && civilite.invalid , 'is-valid': f.submitted && civilite.valid }">
                                <option> selectionner une civilité</option>
                                <option value="Mme">Mme</option>
                                <option value="Mlle">Mlle</option>
                                <option value="bebe">bebe</option>
                                <option value="Enf.">Enf.</option>
                                <option value="M.">M.</option>
                            </select>-->
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-2 col-form-label" for="date_consulatation">Date </label>
            <div class="col-sm-4">
              <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" (input)="changeDate()"
                bsDatepicker class="form-control" placeholder="Select date" type="text" id="date_consulatation"
                [(ngModel)]="date_consulatation" name="date_consulatation">

            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary m-2" (click)="addConsultation()">Add</button>
            </div>
          </div>
          <div class="mb-5">
            <ckeditor [(ngModel)]="body" #myckeditor="ngModel" name="myckeditor" required debounce="500"
              [config]="ckeConfig" (paste)="onPaste($event)" (focus)="onFocus($event)" (change)="onChange($event)">
            </ckeditor>
          </div>

          <!-- <h5 class="display-5 font-weight-bold">HTML Output</h5>-->
          <pre>
                        <code class="html">
                            {{ htmlContent }}
                        </code>
                    </pre>
        </form>
        <div>
          <button type="submit" class="btn btn-primary m-2" (click)="addConsultation()">Examen complémentaire</button>
        </div>
      </div>
    </div>
  </div>

</app-example-wrapper-simple>
