<div class="row">
  <div class="col-sm-8">
    <div *ngFor="let alert of defaultAlerts">
      <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
    </div>
  </div>
</div>


<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Saisie signe vitaux</h5>
    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">

    <form (ngSubmit)="persistConstante(f)" #f="ngForm" *ngIf="loadedData">
      <div class="row pt-5 pr-5 pl-5 pb-4">

        <div *ngIf="!loadedData">
          <sk-circle [color]="'#3c44b1'"></sk-circle>
        </div>
        <input type="hidden" class="form-control" [ngModel]="myConstante.patient" name="patient" id="patient"
          aria-describedby="emailHelp"  ngModel>

        <div class="col-sm-6">
          <div *ngFor="let c of constantes;let i=index">
            <div class="position-relative row form-group" *ngIf="i==0">
              <label class="col-sm-4 col-form-label" for="exampleInputEmail1">{{c.libelle}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ([ngModel])="c.id" [disabled]="c.abreviation=='IMC'" 
                [name]="c.id" [id]="c.id" aria-describedby="emailHelp" [placeholder]="c.libelle"  (change)="taille($event)" ngModel>
              </div>
            </div>

            <div class="position-relative row form-group" *ngIf="i==1">
              <label class="col-sm-4 col-form-label" for="exampleInputEmail1">{{c.libelle}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ([ngModel])="c.id" [disabled]="c.abreviation=='IMC'" 
                [name]="c.id" [id]="c.id" aria-describedby="emailHelp" [placeholder]="c.libelle"  (change)="poids($event)" ngModel>
              </div>
            </div>
            

            <div class="position-relative row form-group" *ngIf="i==2">
              <label class="col-sm-4 col-form-label" for="exampleInputEmail1">{{c.libelle}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ([ngModel])="c.id" [disabled]="c.abreviation=='IMC'" 
                [name]="c.id" [id]="c.id" aria-describedby="emailHelp" [placeholder]="c.libelle"  [value]="imc">
              </div>
            </div>
            <div class="position-relative row form-group" *ngIf="i>2 && i<5">
              <label class="col-sm-4 col-form-label" for="exampleInputEmail1">{{c.libelle}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ([ngModel])="c.id" [disabled]="c.abreviation=='IMC'" 
                [name]="c.id" [id]="c.id" aria-describedby="emailHelp" [placeholder]="c.libelle"  ngModel>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          <div *ngFor="let c of constantes;let i=index">
            <div class="position-relative row form-group" *ngIf="i>=5">
              <label class="col-sm-4 col-form-label" for="exampleInputEmail1">{{c.libelle}}</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" ([ngModel])="c.id" [disabled]="c.abreviation=='IMC'" [value]="c.id"
                  [name]="c.id" [id]="c.id" aria-describedby="emailHelp" [placeholder]="c.libelle" ngModel>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="position-relative row form-group">
            <label class="col-sm-4 col-form-label" for="sexe">Partager les constantes </label>
            <div class="col-sm-8 d-flex align-items-center">
              <ui-switch class="toggle-switch toggle-switch-success" size="small" checked></ui-switch>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn m-2 btn-primary" [disabled]="!savedData" type="submit" *ngIf="editForm">
          <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" >Fermer</button>
      </div>
    <!--</div>
  </div>
  <div class="modal-footer">
    <button class="btn m-2 btn-primary" [disabled]="!savedData" type="submit" *ngIf="editForm">
      <span aria-hidden="true" *ngIf="!savedData" class="spinner-border spinner-border-sm" role="status"></span>
      Sauvegarder les modifications
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" 
      >Fermer</button>
  </div>
</form>-->


    </form>

  </div>
</div>
