// Widgets

@import "widgets/bootstrap/base";
@import "widgets/ngx-perfect-scrollbar/base";
@import "widgets/ngx-ui-switch/base";
@import "widgets/ngx-dropzone-wrapper/base";
@import "widgets/angular-gauge/base";
@import "widgets/angular2-ladda/base";
@import "widgets/angular-calendar/base";
@import "widgets/ngx-slick-carousel/base";
@import "widgets/ngx-contextmenu/base";
@import "widgets/ng2-dragula/base";
@import "widgets/ng2-table/base";
@import "widgets/ng2-smart-table/base";
@import "widgets/ng-select/base";
@import "widgets/nouislider/base";
@import "widgets/angular-notifier/base";
@import "widgets/angular-tree-component/base";
@import "widgets/angular-tree-grid/base";
@import "widgets/hamburgers/base";
@import "widgets/leaflet/base";


bs-datepicker-container { z-index: 9999 !important; }
.fc-title{
    padding-bottom: 40px;
}

.heure-hide {
    display: none !important;
}


/*.app-content{
    background-color: white !important;
}*/

// .align-element{
//     float: none !important;
// }
