<table class="table table-hover text-nowrap mb-0">
    <thead>
        <tr>
            <th class="text-center">Nom</th>
            <th class="text-center">Téléphone</th>
            <th class="text-center">Adresse</th>
            <th class="text-center">Modifier</th>
            <th class="text-center">Supprimer</th>
        </tr>
    </thead>

    <tbody><!-- *ngIf="laboratoires.length > 0 else showMessage">-->

        <tr *ngFor="let labo of laboratoires | filterAll: inputSearchText" class="text-center">
            <td class="font-weight-bold text-wrap">
                {{labo.name}}
            </td>

            <td class="font-weight-bold">
                {{labo.tel}}
            </td>

            <td class="font-weight-bold text-wrap">
                {{labo.adresse}}
            </td>

            <td class="text-center">
                <button (click)="editLabo(labo)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </button>
            </td>
            <td class="text-center">
                <button (click)="deleteLabo(labo)" class="btn btn-sm btn-danger shadow-none py-1 px-2"
                    tooltip="Configurer">
                    <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!--<ng-template #showMessage>
    <div>{{ laboratoires?.message }}</div>
</ng-template>-->