<div class="card card-box">
  <div class="card-header page-bg d-flex justify-content-between">
    <h5 class="modal-title text-primary pl-4">Réglement</h5>
    <button (click)="closeModal()"  type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body p-0">
    <div class="p-5">
      <div class="table-responsive">
        <perfect-scrollbar [autoPropagation]="true" class="scroll-area-md">
          <table class="table table-hover text-nowrap mb-0 table-borderless">
            <thead>
              <tr>
                <th>Date</th>
                <th>N° consultation</th>
                <th class="text-left">Montant consultation</th>
                <th class="text-center">Déjà réglé</th>
                <th class="text-center">Montant réstant</th>
                <th class="text-center">Montant à régler</th>
                <th class="text-center">Restant aprés réglement</th>
              </tr>
            </thead>
            <tbody *ngIf="reglement">
              <tr *ngFor="let reg of reglement">
                
                <td>{{reg.dateConsultation}}</td>
                <td>
                  {{reg.consultation_id}}
                </td>
                <td>
                  {{reg.montant}}
                </td>
                <td class="text-center">
                  <span *ngIf="reg.montant_regle">{{reg.montant_regle}}</span>
                  <span *ngIf="!reg.montant_regle">0</span>
                </td>
                <td>
                  <span *ngIf="reg.reste">{{reg.reste}}</span>
                  <span *ngIf="!reg.reste">0</span>
                </td>
                <td>
                  <span *ngIf="reg.reste">{{reg.reste}}</span>
                  <span *ngIf="!reg.reste">{{reg.montant}}</span>
                </td>
                <td>
                  0
                </td>
              </tr>
            </tbody>
          </table>
        </perfect-scrollbar>
      </div>
    </div>
    <div class="divider mb-5"></div>
    <form (ngSubmit)="remplirRdvPaiement(f)" #f="ngForm">
      <div class="px-5 pb-4">
        <div class="row">
          <div class="col-12 col-sm-6">
            <!-- Date règlement -->
            <div class="position-relative row form-group">
              <label class="col-sm-4 col-form-label" for="dateNaissance">Date règlement</label>
              <div class="col-sm-8">
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker
                  class="form-control" placeholder="Select date" type="text" id="dateReglement" name="dateReglement"
                  #dateReglement="ngModel" required [(ngModel)]="myPaiement.dateReglement" [ngClass]="{ 'is-invalid': f.submitted && dateReglement.invalid ,
               'is-valid': f.submitted && dateReglement.valid }">
              </div>
            </div>
            <!-- Type de paiement -->
            <div class="position-relative row form-group">
              <label class="col-sm-4 col-form-label" for="typePaiement">Type de paiement</label>
              <div class="col-sm-8">
                <select class="form-control" name="typePaiement" id="typePaiement" [ngModel]="myPaiement.typePaiement">
                  <option> selectionner un type de paiement</option>
                  <option value="Chéque">Chéque</option>
                  <option value="Espece">Espece</option>
                  <option value="Effet">Effet</option>
                  <option value="Virement">Virement</option>
                  <option value="Acompte">Acompte</option>
                </select>
              </div>
            </div>
            <!-- Montant à regler -->
            <div class="position-relative row form-group">
              <label class="col-sm-4 col-form-label" for="montant">Montant à regler</label>
              <div class="col-sm-8">
                <input class="form-control " (input)="changeMontant($event)" [ngClass]="{ 'is-invalid': f.submitted && montant.invalid ,
                     'is-valid': f.submitted && montant.valid }" id="montant" #montant="ngModel" required
                  name="montant" [ngModel]="myPaiement.montant" type="text">
                <!--<div class="invalid-feedback" *ngIf="!montant.valid">Vous devez selectionné un patient</div>-->
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <!-- Observation -->
            <div class="position-relative row form-group">
              <label class="col-sm-4 col-form-label" for="observation">Observation</label>
              <div class="col-sm-8">
                <textarea id="observation" #observation="ngModel" name="observation" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && observation.invalid ,
        'is-valid': f.submitted && observation.valid }" rows="3" name="description"
                  [ngModel]="myPaiement.observation"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <div *ngFor="let alert of defaultAlerts">
                  <alert *ngIf="alert.show" [type]="alert.type" [dismissible]="dismissible"> {{alert.msg}} </alert>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn m-2 btn-primary" type="submit">
          <!--<span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>-->
          Sauvegarder les modifications
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()"  data-dismiss="modal">Fermer</button>
      </div>
    </form>
  </div>
</div>
