<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="nom">Nom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myAnnuaire.nom" id="nom" aria-describedby="emailHelp" >
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="prenom">Prénom</label>
            <div class="col-sm-9">
              <input class="form-control" id="prenom" name="prenom" [(ngModel)]="myAnnuaire.prenom" 
                                      placeholder="entrer prenom" type="text"  >
            </div>
          </div>
          <div class="position-relative row form-group">
              <label class="col-sm-3 col-form-label" for="tel">Tel</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myAnnuaire.tel" id="tel" aria-describedby="emailHelp" >
              </div>
              <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
          </div>
          
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="gsm">Gsm</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myAnnuaire.gsm" id="gsm" aria-describedby="emailHelp" >
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="email">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myAnnuaire.email" id="email" aria-describedby="emailHelp" >
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="inpe">Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="myAnnuaire.typeRep" id="type" aria-describedby="emailHelp" >
            </div>
          </div>
          <!--<div class="position-relative row form-group">
            <label class="col-sm-3 col-form-label" for="fax">Fax</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="myCentreSoin.fax" id="fax" aria-describedby="emailHelp" >
            </div>
          </div>-->
          <button type="submit" class="btn btn-primary" (click)="persist()">Enregistrer</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-box mb-5">
            <div class="card-header py-3">
              <div class="card-header--title font-size-lg">
                Support board
              </div>
              <div class="card-header--actions">
                <button class="btn btn-sm btn-neutral-secondary" type="button">
                          <span class="btn-wrapper--icon">
                              <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
                          </span>
                  <span class="btn-wrapper--label">
                              Add ticket
                          </span>
                </button>
              </div>
            </div>
            <div class="divider"></div>
            <div class="table-responsive">
              <table  class="table table-hover text-nowrap mb-0" >
                <thead>
                <tr>
                  <th class="bg-white">Nom</th>
                  <th class="bg-white">Prénom</th>
                  <th class="bg-white">Tel</th>
                  <th class="bg-white">Fax</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let annuaire of annuaires">
                  <td class="font-weight-bold">
                    {{annuaire.nom}}
                  </td>
                  <td class="font-weight-bold">
                    {{annuaire.prenom}}
                  </td>
                  <td class="font-weight-bold">
                    {{annuaire.tel}}
                  </td>
                  <td class="font-weight-bold">
                    {{annuaire.fax}}
                  </td>
                </tr>                
                </tbody>
              </table>
              <!--<div class="table-responsive">
                <ng2-smart-table class="table text-nowrap table-bordered" [settings]="settings" [source]="data"></ng2-smart-table>
              </div>-->
            </div>
            
          </div>
    </div>
  </div>

  