<div class="app-inner-content-layout app-inner-content-layout">
    <!--<div class="d-flex bg-secondary d-lg-none p-4 order-0 justify-content-between align-items-center">
      <button (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" class="btn btn-sm btn-primary px-3" type="button">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>xx
      </button>
      <button (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" class="btn btn-sm btn-primary px-3" type="button">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>xxZ
      </button>
    </div>-->
    <app-nav-praticien [category]="category.page" (event)="onFavoriteChanged($event)"></app-nav-praticien>
    <div class="app-inner-content-layout--main bg-white">
      <div>
        <div class="px-5 py-4 bg-light text-center text-xl-left">
          <div class="row">
            <div class="col-xl-12">
              <div>
                <h5 class="display-4 mt-1 mb-2 font-weight-bold">Paramètres Praticien</h5>
              </div>
            </div>
            <!-- <div class="col-xl-5 d-flex align-items-center justify-content-start mt-4 mt-xl-0 justify-content-xl-end">
              <div class="mx-auto mx-xl-0">
                <a [routerLink]="" class="btn btn-warning d-block d-sm-inline-block" title="Upload">
                  <span class="btn-wrapper--label">
                    Upload
                  </span>
                </a>
              </div>
            </div> -->
          </div>
        </div>
        <div class="divider bg-dark opacity-2"></div>
      </div>
      <perfect-scrollbar [autoPropagation]="true">
        <div class="px-5">
         <p class="text-black-50 mb-0 py-4">Cumque pertinacius ut legum gnarus accusatorem flagitaret atque sollemnia</p>
          <ng-container *ngIf="page.title=='Salle'">
            <app-salle></app-salle>
          </ng-container>
          <ng-container *ngIf="page.link=='/user-type'">
            <app-user-type></app-user-type>
          </ng-container>
          <ng-container *ngIf="page.link=='/annuaire'">
            <app-annuaire></app-annuaire>
          </ng-container>
          <ng-container *ngIf="page.title=='Etablissment'">
            <app-centre-soin></app-centre-soin>
          </ng-container>
          <ng-container *ngIf="page.link=='/type-consultation'">
            <app-type-consultation></app-type-consultation>
          </ng-container>
          <ng-container *ngIf="page.link=='/specialite'">
            <app-specialite></app-specialite>
          </ng-container>
        </div>
      </perfect-scrollbar>
    </div>
  
    <!--<div (click)="toggleMobileSidebar1 = !toggleMobileSidebar1" [ngClass]="{'active' : toggleMobileSidebar1}"
      class="sidebar-inner-layout-overlay"></div>
    <div (click)="toggleMobileSidebar2 = !toggleMobileSidebar2" [ngClass]="{'active' : toggleMobileSidebar2}"
      class="sidebar-inner-layout-overlay"></div>-->
  </div>
  