<table class="table table-hover text-nowrap mb-0">
    <thead>
        <tr>
            <th class="text-center">Nom Commercial</th>
            <th class="text-center">Designation</th>
            <th class="text-center">Posologie</th>
            <th class="text-center">Prix Achat</th>
            <th class="text-center">Quantité</th>
            <th class="text-center">DCIs</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let medi of medicaments | filterAll: inputSearchText" class="text-center">
            <td class="font-weight-bold text-wrap">
                {{medi.nomCommercial}}
            </td>
            
            <td class="font-weight-bold text-wrap">
                {{medi.designation}}
            </td>

            <td class="font-weight-bold">
                {{medi.posologie}}
            </td>

            <td class="font-weight-bold text-wrap">
                {{medi.prixAchat}}
            </td>

            <td class="font-weight-bold text-wrap">
                {{medi.quantite}}
            </td>

            <td class="font-weight-bold text-wrap">
                {{medi.utilisation}}
            </td>

            <td class="text-center">
                <button (click)="editMedi(medi)" class="btn btn-sm btn-dark shadow-none py-1 px-2" tooltip="Configurer">
                    <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </button>
            </td>
            <td class="text-center">
                <button (click)="deleteMedi(medi)" class="btn btn-sm btn-danger shadow-none py-1 px-2"
                    tooltip="Configurer">
                    <fa-icon [icon]='faTrashAlt' class="d-block"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>