<div class="calendar-component">
  <!--<div bsModal #modal id="modal" #formModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card bg-secondary shadow-none border-0">
                    <div class="card-header d-block bg-white pt-4 pb-5"><app-rdv  ></app-rdv>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>-->



  <ng-template #popoverContent4>

    <!--<div class="card-footer bg-white p-3 text-center d-block" (click)="showDossierMedical('ttt')">
        <a [routerLink]="" class="btn btn-sm btn-success mr-1">
            <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>
            Dossier médical
        </a>
        <a [routerLink]="" class="btn btn-sm btn-danger ml-1" (click)="fichePatient('ttt')">
            <fa-icon [icon]="['fas', 'times']" class="mr-1"></fa-icon>
            Fiche patient
        </a>
    </div>

    <div class="card-footer bg-white p-3 text-center d-block" (click)="editStatut('ttt')">
        <a [routerLink]="" class="btn btn-sm btn-success mr-1">
            <fa-icon [icon]="['fas', 'cog']" class="mr-1"></fa-icon>
            En salle
        </a>
        <a [routerLink]="" class="btn btn-sm btn-danger ml-1" (click)="fichePatient('ttt')">
            <fa-icon [icon]="['fas', 'times']" class="mr-1"></fa-icon>
            Patient vu
        </a>
    </div>-->
  </ng-template>





  <div class="app-inner-content-layout app-inner-content-layout-fixed">
    <!-- <div class="d-flex d-lg-none p-4 order-0 justify-content-between align-items-center">
    <button class="btn btn-sm btn-warning px-3" type="button">
      <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
    </button>
  </div> -->
    <div
      class="app-inner-content-layout--sidebar app-inner-content-layout--sidebar__lg border-right layout-sidebar-open">
      <perfect-scrollbar [autoPropagation]="false">
        <div class="bg-white d-xl-block  p-4">
          <!--J'ai enlever cette classe par ce que il cache le calendrier dans les petites ecrans (d-none )-->
          <bs-datepicker-inline [dateCustomClasses]="dateCustomClasses"
            [bsConfig]="{ containerClass: 'theme-primary',showWeekNumbers: false }" [bsValue]="bsInlineValue"
            class="datepicker-wrapper-flush" (change)="dateSelected($event)"></bs-datepicker-inline>
        </div>
        <div class="divider d-lg-block d-none"></div>
        <div class="px-4 pt-4 pb-3 legende">
          <ul class="nav nav-neutral-primary nav-pills flex-column">
            <li class="nav-header d-flex pb-4 align-items-center" (click)="showElementHtml()">
              <div class="text-primary font-weight-bold">
                Légende
              </div>
              <div class="ml-auto font-size-xs">
                <a [routerLink]="">
                  <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                  <!-- <button [popover]="popoverContent4" class="btn btn-transition-none btn-outline-primary m-2" [outsideClick]="true" container="body" containerClass="popover-custom-wrapper popover-custom-lg bg-midnight-bloom border-0" placement="auto" type="button">

                                    Example VI
                                </button> -->
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 vue_clobale">
                <input class="custom-control-input" id="vue_clobale" name="status" type="radio"
                  (click)="getRdvByStatut('globale')" checked>
                <label class="custom-control-label" for="vue_clobale">Vue globale</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 vu">
                <input class="custom-control-input" id="vu" name="status" type="radio" (click)="getRdvByStatut('4')">
                <label class="custom-control-label" for="vu">Patient vu</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 en_salle">
                <input class="custom-control-input" id="en_salle" name="en_salle" type="radio"
                  (click)="getRdvByStatut('3')">
                <label class="custom-control-label" for="en_salle">Patient En salle</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 avec_rdv">
                <input class="custom-control-input" id="avec_rdv" name="status" type="radio" (click)="xxx">
                <label class="custom-control-label" for="avec_rdv">Avec rendez-vous</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 sans_rdv">
                <input class="custom-control-input" id="sans_rdv" name="status" type="radio"
                  (click)="getRdvByStatut('sans_rdv')">
                <label class="custom-control-label" for="sans_rdv">Sans rendez-vous</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 encaisse">
                <input class="custom-control-input" id="encaisse" name="status" type="radio" (click)="xxx">
                <label class="custom-control-label" for="encaisse">Encaissé</label>
              </div>
            </li>
            <div class="divider mb-3 mt-0  mx-3"></div>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 semaineAll">
                <input class="custom-control-input" id="semaineAll" name="weeks" type="radio"
                  (click)="toggleWeeks(true)">
                <label class="custom-control-label" for="semaineAll">Semaine entière</label>
              </div>
            </li>
            <li class="nav-item">
              <div class="custom-radio custom-control mb-3 semaineTravail">
                <input class="custom-control-input" id="semaineTravail" name="weeks" type="radio"
                  (click)="toggleWeeks(false)">
                <label class="custom-control-label" for="semaineTravail">Semaine du travail</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="divider mt-2"></div>
        <div class="p-4 bg-white">
          <li class="nav-header d-flex pb-3 align-items-center">
            <div class="text-primary font-weight-bold">
              Actes
            </div>
            <div class="ml-auto font-size-xs">
              <a [routerLink]="" class="text-info" placement="left" tooltip="Configurer les actes">
                <fa-icon [icon]="['fas', 'cog']"></fa-icon>
              </a>
            </div>
          </li>
          <div>
            <perfect-scrollbar [autoPropagation]="true" class="scroll-area-md">
              <div class="pb-4 pt-3 pl-3 pr-4" *ngIf="typeConsultations">
                <div class="d-flex align-items-center mb-2" *ngFor="let consult of typeConsultations">
                  <div class="d-flex"  >
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox20" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox20">{{consult.libelle}}</label>
                    </div>
                  </div>
                  <span class="badge m-1 text-white ml-2 px-2" [ngStyle]="{'background-color':consult.couleur}">
                    <ng-container *ngIf="consult.nbre">{{consult.nbre}} </ng-container>
                    <ng-container *ngIf="consult.nbre==0">0 </ng-container>
                  </span>
                </div>
                <!--<div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox32" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox32">Angio CONF</label>
                    </div>
                  </div>
                  <span class="badge m-1  text-white ml-2 px-2" >2 </span>
                </div>

                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox33" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox33">Angio OCT</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-danger text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox4" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox4">Angio OCT CONF</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-dark text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox5" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox5">BLOC</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-info text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox6" type="checkbox">
                      <label class="custom-control-label font-size-md"
                        for="exampleCustomCheckbox6">Consultation</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-primary text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox7" type="checkbox">
                      <label class="custom-control-label font-size-md"
                        for="exampleCustomCheckbox7">Controle</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox8" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox8">Courbe de tens</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-second text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox9" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox9">Echo</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white">2</span>
                </div>
                <div class="divider my-2"></div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox10" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox10">IVT</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox11" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox11">Laser</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="divider my-2"></div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox12" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox12">Laser 20</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox13" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox13">Laser
                          CONF</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox14" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox14">Laser
                          YAG</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <div class="d-flex">
                    <div class="custom-checkbox custom-control">
                      <input class="custom-control-input" id="exampleCustomCheckbox15" type="checkbox">
                      <label class="custom-control-label font-size-md" for="exampleCustomCheckbox15">Laser YAG
                          CONF</label>
                    </div>
                  </div>
                  <span class="badge m-1 badge-warning text-white ml-2 px-2">2</span>
                </div>-->
              </div>
            </perfect-scrollbar>
          </div>
          <!-- <ul class="nav nav-neutral-primary nav-pills flex-column">
            <li class="nav-header d-flex pb-3 align-items-center">
              <div class="text-primary font-weight-bold">
                Statistics
              </div>
              <div class="ml-auto font-size-xs">
                <a [routerLink]="" class="text-success" placement="left" tooltip="Refresh stats">
                  <fa-icon [icon]="['fas', 'cog']"></fa-icon>
                </a>
              </div>
            </li>
          </ul>
          <div class="row font-size-xs">
            <div class="col-lg-6">
              <div class="card border-1 shadow-none bg-light text-center my-2 p-3">
                <div>
                  <fa-icon [icon]="['far', 'user']" class="font-size-xxl text-success"></fa-icon>
                </div>
                <div class="mt-2 line-height-sm">
                  <b class="font-size-lg">345</b>
                  <span class="text-black-50 d-block">friends</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card border-1 shadow-none bg-light text-center my-2 p-3">
                <div>
                  <fa-icon [icon]="['far', 'chart-bar']" class="font-size-xxl text-danger"></fa-icon>
                </div>
                <div class="mt-2 line-height-sm">
                  <b class="font-size-lg">2,693</b>
                  <span class="text-black-50 d-block">messages</span>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="divider"></div>
        <div class="p-4">
          <ul class="nav nav-neutral-primary nav-pills flex-column">
            <li class="nav-header">
              <div class="text-primary font-weight-bold">
                Upcoming meetups
              </div>
            </li>
          </ul>
          <div class="card card-box mt-3 mb-4">
            <div class="card-indicator bg-first"></div>
            <div class="card-body px-4 py-3">
              <div class="pb-3 d-flex justify-content-between">
                <a [routerLink]="">
                  Presentation site design
                </a>
              </div>
              <div class="d-flex align-items-center justify-content-start">
                <div class="badge badge-first px-3">On hold</div>
                <div class="font-size-sm text-danger px-2">
                  <fa-icon [icon]="['far', 'clock']" class="mr-1"></fa-icon>
                  14:22
                </div>
              </div>
            </div>
          </div>
          <div class="card card-box mb-4">
            <div class="card-indicator bg-success"></div>
            <div class="card-body px-4 py-3">
              <div class="pb-3 d-flex justify-content-between">
                <a [routerLink]="">
                  Create UI mockups
                </a>
              </div>
              <div class="d-flex align-items-center justify-content-start">
                <div class="badge badge-success px-3">Fixed</div>
                <div class="font-size-sm text-dark px-2">
                  <fa-icon [icon]="['far', 'clock']" class="mr-1"></fa-icon>
                  09:41
                </div>
              </div>
            </div>
          </div>
          <a [routerLink]="" class="btn btn-pill btn-block btn-sm btn-primary">
            Add more events
          </a>
        </div>
      </perfect-scrollbar>
    </div>
    <div class="app-inner-content-layout--main bg-white p-0 card-box">

      <!-- Partie 1 -->
      <div class="app-inner-content-layout--main__header rounded-0 card-header bg-white p-4 border-bottom">
        <div class="row" *ngIf="optionsCalendar">
          <div>
          </div>
        </div>
        <!--<div class="card-header--actions">
                <a [routerLink]="" class="btn btn-sm btn-first" placement="left" tooltip="Add new event">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </div>-->
      </div>
      <!-- Partie 2 -->
      <div class="app-inner-content-layout--main__header rounded-0 card-header bg-white p-4 border-bottom">
        <div class="row">
          <div class="position-relative row form-group">
            <label class="col-sm-1 col-form-label" for="salle-list">Salle </label>
            <div class="col-sm-4">
              <select class="form-control" name="salle" id="salle-list" (change)="selectSalle($event)">
                <option></option>
                <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
              </select>
            </div>

            <label class="col-sm-2 col-form-label" for="praticien-list">Praticien </label>
            <div class="col-sm-5">
              <select class="form-control" id="praticien-list" name="praticien" (change)="selectPraticien($event)">
                <option value="">Selectionner praticien </option>
                <option *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
              </select>
            </div>
          </div>
          <div class="position-relative row form-group">
            <label class="col-sm-8 col-form-label" for="sexe">Absence praticien </label>
            <div class="col-sm-4 d-flex align-items-center">
              <ui-switch class="toggle-switch toggle-switch-success" size="small" checked></ui-switch>
            </div>
          </div>
        </div>
        <!--<div class="card-header--actions">
                <a [routerLink]="" class="btn btn-sm btn-first" placement="left" tooltip="Add new event">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                </a>
            </div>-->

        </div>
        <!-- Partie 3 : Calendar -->
        <perfect-scrollbar [autoPropagation]="false">
            <div class="p-4">
                <div class='app-calendar'>
                    <full-calendar *ngIf="showCalendar && optionsCalendar"
                    deepChangeDetection="true"
                      #calendar
                      [header]="{
                        left: 'prev,next today',
                        center: 'title',
                        right: 'timeGridDay,timeGridWeek,dayGridMonth,listWeek'
                      }"
                      (eventContent)="optionsCalendar.eventContent"
                      eventLimit="false"
                      displayEventTime="false"
                      [locale]="optionsCalendar.locale"

                      [plugins]="calendarPlugins"
                      [droppable]= "true"
                      [editable]= "true"
                      [events]="calendarEvents"
                      (renderEvent)="onEventRender($event)"
                      (eventRender)="eventMouseover($event)"
                      (eventResize)="calendarEventResize($event)"
                      (dateClick)="handleDateClick($event)"
                      (eventClick)="eventClicked($event)"
                      (eventDrop)="eventDrop($event)"
                      (eventMouseEnter)="showPopover($event)"
                      [weekends]="optionsCalendar.weeksOf"
                      [firstDay]="optionsCalendar.firstDay"
                      [minTime]="optionsCalendar.minTime"
                      [maxTime]="optionsCalendar.maxTime"
                      [slotDuration]="optionsCalendar.slotDuration"
                      [allDaySlot]="optionsCalendar.allDaySlot"
                      [businessHours]="optionsCalendar.businessHours"
                      [buttonText]="optionsCalendar.buttonText"
                      [columnHeaderHtml]="optionsCalendar.columnHeaderHtml"
                      [defaultView]="optionsCalendar.defaultView"
                      [height]="'auto'"
                      [selectable]= "true"
                    ></full-calendar>

                </div>
            </div>
        </perfect-scrollbar>

<!-- Partie 3 : Calendar -->
      <!--</div>


      <perfect-scrollbar [autoPropagation]="false">
        <div class="px-5 py-4">
          <div class='app-calendar'>
            <full-calendar *ngIf="showCalendar && optionsCalendar" deepChangeDetection="true" #calendar
              [defaultView]="optionsCalendar.defaultView" [header]="{
                        left: 'prev,next today',
                        center: 'title',
                        right: 'timeGridDay,timeGridWeek,dayGridMonth,listWeek'
                      }" eventLimit="false" displayEventTime="false" [locale]="optionsCalendar.locale"
              timeZone="Africa/Casablanca" [plugins]="calendarPlugins" [droppable]="true" [editable]="true"
              [selectable]="true" [events]="calendarEvents" (renderEvent)="onEventRender($event)"
              (eventResize)="calendarEventResize($event)" (dateClick)="handleDateClick($event)"
              (eventClick)="eventClicked($event)" (eventDrop)="eventDrop($event)" [weekends]="optionsCalendar.weeksOf"
              [firstDay]="optionsCalendar.firstDay" [minTime]="optionsCalendar.minTime"
              [maxTime]="optionsCalendar.maxTime" [slotDuration]="optionsCalendar.slotDuration"
              [allDaySlot]="optionsCalendar.allDaySlot" [businessHours]="optionsCalendar.businessHours"
              [buttonText]="optionsCalendar.buttonText" [columnHeaderText]="optionsCalendar.columnHeaderText"
              [height]="optionsCalendar.height"></full-calendar>
          </div>
        </div>
      </perfect-scrollbar>--->
    </div>
    <div (click)="toggleMobileSidebar = !toggleMobileSidebar" [ngClass]="{'active' : toggleMobileSidebar}"
      class="sidebar-inner-layout-overlay">xxxxx
    </div>
  </div>


</div>
