<!--

    <form #form="ngForm" (ngSubmit)="remplirSearch(form)">
        <div class="position-relative row form-group">
            <label class="col-sm-1 col-form-label" for="salle">Salle </label>
            <div class="col-sm-2">
            <select class="form-control" name="salle" id="salle" [ngModel]="search.salle">
                <option></option>
                <option *ngFor="let salle of salles" value="{{salle.id}}">{{salle.libelle}}</option>
            </select>
            </div>


           

            
            <label class="col-sm-2 col-form-label" for="date">Date</label>
            <div class="col-sm-2">
                
                <input [bsConfig]="{ containerClass: 'theme-primary', isAnimated: true }" bsDatepicker class="form-control" placeholder="Select date" type="text" id="date" name="date" [(ngModel)]="search.date">
            </div>

            
            
            <label class="col-sm-2 col-form-label" for="praticien">Praticien </label>
            <div class="col-sm-3">
                <select class="form-control" id="praticien" name="praticien" [ngModel]="search.praticien">
                    <option value="">Selectionner praticien </option>
                    <option  *ngFor="let med of medecins " value="{{med.id}}">{{med.firstname}} {{med.lastname}}</option>
                </select>
            </div>
           
            
            
            
            

<div class="position-relative row form-group">
        <div class="col-sm-6">
            <div class="position-relative form-check">
                <label class="form-check-label">
                <input class="form-check-input" name="radio2"  type="radio">
                Afficher tous les rendez-vous de la journée</label></div>
            <div class="position-relative form-check">
                <label class="form-check-label"><input class="form-check-input"  name="radio2" type="radio">
                Afficher seulment les patients en salle d'attente</label></div>


        </div>

        <div class="position-relative row form-group">
                <div class="col-sm-4">
                    <div class="position-relative form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" name="radio2"  type="radio" checked="checked">
                        Afficher tous les rendez-vous de la journée</label></div>
                    <div class="position-relative form-check">
                        <label class="form-check-label"><input class="form-check-input"  name="radio2" type="radio">
                        Afficher seulment les patients en salle d'attente</label></div>
                    
                </div>

                <label class="col-sm-1 col-form-label" for="term">Recherche</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="term" name="term"  aria-describedby="emailHelp"  [ngModel]="search.term">
                </div>

        </div>
    <button class="btn btn-primary" type="submit">Rechercher</button>

    </form>
<div class="row">
    <div class="col-md-6 col-xl-3" *ngFor="let consult of typeConsultationsNbres">
        <div class="card p-3 mb-5">
            <div class="text-black-50 pb-2">
                {{consult.libelle}} 
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <h3 class="display-4 mb-0 text-black">
                    <small class="pr-1 text-black-50">
                        
                    </small>
                    <span [countUp]="consult.nbre" class="text-success"></span>
                </h3>
                <div class="text-success font-weight-bold">
                   
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-box mb-5">
            <div class="card-header py-3">
              <div class="card-header--title font-size-lg">
                Support board
              </div>
              <div class="card-header--actions">
                <button class="btn btn-sm btn-neutral-secondary" type="button">
                          <span class="btn-wrapper--icon">
                              <fa-icon [icon]="['fas', 'plus-circle']" class="text-success"></fa-icon>
                          </span>
                    <span class="btn-wrapper--label">
                    

                    </span>
                    <button type="button" class="btn btn-primary m-2" (click)="formModal.show()">Add</button>
                </button>
              </div>
            </div>
            <div class="divider"></div>

            <tabset type="tabs" class="mb-5">
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('matin')">Matinée </div>
                    </ng-template>
                    <div class="table-responsive">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rdv of listRdv ">
                            <td class="font-weight-bold">
                            {{rdv.lastname}} {{rdv.firstname}}
                            </td>
                        
                        </tr>                
                        </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('midi')">Aprés midi</div>
                    </ng-template>
                    <div class="table-responsive">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            <th >Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rdv of listRdv ">
                                <td class="font-weight-bold" >
                                {{rdv.lastname}} {{rdv.firstname}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage()">Dossier Médical</button>
                                 </td>
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="cancelRdv()">Annuler rdv</button>
                                 </td>
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage()">Document patient</button>
                                 </td>
                                 <td>
                                    <button type="button" class="btn btn-primary m-2" (click)="goToPage()">Modification patient</button>
                                 </td>
                            </tr>               
                        </tbody>
                        </table>
                    </div>
                </tab>
                <tab>
                    <ng-template tabHeading >
                        <div (click)="getTypeOfDay('all')">Toute la journée</div>
                    </ng-template>
                    <div class="table-responsive">
                        <table  class="table table-hover text-nowrap mb-0" >
                        <thead>
                        <tr>
                            
                            <th class="bg-white">Nom et prénom</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rdv of listRdv ">
                                <td class="font-weight-bold" >
                                {{rdv.lastname}} {{rdv.firstname}}
                                </td>
                            
                            </tr>                
                        </tbody>
                        </table>
                    </div>
                </tab>
            </tabset>
            
            
          </div>
    </div>
  </div>
</div>
  

            <div class="table-responsive">
              <table  class="table table-hover text-nowrap mb-0" >
                <thead>
                <tr>
                  <th class="bg-white">N° dossier</th>
                  <th class="bg-white">Civilité</th>
                  <th class="bg-white">Nom et prénom</th>
                  <th class="bg-white">Tel 1</th>
                  <th class="bg-white">Tel 2</th>
                  <th class="bg-white">Mutuelle</th>
                  <th class="bg-white">Ville</th>
                  <th class="bg-white">Diagnostic</th>
                  <th class="bg-white">comorbidite</th>
                  <th class="bg-white">Date derniere consultation</th>
                  <th class="bg-white">Age Patient</th>
                  <th class="bg-white">Reste à régler</th>
                  <th class="bg-white">Adressé par</th>
                  <th class="bg-white">Médecin traitant</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let patient of patients$| async">
                  <td class="font-weight-bold" (click)="show(patient)">
                    {{patient.lastname}} {{patient.firstname}}
                  </td>
                  <td class="font-weight-bold">
                    {{patient.cin}}
                  </td>
                  <td class="font-weight-bold">
                    {{patient.tel}}
                  </td>
                  <td class="font-weight-bold">
                    {{patient.adresse}}
                  </td>
                </tr>
                </tbody>
              </table>
              
            </div>-->
