<div class="card shadow-none border-0 rounded-0">
  <div class="card-header text-center text-sm-left pt-ms-0">
    <h2 class="font-weight-bold text-primary">
      Connexion
    </h2>
    <p class="font-size-md text-black-50">
      Connectez-vous dans votre espace <b>e-elaje pro</b>
    </p>
  </div>
  <div class="card-body">
    <form (ngSubmit)="remplirUser(f)" #f="ngForm">
      <div class="form-group mb-4">
        <div class="d-flex justify-content-start">
          <label>Nom d'utilisateur</label>
        </div>
        <input class="form-control" placeholder="Nom d'utilisateur" type="email" [(ngModel)]="user.username"
        name="username">
      </div>
      <div class="form-group mb-4">
        <div class="d-flex justify-content-between">
          <label>Mot de passe</label>
          <a [routerLink]="['/mot-de-passe-oublie']" class="text-black-50">Mot de passe oublié?</a>
        </div>
        <input class="form-control" placeholder="Tapez votre mot de passe"  type="password" [(ngModel)]="user.password"
        name="password">
      </div>
      <button class="btn btn-lg btn-second btn-block" type="submit">Connexion</button>
    </form>
  </div>
  <div class="card-footer">
    <div class="text-center pt-3 text-black-50 mb-4">Vous n'avez pas de compte ? <a
        [routerLink]="['/pages-register']">Créer
        un compte</a></div>
    <div class="page-bg rounded py-3 px-5 mt-3">
      <div class="text-black-50 text-center mb-3">
        Se connecter avec
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-facebook btn-block btn-sm" tooltip="Facebook" type="button">
            <span class="btn-wrapper--icon">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </span>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-twitter btn-block btn-sm" tooltip="Twitter" type="button">
            <span class="btn-wrapper--icon">
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </span>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-google btn-block btn-sm" tooltip="Gmail" type="button">
            <span class="btn-wrapper--icon">
              <fa-icon [icon]="['fab', 'google']"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
