<div class="header-nav-wrapper header-nav-wrapper-lg rounded-sm px-4 navbar-dark bg-plum-plate">
  <div class="container">
    <div class="header-nav-logo">
      <div class="nav-logo">
        <a [routerLink]="" routerLinkActive="active" title="Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO">
          <i>
            <img alt="Bamburgh Angular Admin Dashboard with NGX Bootstrap PRO" src="assets/images/angular.svg">
          </i>
          <span>e-elaje</span>
        </a>
      </div>
    </div>
    <div class="header-nav-menu d-none d-lg-block">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a [routerLink]="" class="nav-link">Elements</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link active">Widgets</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link">Blocks</a>
        </li>
      </ul>
    </div>
    <div class="header-nav-actions flex-grow-0 flex-lg-grow-1">
      <span class="d-none d-lg-block">
        <a [routerLink]="" class="btn btn-pill btn-second">
          My account
        </a>
      </span>
    </div>
  </div>
</div>
